fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/recognize"
      fd-ref-array="rich"
      then="$ctrl.$progress = $data.reverse(); $ctrl.chartData = $ctrl.parseData($ctrl.$progress)")

it-hit(
  params=`{
    recognizeInterval: $ctrl.$recognizeInterval
  }`
  on-params="$ctrl.$recognizeInterval = $data.recognizeInterval || 50;")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="row"
    layout-align="center start")
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Reconoce las palabras
            div
              br
              span|Sin mover la cabeza, has saltos visuales de izquierda a derecha entre los puntos, haciendo fijaciones en cada uno de ellos, tratando de reconocer las palabras escritas debajo.
              br
              br
              span|Evita la pronunciación en todo momento y oblígate a reconocer las palabras por su forma y no por su significado.
        
        md-divider
          
        .padding-v-quarter
        .md-body-2.padding-h
          b|VELOCIDAD (20 - 100)
        md-slider.padding-h(
          md-discrete
          ng-change="$ctrl.$update = true"
          ng-model-options="{debounce: 200}"
          ng-model="$ctrl.$recognizeInterval"
          step="10" min="20" max="100")

        md-divider
        
        wc-dialog(
          ng-if="$ctrl.$showDemo"
          wc-dialog-template="true"
          wc-dialog-fullscreen="true"
          wc-dialog-modal="false"
          catch="$ctrl.$showDemo = false")
          wc-dialog-template
            md-button.md-icon-button.z5(ng-click="$ctrl.$showDemo = false" style="position: absolute; top: 0; right: 0")
              md-icon|close
            video(
              style="max-height: 100%; max-width: 100%;min-width: 300px;"
              controls="" autoplay="")
              source(src="images/videos/recognize.webm" type="video/webm")
              source(src="images/videos/recognize.mp4" type="video/mp4")
          
        md-card-actions(
          layout="row")
          md-button(ng-click="$ctrl.$showDemo = true")|DEMO
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.recognize.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Resultados pasados (%)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartData"
          chart-options="$ctrl.chartOptions")
      
      md-card(
        ng-repeat="measurement in $ctrl.$progress")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value * 100 | number : 0}}%
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
  it-hit(
    measurement="recognize"
    level=1
    on-score="$ctrl.$recognizeScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$recognizeScore")