fd-dispatcher(
  fd-dispatcher-action=`{
    type: 'CONTENT.ARTICLES.SAVE',
    articleId: $ctrl.articleId,
    article: $ctrl.article
  }`)
  before
    wc-toast(wc-toast-message="Saving...")
  catch
    wc-toast(
      ng-init="$ctrl.catch()"
      wc-toast-message="Error saving article")
  then
    wc-toast(
      ng-init="$ctrl.then()"
      wc-toast-message="Article saved succesfully")      
  