.institutional-footer-wrapper.padding(
  md-colors="::{background: 'institutional-primary-800', borderColor: 'institutional-primary-900'}"
  layout="row"
  layout-align="center center")  
  .container.padding.margin-v(
    md-colors="::{color: 'blueGrey-primary-50'}"
    layout="row"
    layout-xs="column"
    layout-align="space-between end"
    layout-align-xs="center center")
    p.padding-v-half(
      layout="column"
      layout-align="start start"
      layout-align-xs="center center")
      span|&copy; Intelligere 2017
    p.padding-v-half(
      layout="column"
      layout-align="start start"
      layout-align-xs="center center")
      span|Acerca de Intelligere
      span|Features
      span|Precio
    p.padding-v-half(
      layout="column"
      layout-align="start start"
      layout-align-xs="center center")
      span|Soporte
      span|Contacto
      span|Términos y políticas
    p.padding-v-half(
      layout="column"
      layout-align="start start")
      img(
        src="images/payu-white.png"
        style={
          width: '80px',
          height: '40px'
        })

