institutional-footer {
  .institutional-footer-wrapper {
    border-top: 1px;
    border-style: solid;
    margin-top: -1px;
  }
  .md-button {
    padding: .25rem 1rem;
    box-shadow: 0 12px 15px rgba(0,0,0,.15);
  }
}