fd-auth(then="$ctrl.$auth = $data")
  then
    fd-user(then="$ctrl.$user = $data; $ctrl.registration = $data.registration")
      then
        wc-dialog(
          ng-if="$ctrl.$auth && $ctrl.$user && (!$ctrl.$user.isRegistered || !$ctrl.$user.hasCategories)"
          wc-dialog-template="true"
          wc-dialog-fullscreen="false"
          wc-dialog-modal="true")
          wc-dialog-template(style="max-width: 30rem")
            md-progress-linear.md-primary(
              md-mode="determinate"
              ng-value="($ctrl.$currentItem / 4) * 100")
            ng-form.padding(name="registrationForm" layout="column" ng-init="$ctrl.$currentItem = $ctrl.$user.isRegistered ? 4 : 0")
              div(layout="row" layout-align="start center")  
                .padding-h
                  img(
                    style="width: 5rem"
                    src="images/character.png")
                div(layout="column")
                  .md-title|Regístrate en Intelligere
                  .md-body-1.opacity5.margin-v-quarter|Por favor ingresa los siguietes datos para hacer parte de Intelligere
              div(layout="column" flex style="min-height: 20rem")
                div(flex)
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 0")|¿Cómo te llamas?
                md-input-container(ng-if="$ctrl.$currentItem === 0")
                  label|Nombre
                  input(required ng-model="$ctrl.registration.firstName")
                md-input-container(ng-if="$ctrl.$currentItem === 0")
                  label|Apellido
                  input(required ng-model="$ctrl.registration.lastName")
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 1")|¿Cuál es tu edad?
                md-input-container(ng-if="$ctrl.$currentItem === 1")
                  label|Edad
                  input(required ng-model="$ctrl.registration.age")
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 2")|¿A qué institución educativa perteneces? Puede ser colegio, universidad o instituto de cualquier tipo.
                md-input-container(ng-if="$ctrl.$currentItem === 2")
                  label|Tipo de institución
                  md-select(ng-model="$ctrl.registration.institutionType" required)
                    md-option(value="school")|Colegio
                    md-option(value="university")|Universidad
                    md-option(value="independent")|No estoy estudiando
                md-input-container(ng-if="$ctrl.$currentItem === 2 && $ctrl.registration.institutionType && $ctrl.registration.institutionType !== 'independent'")
                  label|Institución educativa
                  input(required ng-model="$ctrl.registration.institution")
                
                // Colegio
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'school'")
                  |¿En qué curso estás y cuáles son tus materias favoritas?
                md-input-container(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'school'")
                  label|Curso
                  input(required ng-model="$ctrl.registration.grade")
                md-input-container(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'school'")
                  label|Materias favoritas
                  md-select(multiple="true" ng-model="$ctrl.registration.classes" required)
                    md-option(value="Idiomas")|Idiomas
                    md-option(value="Español")|Español
                    md-option(value="Historia")|Historia
                    md-option(value="Sociales")|Sociales
                    md-option(value="Biología")|Biología
                    md-option(value="Química")|Química
                    md-option(value="Física")|Física
                    md-option(value="Geografía")|Geografía
                    md-option(value="Arte")|Arte
                    md-option(value="Deportes")|Deportes
                    md-option(value="Música")|Música
                    md-option(value="Estadística")|Estadística
                    md-option(value="Informática")|Informática
                    md-option(value="Matemáticas")|Matemáticas
                    md-option(value="Literatura")|Literatura
                    md-option(value="Filosofía")|Filosofía
                // Universidad
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'university'")
                  |¿En qué carrera y semestre estás?
                md-input-container(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'university'")
                  label|Carrera
                  input(required ng-model="$ctrl.registration.bachelor")
                md-input-container(ng-if="$ctrl.$currentItem === 3 && $ctrl.registration.institutionType === 'university'")
                  label|Semestre
                  input(required ng-model="$ctrl.registration.semester")
                // Temas de interés
                .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 4")|¿Cuáles de los siguientes temas de apasionan? Esta información se usará para darte lecturas acorde a tus gustos y que así puedas disfrutar mientras practicas.
                div(layout="row")
                  md-input-container(flex ng-if="$ctrl.$currentItem === 4")
                    label|Temas de interés (mínimo 5 temas)
                    md-select(multiple="true" ng-model="$ctrl.registration.tags" required md-on-open="$ctrl.showCloseIcon = true" md-on-close="$ctrl.showCloseIcon = false")
                      md-option(value="deportes")|Deportes
                      md-option(value="tecnologia")|Tecnología
                      md-option(value="salud")|Salud
                      md-option(value="destinos")|Destinos
                      md-option(value="moda")|Moda
                      md-option(value="momentos")|Momentos históricos
                      md-option(value="musica")|Música
                      md-option(value="historia")|Historia
                      md-option(value="geografía")|Geografía
                      md-option(value="arte")|Arte
                      md-option(value="entretenimiento")|Entretenimiento
                      md-option(value="negocios")|Negocios
                      md-option(value="política")|Política
                      md-option(value="biografias")|Biografías
                      md-option(value="religion")|Religión
                      md-option(value="cultura")|Cultura
                      md-option(value="animales")|Animales
                      md-option(value="psicologia")|Psicología
                  md-icon(ng-if="$ctrl.$currentItem === 4 && $ctrl.showCloseIcon" style="margin-left: 1rem") close
                
                //- .md-body-1.opacity5(ng-if="$ctrl.$currentItem === 5")
                  |Gracias por introducir tus datos. Ahora Intelligere se acomodará a tus gustos para que no te canses de practicar.
                div(flex)
                md-progress-linear(ng-if="$ctrl.$isLoading" md-mode="indeterminate")
                .md-caption(ng-if="$ctrl.$currentItem === 4 && (!$ctrl.registration.tags.length || $ctrl.registration.tags.length < 5)") Necesitas seleccionar mínimo 5 categorías para tener suficiente variedad en tus lecturas.
                div(layout="row")
                  md-button.md-primary.md-raised(
                    ng-if="$ctrl.$currentItem < 4" flex
                    ng-click="$ctrl.$next()"
                    ng-disabled="registrationForm.$invalid")
                    |Continuar
                  md-button.md-primary.md-raised(
                    ng-if="$ctrl.$currentItem === 4" flex
                    ng-click="$ctrl.$registerUser($ctrl.registration)"
                    ng-disabled="registrationForm.$invalid || $ctrl.registration.tags.length < 5")
                    |Terminar registro