<template lang="pug">
  .padding
    div(layout="row" layout-wrap)
      div(flex)
        .arvo.md-subhead(style="color: #004777")|Adquirir licencias
        .padding-half
        v-divider
        .padding-half
        div(layout="row")
          v-slider(v-model="amount" :max=500)
          .padding-half
          v-text-field(type="number" v-model="amount" style="max-width: 5rem")
        v-divider.margin-v
        div(layout="row" layout-align="start center")
          .md-body-1.opacity75(flex)|{{amount}} licencias anuales
          .md-title.arvo(style="color: #004777")|{{amount * price | currency('$', 0)}}
        .padding
    div(layout="row" layout-align="end")
      v-btn(color="primary" depressed @click="requestLicenses")
        .md-body-2.w800(style="text-transform: none")|Solicitar licencias
</template>
<script>
export default {
  props: ['institutionId'],
  data: () => ({
    loading: false,
    amount: 5,
    price: 100000
  }),
  methods: {
    requestLicenses () {
      const {amount, institutionId} = this
      this.loading = true
      this.$store.dispatch('institution/requestLicense', {amount, institutionId})
        .then(() => {
          this.loading = false
        })
        .catch(err => {
          console.log(err)
          this.loading = false
        })
    }
  }
}
</script>
