<template lang="pug">
  div
    .md-caption.opacity5.padding-v|Datos de administrador
    v-text-field(
      box
      label="Nombre completo"
      v-model="displayName")
    v-text-field(
      box
      label="Teléfono"
      mask="(###) ### - ####"
      v-model="phoneNumber")
    .md-caption.opacity5.padding-v|Datos de cuenta
    v-text-field(
      label="Email"
      box
      v-model="email")
    v-text-field(
      type="password"
      label="Contraseña"
      box
      v-model="password")
    v-text-field(
      type="password"
      label="Repetir Contraseña"
      box
      v-model="password2")
    div(layout="row" layout-align="end")
      v-btn(depressed color="primary" :disabled="$v.$invalid" @click="registerAccount")
        .md-body-2.w800(style="text-transform: none")|Crear cuenta
</template>
<script>
import {required, sameAs, minLength, email} from 'vuelidate/lib/validators'
export default {
  data: () => ({
    displayName: '',
    phoneNumber: '',
    email: '',
    password: '',
    password2: ''
  }),
  validations: {
    displayName: {required, minLength: minLength(6)},
    phoneNumber: {required, minLength: minLength(10)},
    email: {required, email},
    password: {required, minLength: minLength(6)},
    password2: {required, sameAs: sameAs('password')}
  },
  methods: {
    registerAccount () {
      const {displayName, phoneNumber, email, password} = this
      this.$store.dispatch('auth/registerAccount', {
        email,
        password,
        displayName,
        phoneNumber
      })
    }
  }
}
</script>
