<template lang="pug">
  .padding-half
    .md-body-1(v-if="!hasContinued")
      span.opacity5|Realiza el pago a esta cuenta y llámanos al&nbsp;
      a(href="tel:+57 (311) 311 - 1111")|(311) 311 - 1111
      span.opacity5|&nbsp;para que activemos tu cuenta.
    .md-body-1(v-else)
      span.opacity5 Estaremos revisando tu solicitud y aprobaremos tu cuenta institucional apenas hayamos verificado el ingreso del pago.
    .padding-v-half
    div(layout="row" v-if="!hasContinued")
      div(flex layout="column" layout-align="center center")
        .md-title.opacity5|Monto
        .md-headline.arvo(style="color: #004777")|{{amount * price * 1.19 | currency('$', 0)}}
        .padding-quarter
        .md-title.center.opacity5|Cuenta de Ahorros Davivienda
        .md-display-1.arvo(style="color: #004777")|3213676201232
      div(flex)
        .elevation-2.padding.radius-half(style="background: #fafafa")
          .md-body-2.w800(style="color: #004777")|FACTURA
          .padding-half
          .opacity5(layout="row")
            .md-body-1(flex)|{{amount}} estudiantes
            .md-body-1|{{amount}} x ${{(price).toLocaleString('es')}} * 1 año
          v-divider.margin-v-half
          .opacity5(layout="row")
            .md-body-1(flex)|Subtotal
            .md-body-1|${{(amount * price).toLocaleString('es')}} * 1 año
          .padding-quarter
          .opacity5(layout="row")
            .md-body-1(flex)|IVA
            .md-body-1|${{(amount * price * 0.19).toLocaleString('es')}} * 1 año
          .md-divider.margin-v-half
          div(layout="row")
            .md-body-2.w800(flex style="color: #004777")|TOTAL
            .md-body-1|${{(amount * price * 1.19).toLocaleString('es')}} * 1 año
    div(v-if="!hasContinued" layout="row" layout-align="end" style="margin-top: 1rem")
      v-btn(color="primary" depressed @click="continuePayment")
        span.nunito Continuar
</template>
<script>
// import _ from 'lodash'
export default {
  props: ['institutionId', 'institution'],
  data: () => ({
    price: 100000,
    hasContinued: false
  }),
  computed: {
    amount () {
      return this.institution.params.licenseAmount
    }
  },
  methods: {
    continuePayment () {
      this.hasContinued = true
    }
  }
}
</script>
