<template lang="pug">
  div
    .md-caption.opacity5.padding-v|Datos de la institución
    v-text-field(
      box
      label="Nombre de la institución"
      v-model="displayName")
    v-text-field(
      box
      label="Teléfono"
      :mask="phoneNumber.length > 7 ? '(###) ### - ####' : '### - #####'"
      v-model="phoneNumber")
    v-text-field(
      box
      label="Dirección"
      v-model="address")
    v-text-field(
      box
      label="Ciudad"
      v-model="city")
    v-text-field(
      box
      label="País"
      v-model="country")
    div(layout="row" layout-align="end")
      v-btn(depressed color="primary" :disabled="$v.$invalid" @click="createInstitution")
        .md-body-2.w800(style="text-transform: none")|Crear institución
</template>
<script>
import {required, minLength} from 'vuelidate/lib/validators'
export default {
  data: () => ({
    displayName: '',
    phoneNumber: '',
    address: '',
    city: '',
    country: 'Colombia'
  }),
  validations: {
    displayName: {required, minLength: minLength(6)},
    phoneNumber: {required, minLength: minLength(7)},
    address: {required, minLength: minLength(7)},
    city: {required, minLength: minLength(3)},
    country: {required, minLength: minLength(5)}
  },
  methods: {
    createInstitution () {
      const {displayName, phoneNumber, address, city, country} = this
      this.$store.dispatch('institution/create', {
        displayName,
        phoneNumber,
        address,
        city,
        country
      })
    }
  }
}
</script>
