<template lang="pug">
  .padding-half
    div(layout="row" layout-wrap)
      div(flex)
        .arvo.md-subhead(style="color: #004777")|Añadir grupo
        .padding-half
        v-divider
        .padding-half
        v-text-field.nunito(v-model="newGroup.displayName" box label="Nombre del grupo" persistent-hint hint="Pueden ser salones como '5A', '5B' o grados enteros como 'Quinto'")
        .md-caption.padding-v.nunito.w800(style="text-transform: uppercase; color: #004777")|Administrador del grupo
        v-text-field.nunito(v-model="newGroup.user.displayName" box label="Nombre completo")
        v-text-field.nunito(v-model="newGroup.user.email" box label="Email" @input="lookupUser" :hint="newGroup.user.uid ? 'El usuario ya está registrado (se le otorgará acceso a la institución)' : ''" persistent-hint)
        v-text-field.nunito(v-if="!newGroup.user.uid" v-model="newGroup.user.password" box label="Contraseña")
        div(layout="row" layout-align="end")
          v-btn(outline color="secondary" @click="addGroup" :disabled="$v.$invalid" :loading="loadingEmail")
            .md-body-2.w800(style="text-transform: none")|Añadir grupo
      .arvo.md-subhead(v-show="groups.length" flex=100 style="color: #004777")|Grupos
      .padding-quarter(:flex="$vuetify.breakpoint.smAndDown ? 100 : 33" v-for="(item, index) in groups" :key="index")
        .elevation-2.radius-half(layout="row")
          .padding(flex)
            .md-title.arvo|{{item.displayName}}
            .md-caption|{{item.user.displayName}}
            .md-caption|{{item.user.email}}
            .md-caption.opacity5|{{item.user.uid ? 'Usuario existente' : 'Nuevo usuario'}}
          v-btn(icon @click="groups.splice(index, 1)")
            v-icon(color="secondary")|delete
    div(layout="row" layout-align="end")
      v-btn(color="primary" depressed v-show="groups.length" @click="createGroups" :loading="loadingGroups")
        .md-body-2.w800(style="text-transform: none")|Crear grupos
</template>
<script>
import _ from 'lodash'
import {required, email, minLength} from 'vuelidate/lib/validators'
export default {
  props: ['institutionId'],
  data: () => ({
    groups: [],
    loadingEmail: false,
    loadingGroups: false,
    newGroup: {
      displayName: '',
      user: {
        displayName: '',
        email: '',
        password: ''
      }
    },
    newName: ''
  }),
  validations: {
    newGroup: {
      displayName: {required},
      user: {
        displayName: {required, minLength: minLength(6)},
        email: {required, email},
        password: {required, minLength: minLength(6)}
      }
    }
  },
  methods: {
    addGroup () {
      const {displayName, user: {displayName: userName, email, password, uid}} = this.newGroup
      this.groups.push({
        displayName,
        user: {
          displayName: userName,
          email,
          password,
          uid
        }
      })
      this.newGroup = {
        displayName: '',
        user: {
          uid: '',
          displayName: '',
          email: '',
          password: ''
        }
      }
    },
    createGroups () {
      const {groups, institutionId} = this
      this.loadingGroups = true
      this.$store.dispatch('groups/createGroups', {groups, institutionId})
        .then(() => {
          this.loadingGroups = false
        })
        .catch(err => {
          console.log(err)
          this.loadingGroups = false
        })
    },
    lookupUser: _.debounce(function () {
      const {email} = this.newGroup.user
      this.loadingEmail = true
      this.$store.dispatch('auth/lookupEmail', email)
        .then(uid => {
          if (uid) {
            this.newGroup.user.uid = uid
            this.newGroup.user.password = uid
          } else {
            this.newGroup.user.password = this.newGroup.user.uid ? '' : this.newGroup.user.password
            this.newGroup.user.uid = ''
          }
          this.loadingEmail = false
        })
    }, 500)
  }
}
</script>
