<template lang="pug">
  .absolute-fill(layout="column")
    .md-content(flex layout="column" layout-align="center center")
      .padding-half.container-half
        .elevation-10.padding.radius.white--background
          .padding(layout="column")
            div(layout="row" layout-align="start center")
              v-btn(icon @click="$store.dispatch('auth/signOut')")
                v-icon(color="secondary")|arrow_back
              .md-headline.arvo(style="color: #004777")|Acceso restringido
            .md-body-1.padding-h.opacity5
              |No tienes acceso a esta institución. Verifica con el admimnistrador de la institución para que te dé acceso o ve a la&nbsp;
              a(href="https://app.intelligere.co")|app de Intelligere
              |&nbsp;si deseas ir al curso.
            v-divider.margin-v
            //- .padding-h-half(layout="column")
              v-text-field(
                name="email"
                v-model="email"
                label="Email"
                box)
              v-text-field(
                name="password"
                v-model="password"
                type="password"
                label="Contraseña"
                box)
            //- div
              v-btn(flat @click="$router.push('registration')" color="secondary" style="margin-left: -4px;")
                .md-body-2.w800(style="text-transform: none")|Olvidé mi contraseña
            //- .padding
              .md-body-1
                span.opacity5|¿No eres un profesor? Puedes ir a la app de intelligere&nbsp;
                a(href="https://app.intelligere.co")|aquí.
            div(layout="row")
              //- v-btn(flat @click="$router.push('registration')" color="secondary" style="margin-left: -4px;")
                .md-body-2.w800(style="text-transform: none")|Crear cuenta
              div(flex)
              v-btn(depressed @click="$store.dispatch('auth/signOut')" color="primary")
                .md-body-2.w800.no-uppercase(style="text-transform: none")|Volver

</template>
<script>
export default {
  data: () => ({})
}
</script>
<style lang="scss" scoped>
</style>

