<template lang="pug">
  .absolute-fill(layout="column")
    .padding
    .padding-h.z5(layout="row" layout-align="start start")
      v-btn(v-show="$vuetify.breakpoint.mdAndDown" icon @click="$store.commit('toggleSidenav')")
        v-icon(color="primary")|menu
      .padding-quarter
      div
        .md-display-1.arvo(style="color: #A30000")|Grupos
        .md-body-1.opacity5|{{(groups || {}).length || 0}} grupos
        .md-body-1.opacity5|{{(students || {}).length || 0}} estudiantes en la institución
        .md-body-1.opacity5(v-if="availableLicenses > -1")|{{availableLicenses}} licencias disponibles
    .relative.letter-background-grey(flex layout="column")
      .overlap
      .md-content.relative(flex)
        .container
          Group(v-for="(group, index) in groups"
            :group="group" :students="students" :institutionId="institutionId" :groupId="group.groupId" :availableLicenses="availableLicenses"
            :isOpen="currentGroup === group.groupId" @open="currentGroup = (currentGroup === group.groupId ? '' : group.groupId); currentGroupId = index" :key="group.groupId"
            @addStudents="newStudents = true")
        .padding.margin
    
    v-hover(:close-delay="0" v-if="isGroupAdmin")
      v-btn.add-group(@click="newGroup = true" fab color="primary" slot-scope="{ hover }" :class="`elevation-${hover ? 8 : 4}`")
        v-icon|add
    NewGroup(v-model="newGroup" :institutionId="institutionId")
    NewStudents(v-model="newStudents" :institutionId="institutionId" :groupId="currentGroup" :group="(groups || [])[currentGroupId]" :students="students")
</template>
<script>
import {
  getStudentsObservable,
  getGroupsObservable,
  getInstitutionObservable
} from '@/helpers/intelligere'
import {getAuthObservable} from '@/helpers/auth'
import Group from '@/components/groups/Group'
import NewGroup from '@/components/groups/NewGroup'
import NewStudents from '@/components/groups/NewStudents'
import {filter, map, tap} from 'rxjs/operators'
export default {
  layout: 'main',
  components: {Group, NewGroup, NewStudents},
  data: () => ({
    currentGroup: '',
    currentGroupId: 0,
    newGroup: false,
    newStudents: false
  }),
  computed: {
    isGroupAdmin () {
      return (this.institution || {}).adminId === (this.auth || {}).uid
    },
    availableLicenses () {
      return this.institution && this.institution.license
        ? this.institution.license.licenseAmount - ((this.students || {}).length || 0)
        : -1
    }
  },
  subscriptions () {
    const students$ = getStudentsObservable()
    const groups$ = getGroupsObservable()
    return {
      institutionId: getInstitutionObservable().pipe(
        filter(institution => institution),
        map(institution => institution.institutionId)
      ),
      institution: getInstitutionObservable(),
      auth: getAuthObservable(),
      groups: groups$.pipe(tap(groups => {
        if (groups.length === 1) {
          this.currentGroup = groups[0].groupId
        }
      })),
      students: students$
    }
  }
}
</script>
<style lang="scss" scoped>
.add-group {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.overlap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: #EFD28D;
}
</style>
