<template lang="pug">
  .absolute-fill.md-content(layout="column")
    div(flex layout="column" layout-align="center center" style="min-height: 500px")
      .padding-half.container-half
        .elevation-10.padding.radius.white--background
          .padding(layout="column")
            .md-headline.arvo.center(style="color: #004777")|Intelligere
            .md-body-1.center.opacity5
              |Inicia sesión con tu cuenta de profesor
            .padding
            .padding-h-half(layout="column")
              v-text-field(
                name="email"
                v-model="email"
                label="Email"
                box)
              v-text-field(
                name="password"
                v-model="password"
                type="password"
                label="Contraseña"
                box)
            div
              v-btn(flat @click="$router.push('registration')" color="secondary" style="margin-left: -4px;")
                .md-body-2.w800(style="text-transform: none")|Olvidé mi contraseña
            .padding.md-body-1(v-if="error" style="color: red") Email o contraseña incorrecta
            .padding
              .md-body-1
                span.opacity5|¿No eres un profesor? Puedes ir a la app de intelligere&nbsp;
                a(href="https://app.intelligere.co")|aquí.
            div(layout="row")
              v-btn(flat @click="$router.push('registration')" color="secondary" style="margin-left: -4px;")
                .md-body-2.w800(style="text-transform: none")|Crear cuenta
              div(flex)
              v-btn(depressed @click="login" :loading="loading" color="primary" :disabled="$v.$invalid")
                .md-body-2.w800.no-uppercase(style="text-transform: none")|Continuar

</template>
<script>
import {email, required, minLength} from 'vuelidate/lib/validators'
export default {
  data: () => ({
    email: '',
    password: '',
    loading: false,
    error: false
  }),
  validations: {
    email: {required, email},
    password: {required, minLength: minLength(6)}
  },
  methods: {
    login () {
      const {email, password} = this
      this.loading = true
      this.error = false
      this.$store.dispatch('auth/signInWithEmailAndPassword', {email, password})
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
          this.error = true
        })
    }
  }
}
</script>
<style lang="scss" scoped>
</style>

