<template lang="pug">
  .absolute-fill(layout="column")
    .md-content(flex layout="column" layout-align="start center")
      .padding-half
      .padding-half.container
        .elevation-10.padding.radius.white--background
          .padding(layout="column")
            div(layout="row" layout-align="start center")
              v-btn(icon @click="$store.dispatch('auth/signOut'); $router.back()")
                v-icon(color="secondary")|arrow_back
              div
                .md-headline.arvo(style="color: #004777")|Registro
                .md-body-1.opacity5
                  |Crea tu cuenta de institución para comenzar
            
            .padding
            v-stepper.elevation-0(v-model="currentStep" vertical)
              v-stepper-step(:complete="!!auth" step="1")
                .nunito|Usuario principal
                small|Crear usuario del administrador de la institución
              v-stepper-content(step="1")
                RegistrationAdmin
              v-stepper-step(:complete="currentStep > 2" step="2")
                .nunito|Institución
                small|Crear institución educativa
              v-stepper-content(step="2")
                RegistrationMetadata(v-if="currentStep > 1")
              v-stepper-step(:complete="currentStep > 3" step="3")
                .nunito|Grupos
                small|Crear grupos de estudiantes
              v-stepper-content(step="3")
                RegistrationGroups(v-if="currentStep > 2" :institutionId="institutionId")
              v-stepper-step(:complete="currentStep > 4" step="4")
                .nunito
                  |Licencias
                  span(v-if="institution && institution.license") &nbsp;(Licenciado)
                small|Adquirir licencias con base en el número de estudiantes
              v-stepper-content(step="4")
                RegistrationLicenses(v-if="currentStep > 3" :institutionId="institutionId")
              v-stepper-step(:complete="currentStep > 5" step="5")
                .nunito
                  |Pago
                  span(v-if="institution && institution.license") &nbsp;(Realizado)
                small|Pagar licencias
              v-stepper-content(step="5")
                RegistrationPayment(v-if="currentStep > 4" :institution="institution" :institutionId="institutionId")

</template>
<script>
import {email, required, minLength} from 'vuelidate/lib/validators'
import {getAuthObservable} from '@/helpers/auth'
import {getInstitutionObservable} from '@/helpers/intelligere'
import {filter, tap} from 'rxjs/operators'

import RegistrationAdmin from '@/components/registration/RegistrationAdmin'
import RegistrationGroups from '@/components/registration/RegistrationGroups'
import RegistrationLicenses from '@/components/registration/RegistrationLicenses'
import RegistrationMetadata from '@/components/registration/RegistrationMetadata'
import RegistrationPayment from '@/components/registration/RegistrationPayment'

export default {
  components: {RegistrationAdmin, RegistrationGroups, RegistrationLicenses, RegistrationMetadata, RegistrationPayment},
  data: () => ({
    email: '',
    password: '',
    currentStep: 1
  }),
  validations: {
    email: {required, email},
    password: {required, minLength: minLength(6)}
  },
  methods: {
    login () {
      const {email, password} = this
      this.$store.dispatch('auth/signInWithEmailAndPassword', {email, password})
    }
  },
  computed: {
    institutionId () {
      return (this.institution || {}).institutionId
    }
  },
  subscriptions () {
    return {
      auth: getAuthObservable().pipe(
        filter(auth => auth),
        tap(() => {
          this.currentStep = 2
        })
      ),
      institution: getInstitutionObservable().pipe(
        filter(institution => !!institution),
        tap(institution => {
          if ((institution.params || {}).licenseAmount && institution.groups) {
            this.currentStep = 5
          } else if (institution.groups) {
            this.currentStep = 4
          } else {
            this.currentStep = 3
          }
        })
      )
    }
  }
}
</script>
<style lang="scss" scoped>
</style>

