<template lang="pug">
  .absolute-fill(layout="column")
    .padding
    .margin-h(layout="row")
      v-btn(v-show="$vuetify.breakpoint.mdAndDown" icon @click="$store.commit('toggleSidenav')")
        v-icon(color="primary")|menu
      .padding-quarter
      .md-display-1.arvo(style="color: #A30000")|Reportes
      .padding
      div(v-show="!$vuetify.breakpoint.mdAndUp" flex)
      ReportGroups(v-show="$vuetify.breakpoint.mdAndUp" v-model="selectedGroups")
      .padding
      v-select(
        v-model="timeInterval"
        style="max-width: 10rem; min-width: 10rem"
        :items="timeIntervals" item-value="value")
      .padding-half
    .padding-h.margin-h(v-show="$vuetify.breakpoint.smAndDown" layout="row" layout-align="end center" layout-wrap)
      ReportGroups(v-model="selectedGroups")
    .relative.background-grey(flex layout="column" style="background: #fafafa")
      .overlap
      .md-content.relative(flex style="margin-top: -1rem")
        .container
          .padding-h.margin-h(style="margin-top: 1rem")
            v-select(v-if="allReportTypes" solo-inverted flat small-chips :items="allReportTypes" placeholder="Elige un reporte" multiple v-model="reportTypes" item-text="displayName" item-value="lessonId")
          .elevation-2.white--background.margin.padding.radius-half(v-show="!reports.length")
            .padding-half
              .md-subhead.center.padding-v.margin-v.opacity5|Selecciona un grupo para generar un reporte
          Report(v-for="(report, index) in reports" :report="report" :structure="structure" :reportTypes="reportTypes" :key="index")
    v-hover(:close-delay="0")
      v-btn.print-btn.transition(fab color="primary" slot-scope="{ hover }" :class="`elevation-${hover ? 8 : 4}`")
        v-icon|print
</template>
<script>
import Report from '@/components/reports/Report'
import ReportGroups from '@/components/reports/ReportGroups'
import {getReport, getScoresObservable, getGroupsObservable, getStudentsObservable, getSessionsObservable, getStructureObservable} from '@/helpers/intelligere'
import _ from 'lodash'
import moment from 'moment'
export default {
  layout: 'main',
  components: {Report, ReportGroups},
  data: () => ({
    totalReports: 5,
    reportTypes: []
  }),
  computed: {
    timeInterval: {
      get () { return this.$store.state.reports.timeInterval },
      set (interval) { this.$store.commit('reports/setTimeInterval', interval) }
    },
    timeIntervals: {
      get () { return this.$store.state.reports.timeIntervals }
    },
    selectedGroups: {
      get () { return this.$store.state.reports.selectedGroups },
      set (groups) {
        this.$store.commit('reports/setSelectedGroups', [])
        setTimeout(() => this.$store.commit('reports/setSelectedGroups', groups), 50)
      }
    },
    reports () {
      const {scores, groups, students, sessions, selectedGroups, timeRanges, structure} = this
      const reports = selectedGroups.length && structure
        ? _.map(timeRanges, ([start, end]) =>
          getReport({scores, sessions, groups, students, selectedGroups, structure, start, end}))
        : []
      return reports
    },
    timeRanges () {
      return _.map(_.range(this.totalReports), i => {
        switch (this.timeInterval) {
          case '6months':
            return [
              moment().startOf('day').add(-i * 6, 'months').hours(0).date(1),
              moment().startOf('day').add(-i * 6, 'months').hours(0).date(1).add(6, 'months').add(-1, 'milliseconds')
            ]
          case '2months':
            return [
              moment().startOf('day').add(-i * 2, 'months').hours(0).date(1),
              moment().startOf('day').add(-i * 2, 'months').hours(0).date(1).add(2, 'months').add(-1, 'milliseconds')
            ]
          case 'monthly':
            return [
              moment().startOf('day').add(-i, 'months').hours(0).date(1),
              moment().startOf('day').add(-i, 'months').hours(0).date(1).add(1, 'months').add(-1, 'milliseconds')
            ]
          case 'weekly':
            return [
              moment().startOf('day').add(-i, 'weeks').hours(0).day(1),
              moment().startOf('day').add(-i, 'weeks').hours(0).day(1).add(1, 'weeks').add(-1, 'milliseconds')
            ]
          case 'daily':
            return [
              moment().startOf('day').add(-i, 'days').hours(0),
              moment().startOf('day').add(-i, 'days').hours(0).add(1, 'days').add(-1, 'milliseconds')
            ]
          default:
            break
        }
      })
    },
    colors () {
      return this.$store.state.colors
    },
    allReportTypes () {
      if (this.structure) {
        const {levels, lessons} = this.structure
        return [
          ..._(levels)
            .map((level, levelId) => {
              if (level) {
                return [
                  {divider: true},
                  {header: `Nivel ${levelId}`},
                  ..._.map(_.keys(level.lessons), lessonId => {
                    const {displayName} = lessons[lessonId]
                    return {
                      displayName,
                      lessonId
                    }
                  })
                ]
              }
            })
            .compact()
            .flattenDeep()
            .value()
        ]
      }
    }
  },
  subscriptions () {
    return {
      scores: getScoresObservable(),
      sessions: getSessionsObservable(),
      groups: getGroupsObservable(),
      students: getStudentsObservable(),
      structure: getStructureObservable()
    }
  }
}
</script>
<style lang="scss" scoped>
.print-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.overlap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // height: 7rem;
  background: #EFD28D;
}
</style>
