<template lang="pug">
  .absolute-fill(layout="column")
    .padding-half
    .padding-h.z5(layout="row" layout-align="start center")
      v-btn(v-show="$vuetify.breakpoint.mdAndDown" icon @click="$store.commit('toggleSidenav')")
        v-icon(color="primary")|menu
      .padding-quarter
      .md-display-1.arvo(style="color: #A30000")|Settings
    .relative.letter-background-grey(flex layout="column")
      .overlap
      .md-content.relative(flex)
        .container
          Settings
    
    v-hover(:close-delay="0")
      v-btn.add-group(@click="$store.dispatch('auth/signOut')" fab color="primary" slot-scope="{ hover }" :class="`elevation-${hover ? 8 : 4}`")
        v-icon|exit_to_app
</template>
<script>
import {
  getStudentsObservable,
  getGroupsObservable
} from '@/helpers/intelligere'
import Settings from '@/components/settings/Settings'
export default {
  layout: 'main',
  components: {Settings},
  data: () => ({
    currentReport: -1,
    newGroup: false
  }),
  subscriptions () {
    const students$ = getStudentsObservable()
    const groups$ = getGroupsObservable()
    return {
      groups: groups$,
      students: students$
    }
  }
}
</script>
<style lang="scss" scoped>
.add-group {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.overlap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background: #EFD28D;
}
</style>
