.padding-h(
  layout="row"
  layout-align="center")
    .container.z10(
      layout="column"
      layout-align="center center")
      .md-headline(
        md-colors="::{color: 'grey-primary-50'}")
        |PRECIOS
      p.md-title.font300.center(
        md-colors="::{color: 'grey-primary-50'}")
        |Truffaut copper mug lomo, portland knausgaard scenester food truck trust fund blog swag celiac. Pinterest forage la croix, bespoke flannel cornhole farm-to-table twee banjo occupy seitan.
    