wc-ui-params(
  then="$ctrl.lessonId = $data.lessonId; $ctrl.$showStats = $data.stats; $ctrl.$isInitial = $data.initial")
fd-ref(
  fd-ref-path="structure/lessons/{{$ctrl.lessonId}}"
  then="$ctrl.$lesson = $data")
  then
wc-dialog(
  ng-if="$ctrl.$showDemo"
  wc-dialog-template="true"
  wc-dialog-fullscreen="true"
  wc-dialog-modal="false"
  catch="$ctrl.$showDemo = false")
  wc-dialog-template
    md-button.md-icon-button.z5(ng-click="$ctrl.$showDemo = false" style="position: absolute; top: 0; right: 0")
      md-icon|close
    video(
      style="max-height: 100%; max-width: 100%;min-width: 300px;max-height: 79vh"
      controls="" autoplay="")
      //- source(ng-src="images/videos/{{$ctrl.lessonId}}.webm" type="video/webm")
      source(ng-src="images/videos/{{$ctrl.lessonId}}.mp4" type="video/mp4")
fd-user(then="$ctrl.$isAdmin = $data.isAdmin")
fd-auth(then="$ctrl.$uid = $data.uid;")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/params/{{$ctrl.lessonId}}"
      then="$ctrl.$params = $ctrl.$parseInitialParams($ctrl.$lesson.params); $ctrl.$receiveSavedParams($data)")
    fd-ref(
      ng-if="$ctrl.$lesson"
      fd-ref-path="students/{{$ctrl.$uid}}/scores"
      fd-ref-array="rich"
      then=`
        $ctrl.$sublevels = $ctrl.$lesson.sublevels || [1];
        $ctrl.$sublevel = $ctrl.$getLessonSublevel($ctrl.lessonId, $data, $ctrl.$lesson);
        $ctrl.$progress = $ctrl.$getLessonProgress($ctrl.lessonId, $data, $ctrl.$lesson);
        $ctrl.$progressGlobal = $ctrl.$getLessonProgressGlobal($ctrl.lessonId, $data, $ctrl.$lesson);

        $ctrl.$getPersonalData($ctrl.$uid, $ctrl.lessonId, $ctrl.$progress);

        $ctrl.chartWpm = $ctrl.$getChartData('wpm', $ctrl.$progress, $ctrl.$lesson);
        $ctrl.chartComprehension = $ctrl.$getChartData('comprehension', $ctrl.$progress, $ctrl.$lesson);
        $ctrl.chartNumber = $ctrl.$getChartData('number', $ctrl.$progress, $ctrl.$lesson);
        $ctrl.chartPercentage = $ctrl.$getChartData('percentage', $ctrl.$progress, $ctrl.$lesson);
        $ctrl.chartMilliseconds = $ctrl.$getChartData('milliseconds', $ctrl.$progress, $ctrl.$lesson);
        $ctrl.chartDuration = $ctrl.$getMultipleChartData('duration', $ctrl.$progress, $ctrl.$lesson);

        $ctrl.chartOrderedWpm = $ctrl.$getChartData('wpm', $ctrl.$progress, $ctrl.$lesson, true);
        $ctrl.chartOrderedComprehension = $ctrl.$getChartData('comprehension', $ctrl.$progress, $ctrl.$lesson, true);
        $ctrl.chartOrderedNumber = $ctrl.$getChartData('number', $ctrl.$progress, $ctrl.$lesson, true);
        $ctrl.chartOrderedPercentage = $ctrl.$getChartData('percentage', $ctrl.$progress, $ctrl.$lesson, true);
        $ctrl.chartOrderedMilliseconds = $ctrl.$getChartData('milliseconds', $ctrl.$progress, $ctrl.$lesson, true);

        $ctrl.chartDurationDays = $ctrl.$getChartDurationDays($ctrl.$progress);`)

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-if="$ctrl.$showStats"
        style="margin-left: 0"
        ui-sref="account")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      md-button.md-icon-button(
        ng-if="!$ctrl.$showStats"
        style="margin-left: 0"
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title(flex)|{{$ctrl.$lesson.displayName}}
      .padding-half.margin-v.margin-h-half.md-caption(ng-if="$ctrl.$lesson.unit && $ctrl.$progress.length" style="border-radius: 99px;font-family:sans-serif" ng-style="{background: $ctrl.$personalStats.color}")
        b.padding-h-half(ng-if="$ctrl.$personalStats.label")|{{$ctrl.$personalStats.label}} - {{$ctrl.$personalStats.effectiveness}}%
      
  md-content.relative(
    flex
    style="background: #FDF4EA"
    layout="row"
    layout-align="center start")
    .container.padding-v(layout="column")
      //- Intro
      .md-headline.padding-half(style="opacity: 0.3" flex-order="{{$ctrl.$showStats ? 20 : 0}}")
        |Descripción
      md-card(style="border-radius: 0.5rem" flex-order="{{$ctrl.$showStats ? 20 : 0}}")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            //- .md-headline|{{$ctrl.$lesson.displayName}}
            div
              .md-subhead.opacity75.padding-h-half(style="white-space: pre-wrap; padding-bottom: 0.5rem")|{{$ctrl.$lesson.description}}
            .padding-h.padding-v-half(ng-if="$ctrl.$lesson.params" style="border: 1px solid #ccc; margin-top: 0.5rem")
              div(ng-if="$ctrl.$params" ng-repeat="param in $ctrl.$sortBy($ctrl.$lesson.params, 'index')")
                div(ng-if="param.type === 'number'")
                  div(layout="row" layout-align="start center")
                    div(style="max-width: 10rem; min-width: 10rem")
                      span.md-body-1
                        b {{param.label}}
                    div(style="margin: 0.5rem")
                    md-slider(
                      flex
                      ng-model="$ctrl.$params[param.id]" ng-change="$ctrl.$saveParam(param.id, $ctrl.$params[param.id])"
                      ng-disabled="!$ctrl.$isAdmin && !param.writable"
                      aria-label="{{param.label}}"
                      type="number"
                      min="{{param.min}}"
                      max="{{param.max}}"
                      step="{{param.step}}")
                    div(style="margin: 0.25rem")
                    md-input-container(style="margin-bottom: 0; width: 5rem")
                      input(type="number" ng-model="$ctrl.$params[param.id]" ng-disabled="!$ctrl.$isAdmin && !param.writable" ng-change="$ctrl.$saveParam(param.id, $ctrl.$params[param.id])" min="{{param.min}}" max="{{param.max}}" step="{{param.step}}")
                div(ng-if="param.type === 'boolean'" layout="row" layout-align="start center")
                  .md-body-1|{{param.backlabel}}&nbsp;&nbsp;
                  md-switch(ng-model="$ctrl.$params[param.id]" ng-change="$ctrl.$saveParam(param.id, $ctrl.$params[param.id])" aria-label="{{param.label}}")
                    .md-body-1|{{param.label}}
              .md-caption.opacity5(ng-if="$ctrl.$isAdmin") * Sliders solo habilitados para admins
        md-card-actions.padding-h-half(
          layout="row" layout-align="start center")
          md-button.opacity5(
            ng-if="$ctrl.$lesson.hasVideo"
            ng-click="$ctrl.$showDemo = true")
            b|VER EJEMPLO
          div(flex)
          md-button.md-primary(
            ng-if="$ctrl.$isInitial"
            ng-href="{{$ctrl.$rootUrl.replace('?stats=true', '').replace('?initial=true', '')}}lesson?{{$ctrl.$paramsToQuery($ctrl.$params, $ctrl.$lesson.params)}}&initial=true")
            b|COMENZAR
          md-button.md-primary(
            ng-if="!$ctrl.$isInitial"
            ng-href="{{$ctrl.$rootUrl.replace('?stats=true', '').replace('?initial=true', '')}}lesson?{{$ctrl.$paramsToQuery($ctrl.$params, $ctrl.$lesson.params)}}")
            b|COMENZAR
      //- Progreso
      div(layout="row" layout-wrap ng-if="$ctrl.$progress.length")
        .md-headline.padding-half(flex=100 style="opacity:0.3")|Progreso
        .md-whiteframe-2dp.margin-half.padding-half(ng-if="$ctrl.$personalStats.unit" flex=100 style="border-radius: .5rem" layout="row" layout-align="center end" layout-wrap)
          div(flex=100 layout="row" layout-align="start center")
            .md-subhead.sans.padding-half(flex)
              b|ESTADÍSTICAS
            .padding-half.md-caption(ng-if="$ctrl.$sublevels.length > 1" style="border-radius: 99px;font-family:sans-serif;background: rgb(3, 69, 104); color: white; margin-right: 0.5rem")
              b.padding-h-half Nivel {{$ctrl.$sublevel + 1}}
          div(flex=40 layout="column")
            .padding-half(layout="column" ng-if="$ctrl.$lesson.unit" style="min-width: 8rem")
              .relative(style="height: 100px; width: 100px" md-theme="comparison")
                md-progress-circular.opacity25(class="md-accent" style="position: absolute" md-diameter="100" md-mode="determinate" value="100")
                md-progress-circular(class="md-accent" style="position: absolute" md-diameter="100" md-mode="determinate" value="{{$ctrl.$personalStats.effectiveness}}")
                md-progress-circular.opacity25(class="md-primary" style="position: absolute; top: 10px; left: 10px" md-diameter="80" md-mode="determinate" value="100")
                md-progress-circular(class="md-primary" style="position: absolute; top: 10px; left: 10px" md-diameter="80" md-mode="determinate" value="{{$ctrl.$globalStats.effectiveness}}")
                div(style="position:absolute;top:0;left:0;bottom:0;right:0;" layout="column" layout-align="center center")
                  .md-body-1(style="color: #1976D2")
                    |{{$ctrl.$personalStats.effectiveness}}
                    span.md-caption| %
                  .md-body-1(style="color: #673AB7")
                    |{{$ctrl.$globalStats.effectiveness}}
                    span.md-caption| %
              .md-body-2.sans.opacity75|Efectividad
            .md-body-1.padding-half
              div(layout="row" layout-align="start center")
                div(style="width: 0.75rem; height: 0.75rem; background: #1976D2")
                .padding-h-half.opacity75 Personal
              div(layout="row" layout-align="start center")
                div(style="width: 0.75rem; height: 0.75rem; background: #673AB7")
                .padding-h-half.opacity75 Promedio
          div(layout="row" layout-wrap flex)
            .padding-half(layout="column" flex=50 style="min-width: 8rem")
              .md-title(style="color: #1976D2")|{{$ctrl.$personalStats.size}}
              .md-title(style="color: #673AB7")|{{$ctrl.$globalStats.size / $ctrl.$globalStats.users | number : 1}}
              .md-body-2.sans.opacity75|Intentos totales
            .padding-half(layout="column" flex=50 ng-if="$ctrl.$lesson.unit" style="min-width: 8rem")
              .md-title(style="color: #1976D2")|{{$ctrl.$personalStats.progress * 100 | number: 0 }}%
              .md-title(style="color: #673AB7") --
              .md-body-2.sans.opacity75|Mejora
            .padding-half(layout="column" flex=50 ng-if="$ctrl.$lesson.unit" style="min-width: 8rem")
              .md-title(style="color: #1976D2; height: 25px;")
                span(ng-if="$ctrl.$personalStats.unit === 'milliseconds'") {{$ctrl.$personalStats.mean / 1000 | number : 2}}
                span(ng-if="$ctrl.$personalStats.unit === 'percentage'") {{$ctrl.$personalStats.mean * 100 | number : 0}}
                span(ng-if="$ctrl.$personalStats.unit !== 'milliseconds' && $ctrl.$personalStats.unit !== 'percentage'") {{$ctrl.$personalStats.mean | number: 0}}
                span.md-body-1| {{$ctrl.$lesson.unit === 'number' ? '' : ($ctrl.$lesson.unit === 'milliseconds' ? 's' : ($ctrl.$lesson.unit === 'percentage' ? '%' : $ctrl.$lesson.unit))}}
              .md-title(style="color: #673AB7; height: 25px;")
                span(ng-if="$ctrl.$globalStats.unit === 'milliseconds'") {{$ctrl.$globalStats.mean / 1000 | number : 2}}
                span(ng-if="$ctrl.$globalStats.unit === 'percentage'") {{$ctrl.$globalStats.mean * 100 | number : 0}}
                span(ng-if="$ctrl.$globalStats.unit !== 'milliseconds' && $ctrl.$globalStats.unit !== 'percentage'") {{$ctrl.$globalStats.mean | number: 0}}
                span.md-body-1| {{$ctrl.$lesson.unit === 'number' ? '' : ($ctrl.$lesson.unit === 'milliseconds' ? 's' : ($ctrl.$lesson.unit === 'percentage' ? '%' : $ctrl.$lesson.unit))}}
              .md-body-2.sans.opacity75 {{$ctrl.$lesson.unit === 'milliseconds' ? 'Promedio por palabra' : 'Puntaje promedio'}}
            .padding-half(layout="column" flex=50 style="min-width: 8rem")
              .md-title(style="color: #1976D2")
                |{{$ctrl.$time($ctrl.$personalStats.duration)[0]}}
                span.md-body-1| m
                |&nbsp;{{$ctrl.$time($ctrl.$personalStats.duration)[1]}}
                span.md-body-1| s
              .md-title(style="color: #673AB7")
                |{{$ctrl.$time($ctrl.$globalStats.duration / $ctrl.$globalStats.users)[0]}}
                span.md-body-1| m
                |&nbsp;{{$ctrl.$time($ctrl.$globalStats.duration / $ctrl.$globalStats.users)[1]}}
                span.md-body-1| s
              .md-body-2.sans.opacity75|Tiempo de práctica
          
        .md-whiteframe-2dp.margin-half.padding(ng-if="$ctrl.$personalStats.wpm" flex=100 style="border-radius: .5rem")
          .md-body-1.sans|PORCENTAJE DE MEJORA
          .margin-half
          div(layout="row")
            div(layout="column" flex=45)
              .md-headline.opacity75|{{$ctrl.$personalStats.wpm.wpm.progress * 100 | number: 2}}%
              .md-caption.opacity5|Palabras por minuto
            div(layout="column" flex=45)
              .md-headline.opacity75|{{$ctrl.$personalStats.wpm.comprehension.progress * 100 | number: 2}}%
              .md-caption.opacity5|Comprensión
        
        .md-whiteframe-2dp.margin-half.padding(ng-if="$ctrl.$personalStats.wpm" flex=100 style="border-radius: .5rem")
          .md-body-1.sans|PROMEDIO
          .margin-half
          div(layout="row")
            div(layout="column" flex=45)
              .md-headline.opacity75
                |{{$ctrl.$personalStats.wpm.wpm.mean | number: 0}}
                span.md-body-1|wpm
              .md-caption.opacity5|Palabras por minuto
            div(layout="column" flex=45)
              .md-headline.opacity75
                |{{$ctrl.$personalStats.wpm.comprehension.mean * 100 | number: 0}}
                span.md-body-1|%
              .md-caption.opacity5|Comprensión
      //- Charts
      div(layout="row" layout-align="space-between" layout-wrap ng-if="$ctrl.showStats || $ctrl.$showStats")
        .md-headline.padding-half(flex=100 style="opacity:0.3")|Gráficas
        .md-whiteframe-2dp.margin-half.padding-half(flex=50 ng-if="$ctrl.chartWpm.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|VELOCIDAD DE LECTURA
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}}
            canvas#line.chart.chart-line(
              ng-if="$ctrl.chartGlobalWpm"
              ng-init="$ctrl.chartwpm = $ctrl.$getChartOptions('wpm')"
              chart-data="[$ctrl.chartWpm, $ctrl.chartGlobalWpm]"
              chart-options="$ctrl.chartwpm")
        .md-whiteframe-2dp.margin-half.padding-half(flex ng-if="$ctrl.chartComprehension.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|COMPRENSIÓN
          .margin-h-half
            .md-body-2.padding-v-half.w800|Preguntas correctas
            canvas#line.chart.chart-line(
              ng-if="$ctrl.chartGlobalComprehension"
              ng-init="$ctrl.chartcomprehension = $ctrl.$getChartOptions('comprehension')"
              chart-data="[$ctrl.chartComprehension, $ctrl.chartGlobalComprehension]"
              chart-options="$ctrl.chartcomprehension")
        .md-whiteframe-2dp.margin-half.padding(flex=100 ng-if="$ctrl.chartNumber.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|{{$ctrl.$lesson.unitName || 'INTENTOS PASADOS'}}
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}}
            canvas#line.chart.chart-line(
              ng-if="$ctrl.chartGlobalNumber"
              ng-init="$ctrl.chartnumber = $ctrl.$getChartOptions('number')"
              chart-data="[$ctrl.chartNumber, $ctrl.chartGlobalNumber]"
              chart-options="$ctrl.chartnumber")
        .md-whiteframe-2dp.margin-half.padding(flex=100 ng-if="$ctrl.chartPercentage.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|{{$ctrl.$lesson.unitName || 'INTENTOS PASADOS'}}
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}}
            canvas#line.chart.chart-line(
              ng-if="$ctrl.chartGlobalPercentage"
              ng-init="$ctrl.chartpercentage = $ctrl.$getChartOptions('percentage')"
              chart-data="[$ctrl.chartPercentage, $ctrl.chartGlobalPercentage]"
              chart-options="$ctrl.chartpercentage")
        .md-whiteframe-2dp.margin-half.padding-half(flex=100 ng-if="$ctrl.chartMilliseconds.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|{{$ctrl.$lesson.unitName || 'INTENTOS PASADOS'}}
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}} por palabra
            canvas#line.chart.chart-line(
              ng-if="$ctrl.chartGlobalMilliseconds"
              ng-init="$ctrl.chartmilliseconds = $ctrl.$getChartOptions('milliseconds')"
              chart-data="[$ctrl.chartMilliseconds, $ctrl.chartGlobalMilliseconds]"
              chart-options="$ctrl.chartmilliseconds")
        
        .md-whiteframe-2dp.margin-half.padding-half(flex=50 ng-if="$ctrl.chartOrderedWpm.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|MEJORA DE VELOCIDAD
          .margin-h-half
            .md-body-2.padding-v-half.w800.opacity75|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}}
            canvas#line.chart.chart-line(
              ng-init="$ctrl.chartwpm = $ctrl.$getChartOptions('wpm')"
              chart-data="[$ctrl.chartOrderedWpm]"
              chart-options="$ctrl.chartwpm")
        .md-whiteframe-2dp.margin-half.padding-half(flex ng-if="$ctrl.chartOrderedComprehension.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            B|MEJORA DE COMPRENSIÓN
          .margin-h-half
            .md-body-2.padding-v-half.w800.opacity75|Preguntas correctas
            canvas#line.chart.chart-line(
              ng-init="$ctrl.chartcomprehension = $ctrl.$getChartOptions('comprehension')"
              chart-data="[$ctrl.chartOrderedComprehension]"
              chart-options="$ctrl.chartcomprehension")
        .md-whiteframe-2dp.margin-half.padding(flex ng-if="$ctrl.chartOrderedNumber.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|MEJORA
          .margin-h-half
            .md-body-2.padding-v-half.w800.opacity75|Número alcanzado
            canvas#line.chart.chart-line(
              ng-init="$ctrl.chartnumber = $ctrl.$getChartOptions('number')"
              chart-data="[$ctrl.chartOrderedNumber]"
              chart-options="$ctrl.chartnumber")
        .md-whiteframe-2dp.margin-half.padding(flex ng-if="$ctrl.chartOrderedPercentage.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|MEJORA
          .margin-h-half
            .md-body-2.padding-v-half.w800.opacity75|Porcentaje
            canvas#line.chart.chart-line(
              ng-init="$ctrl.chartpercentage = $ctrl.$getChartOptions('percentage')"
              chart-data="[$ctrl.chartOrderedPercentage]"
              chart-options="$ctrl.chartpercentage")
        .md-whiteframe-2dp.margin-half.padding-half(flex ng-if="$ctrl.chartOrderedMilliseconds.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|MEJORA
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName($ctrl.$lesson.unit)}} por palabra
            canvas#line.chart.chart-line(
              ng-init="$ctrl.chartmilliseconds = $ctrl.$getChartOptions('milliseconds')"
              chart-data="[$ctrl.chartOrderedMilliseconds]"
              chart-options="$ctrl.chartmilliseconds")
        md-content(flex=100 layout="row" style="background: transparent")
          div(layout="row")
            .md-whiteframe-2dp.margin-half.padding(ng-repeat="item in $ctrl.$sublevels" ng-if="$ctrl.chartDuration[$index].length > 1 && $ctrl.lessonId !== 'findNumbers'" ng-style="{ 'border-radius': '.5rem', 'min-width': $ctrl.$sublevels.length > 1 ? '400px' : '550px' }")
              .padding-half
                .md-subhead.sans
                  b|DURACIÓN DEL EJERCICIO
                .md-body-1.opacity5(ng-if="$ctrl.$sublevels.length > 1") Nivel {{$index + 1}}
              .margin-h-half
                .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName('milliseconds')}}
                canvas#line.chart.chart-line(
                  ng-init="$ctrl.chartduration = $ctrl.$getChartOptions('milliseconds')"
                  chart-data="[$ctrl.chartDuration[$index], []]"
                  chart-options="$ctrl.chartduration")
        .md-whiteframe-2dp.margin-half.padding(flex=100 ng-if="$ctrl.chartDurationDays.data.length > 1" style="border-radius: .5rem")
          .md-subhead.sans.padding-half
            b|DURACIÓN POR DÍAS
          .margin-h-half
            .md-body-2.padding-v-half.w800|{{$ctrl.$getUnitName('milliseconds')}}
            canvas#bar.chart.chart-bar(
              chart-data="$ctrl.chartDurationDays.data"
              chart-labels="$ctrl.chartDurationDays.labels")
      .padding-h-half(layout="row" layout-align="center" ng-if="!$ctrl.$showStats && $ctrl.$progress.length")
        md-button(ng-click="$ctrl.showStats = !$ctrl.showStats")|{{$ctrl.showStats ? 'Ocultar' : 'Mostrar'}} gráficas
      //- Ultimo intento
      .md-headline.padding-half(style="opacity:0.3" ng-if="$ctrl.$progress.length")|Resultados
      .padding-h-half.md-caption.serif.opacity5(ng-if="$ctrl.$progress.length")|Último intento
      md-card(
        ng-if="$first"
        style="border-radius: 0.5rem"
        ng-repeat="measurement in $ctrl.$progress")
        .padding-v.padding-h-half(
          layout="row" layout-align="start center")
          .padding-half.margin(ng-if="$ctrl.$lesson.unit" style="border-radius: 99px;" ng-style="{background: measurement.color}")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline(ng-if="measurement.wpm && $ctrl.$lesson.unit")
              span|{{measurement.wpm | number : 0}}&nbsp;
              span.md-caption|ppm
            .md-headline(ng-if="measurement.comprehension && $ctrl.$lesson.unit")
              span|{{measurement.comprehension * 100 | number : 0}}
              span.md-caption|% comprensión
            .md-headline(ng-if="measurement.percentage && $ctrl.$lesson.unit")
              span|{{measurement.percentage * 100 | number : 0}}
              span.md-caption|%
            .md-headline(ng-if="measurement.number && $ctrl.$lesson.unit")
              span|{{measurement.number | number : 0}}&nbsp;
            .md-headline(ng-if="measurement.milliseconds && $ctrl.$lesson.unit")
              span|{{measurement.milliseconds / 1000 | number : 2}}&nbsp;
              span.md-caption|segs
            .md-body-1.opacity5|{{measurement.timestamp | date : 'MMM dd, yyyy'}}
          div(layout="column")
            .md-caption(layout="row" ng-if="$ctrl.$lesson.unit && $ctrl.$sublevels.length > 1")
              .opacity75(style="width: 6rem")|Nivel:
              b.opacity75(style="width: 6rem")|{{measurement.sublevel + 1}}
            .md-caption(layout="row" ng-if="$ctrl.$lesson.unit")
              .opacity75(style="width: 6rem")|Efectividad:
              b.opacity75(style="width: 6rem")|{{measurement.effectiveness}}%
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Hora inicio:
              b.opacity75(style="width: 6rem")|{{measurement.timestamp | date : 'hh:mm:ss a'}}
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Hora fin:
              b.opacity75(style="width: 6rem")|{{measurement.timestamp + measurement.duration | date : 'hh:mm:ss a'}}
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Duración:
              b.opacity75(style="width: 6rem")|{{measurement.duration | date : 'mm:ss'}}
      //- Intentos pasados
      .padding-quarter
      .padding-h-half.md-caption.serif.opacity5(ng-if="$ctrl.$progress.length")|Intentos pasados
      md-card(
        ng-if="$ctrl.$progress.length > 1 && !$first"
        style="border-radius: 0.5rem"
        ng-repeat="measurement in $ctrl.$progress")
        .padding-v.padding-h-half(
          layout-align="start center"
          layout="row")
          .padding-half.margin(ng-if="$ctrl.$lesson.unit" style="border-radius: 99px;" ng-style="{background: measurement.color}")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline(ng-if="$ctrl.$lesson.unit && measurement.wpm")
              span|{{measurement.wpm | number : 0}}&nbsp;
              span.md-caption|ppm
            .md-headline(ng-if="$ctrl.$lesson.unit && measurement.comprehension")
              span|{{measurement.comprehension * 100 | number : 0}}
              span.md-caption|% comprensión
            .md-headline(ng-if="$ctrl.$lesson.unit && measurement.percentage > -1")
              span|{{measurement.percentage * 100 | number : 0}}
              span.md-caption|%
            .md-headline(ng-if="$ctrl.$lesson.unit && measurement.number")
              span|{{measurement.number | number : 0}}&nbsp;
            .md-headline(ng-if="$ctrl.$lesson.unit && measurement.milliseconds")
              span|{{measurement.milliseconds / 1000 | number : 2}}&nbsp;
              span.md-caption.opacity75|segs por palabra
            .md-body-1.opacity5|{{measurement.timestamp | date : 'MMM dd, yyyy'}}
          div(layout="column")
            .md-caption(layout="row" ng-if="$ctrl.$lesson.unit && $ctrl.$sublevels.length > 1")
              .opacity75(style="width: 6rem")|Nivel:
              b.opacity75(style="width: 6rem")|{{measurement.sublevel + 1}}
            .md-caption(layout="row" ng-if="$ctrl.$lesson.unit")
              .opacity75(style="width: 6rem")|Efectividad:
              b.opacity75(style="width: 6rem")|{{measurement.effectiveness}}%
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Hora inicio:
              b.opacity75(style="width: 6rem")|{{measurement.timestamp | date : 'hh:mm:ss a'}}
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Hora fin:
              b.opacity75(style="width: 6rem")|{{measurement.timestamp + measurement.duration | date : 'hh:mm:ss a'}}
            .md-caption(layout="row")
              .opacity75(style="width: 6rem")|Duración:
              b.opacity75(style="width: 6rem")|{{measurement.duration | date : 'mm:ss'}}
        
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$lessonScore")