institutional-header-slider {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .institutional-header-slider-wrapper {
    position: relative;
    height: 110vh;
    width: 100vw;
    background-repeat: repeat;
    p {
      color: rgba(0,0,0,.75);
    }
  }
  .slider-background {
    animation-name: fade-in;
    animation-duration: 2s;
  }
  .slider-image {
    animation-name: fade-in;
    animation-duration: 1s;
  }
  .divider {
    width: 300px;
    height: 1px;
    background: rgba(0,0,0,.1);
  }
}