.institutional-header-slider-wrapper(
  style="background-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQoU2NkIBIwEqmOYTAp7O7ubigtLW1Ad/tgciOucAUA7QsEC7z7cZQAAAAASUVORK5CYII=')"
  layout="row"
  layout-align="center center")
  .slide.z0.container(
    layout="row"
    layout-align="center center")
    .slider-background.background-image.absolute-fill.z0(
      sn-skrollr
      data-0="transform: translateY(0vh)"
      data-100p="transform: translateY(25vh)"
      style={
        'background-image': 'url(images/institutional-bg.png)' 
      })
    .container.z1(
      layout="row"
      layout-align="center center"
      layout-wrap)
      .image(
        sn-skrollr
        data-top-bottom="transform: translateY(12.5vh)"
        data-bottom-top="transform: translateY(-12.5vh)"
        flex-gt-xs=50
        flex-xs=100
        layout="row"
        layout-align="center center")
        //.arrow-left(
          hide-gt-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/back-white.png")
        .slider-image.ratio-4-3.background-image.background-contain.margin-v.md-whiteframe-10dp(
          style={
            'background-image': 'url(images/groups-dashboard-screenshot.png)'
          })
        //.arrow-right(
          hide-gt-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/next-white.png")
      .body(
        flex-xs=90
        flex-gt-xs=50
        layout="row"
        layout-align="center center")
        //.arrow-left(
          hide-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/back-white.png")
        .container-third(
          sn-skrollr
          data-top-bottom="transform: translateY(25vh)"
          data-bottom-top="transform: translateY(-25vh)"
          flex
          layout="column"
          layout-align="center start")
          .md-title
            b|LECTURA RÁPIDA PARA INSTITUCIONES EDUCATIVAS
          .divider.margin-v-half
          .md-subhead
            |Lleva el control de todos tus estudiantes, sus áreas de mejora, fuertes y debilidades, todo desde una interfaz moderna e intuitiva.
          div(
            layout="row"
            layout-align="center")
            .bullets
        //.arrow-right(
          hide-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/next-white.png")
      
      
      
  