.absolute-fill.margin(
  layout="row"
  layout-align="center stretch")
  .relative.container-extended(
    layout="column"
    layout-align="start stretch"
    flex)
    div(ng-repeat="row in $ctrl.$matrix" layout="row" layout-align="space-around center")
      .md-title.padding-half.center(ng-repeat="num in row" flex="{{100 / row.length}}" ng-style="{opacity: num[0] === $ctrl.$currentI ? 1 : 0}") {{num[1]}}
