.landing-pricing-clip(
  md-colors="::{background: 'cyan-primary-600'}")
.landing-pricing-wrapper.z10(
  md-colors="::{background: 'cyan-primary-600'}")
  landing-pricing-title
  div(
    layout="row"
    layout-align="center")
    .container.padding-half(
      layout="row"
      layout-align="center center"
      layout-wrap)
      .padding-half.z10(
        ng-repeat="i in [1]"
        flex=60
        flex-xs=90)
        landing-pricing-card