// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.arrowsWarmup.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Calentamiento con flechas
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      arrows-warmup-excersise-component(
        ng-if="!$ctrl.$data"
        repetitions="2"
        duration="150"
        then="$ctrl.$data = 100")
   
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end") 
      it-hit(
        ng-if="$ctrl.$data"
        measurement="arrowsWarmup"
        value="$ctrl.$data"
        level=4
        score=50)
      fd-timeout(
        fd-timeout-time="500")
        then(ng-init="$ctrl.$back()")
    