<template lang="pug">
  v-autocomplete(
    flat solo-inverted
    v-model="selectedGroups" flex chips multiple
    label="Reportes" placeholder="Escribe el nombre de un usuario o grupo..."
    :items="groups" item-value="groupId" item-text="displayName")
    template(slot="selection" slot-scope="{ item, selected, parent, index }")
      v-chip.white--text(:selected="selected" :style="{backgroundColor: colors[index]}" close @input="parent.selectItem(item)")
        v-icon(left)|mdi-coin
        span|{{item.displayName}}
    template(slot="item" slot-scope="{ item, tile }")
      template(v-if="typeof item !== 'object'")
        v-list-tile-content
          v-list-tile-title
            span.md-caption.w800.uppercase.nunito|{{item}}
      template(v-else)
        v-list-tile-content
          v-list-tile-title
            span.nunito.md-body-1(:class="{w800: !item.studentId}")|{{item.displayName || item}}
          v-list-tile-sub-title
            span.md-caption.nunito(v-if="!item.studentId")|Promedio de grupo
            span.md-caption.nunito(v-if="item.studentId")|Estudiante
</template>
<script>
import {
  getStudentsObservable,
  getGroupsObservable,
  getAutocompleteGroups
} from '@/helpers/intelligere'
import {combineLatest} from 'rxjs'
import {map} from 'rxjs/operators'
export default {
  props: ['value'],
  computed: {
    selectedGroups: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    },
    colors () {
      return this.$store.state.colors
    }
  },
  subscriptions () {
    const students$ = getStudentsObservable()
    const groups$ = getGroupsObservable()
    return {
      groups: combineLatest([
        students$,
        groups$
      ]).pipe(
        map(([students, groups]) => getAutocompleteGroups({students, groups}))
      )
    }
  }
}
</script>
