.padding(
  layout="row"
  layout-align="center")
  .container(
    layout="row"
    layout-align="{{$ctrl.module === 'article' ? 'center' : 'space-between'}} center"
    layout-wrap)
    .image.z10(
      ng-class="{'md-whiteframe-5dp': $ctrl.raised}"
      sn-skrollr
      data-top-bottom="transform: translateY(-7.5vh)"
      data-bottom-top="transform: translateY(7.5vh)"
      flex-order-xs="1"
      flex-order-gt-xs="2"
      flex="{{$ctrl.module === 'article' ? 100 : 45}}"
      flex-xs="{{$ctrl.module === 'article' ? 100 : 100}}"
      layout="row"
      layout-align="center center")
      article-module.container-third(
          ng-if="$ctrl.module === 'article'")
      
      skroll-appear(
        ng-if="$ctrl.module !== 'article' || !$ctrl.module")
        triangles-module.container-third(
          ng-if="$ctrl.module === 'triangles'"
          cycles="2")
        
        .background-image.background-contain(
          ng-class="{'ratio-4-3': !$ctrl.raised, 'ratio-16-9': $ctrl.raised}"
          ng-if="!$ctrl.module"
          ng-style="{ backgroundImage: 'url(' + $ctrl.image + ')' }")
    .body.z10(
      flex-order-xs="2"
      flex-order-gt-xs="{{$ctrl.inverted ? 3 : 1}}"
      flex=50
      flex-xs=100)
      .padding(
        layout="column"
        layout-align="start {{$ctrl.module === 'article' ? 'center': 'start'}}")
        .md-title(
          md-colors="::{color: 'institutional-primary-800'}")
          |{{$ctrl.title}}
        p(
          md-colors="::{color: 'grey-primary-600'}")
          |{{$ctrl.body}}