fd-dispatcher(
  fd-dispatcher-action=`{
    type: 'CONTENT.ARTICLES.SAVE_QUESTIONS',
    articleId: $ctrl.articleId,
    questions: $ctrl.questions
  }`)
  before
    wc-toast(wc-toast-message="Saving...")
  catch
    wc-toast(
      ng-init="$ctrl.catch()"
      wc-toast-message="Error saving questions")
  then
    wc-toast(
      ng-init="$ctrl.then()"
      wc-toast-message="Questions saved succesfully")      
  