wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template.padding-half
    div(
      layout="row")
      .md-title.padding(flex)|Ingresa a tu cuenta
      md-button.md-icon-button(
        style="margin: .5rem"
        ng-click="$ctrl.catch()")
        md-icon|close
    .padding-quarter(
      layout="column"
      layout-align="start stretch")
      md-button.md-raised.md-primary(
        style={
          'background': '#3b5999'
        }
        ng-click="$ctrl.LOGIN='facebook'")
        |INICIA SESIÓN CON FACEBOOK
      
      div(
        layout="row"
        layout-align="center center"
        style={
          margin: '1rem 0'
        })
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
        .md-body-1|o
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
      
      form(
        name="loginForm"
        layout="column"
        layout-align="start stretch")  
        md-input-container(
          style={
            margin: '0 .5rem'
          })
          label|Email
          input(
            required
            type="email"
            ng-model="$ctrl.$credentials.email")
        md-input-container(
          style={
            margin: '0 .5rem'
          })
          label|Contraseña
          input(
            required
            type="password"
            ng-model="$ctrl.$credentials.password")
        md-button.md-raised.md-accent(
          type="submit"
          ng-disabled="!loginForm.$valid"
          ng-click="$ctrl.LOGIN='email'")
          |Iniciar Sesión
        md-button(
          ng-click=`
            $ctrl.then();
            $ctrl.register()`)
          |Registrarme
        md-button(
          ng-click=`
            $ctrl.then();
            $ctrl.forgot({$email: $ctrl.$credentials.email})`)
          |Olvidé mi contraseña
    fd-login(
      ng-if="$ctrl.LOGIN"
      fd-login-credentials="$ctrl.$credentials"
      fd-login-provider="{{$ctrl.LOGIN}}"
      fd-login-popup="true")
      before
        wc-progress(wc-progress-type="linear")
      catch
        wc-toast(
          ng-init="$ctrl.LOGIN = false;"
          wc-toast-message="Error iniciando sesión. Verifica tus credenciales e intenta de nuevo.")
      then
        fd-timeout(
          fd-timeout-time="1000")
          then(ng-init="$ctrl.catch()")
      
    
    