wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template(style="max-width: 600px")
    div(
      layout="column"
      layout-align="start stretch")
      .padding(
        md-colors="::{ backgroundColor: 'grey-300' }"
        layout="column"
        layout-align="start start")
        div(
          layout="row")
          div
            img(
              style="width: 4rem"
              src="images/character.png")
          .padding-quarter
          .md-headline|Suscripción por 1 año de Intelligere
        .md-body-1
          |Comienzo: {{$ctrl.$today|date}}
          br
          |Expiración: {{$ctrl.$year|date}}
        .md-body-1|Esta suscripción te da derecho a todas las futuras actualizaciones de la plataforma hasta el vencimiento de tu suscripción.
      form.padding(
        name="payment"
        layout="column"
        layout-align="start stretch")
        
        md-input-container
          label|Nombre del tarjetahabiente
          input(
            required
            ng-model="$ctrl.card.name")
            
        md-input-container
          label|Teléfono
          input(
            required
            ng-model="$ctrl.card.phone")

        div(
          layout="row")  
          md-input-container(flex)
            label|Número de la tarjeta
            input(
              required
              ng-model="$ctrl.card.number")
          md-input-container(flex=20)
            label|Cuotas
            input(
              required
              ng-model="$ctrl.card.installments")  
        
        div(
          layout="row")  
          md-input-container(flex)
            label|Mes / Año
            input(
              required
              ng-model="$ctrl.card.expiration")
          md-input-container(flex)
            label|CVV
            input(
              required
              ng-model="$ctrl.card.cvv")
              
      div(
        layout="row")
        md-button(
          ng-click="$ctrl.catch()")
          |CANCELAR
        div(flex)
        md-button.md-primary.md-raised(
          ng-disabled="payment.$invalid"
          ng-click="$ctrl.PAY = true")
          |PAGAR
        
  