wc-ui-params(then="$ctrl.level = $data.level")

// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.speed.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|{{$ctrl.$article.content.title}}
      
  md-content.relative(
    flex
    layout="column"
    layout-align="start center")
    
    it-articles(
      then="$ctrl.$article = $article; $ctrl.$questions = $questions")
    //- fd-ref(
      fd-ref-path="content/articles"
      fd-ref-array="rich"
      then="$ctrl.$article = $data[$ctrl.$rand($data.length - 1)]")
      before
        wc-progress(wc-progress-type="linear")
      then
        fd-ref(
          fd-ref-path="content/articleQuestions/{{$ctrl.$article.key}}"
          then="$ctrl.$questions = $data")
    
    speed-excersise-component.container(
      ng-if="!$ctrl.$wpm && $ctrl.$article"
      article="$ctrl.$article"
      then="$ctrl.$wpm = $wpm")

    excersise-questions(
      ng-if="!$ctrl.$comprehension && $ctrl.$wpm && $ctrl.$questions"
      questions="$ctrl.$questions"
      then="$ctrl.$comprehension = $data")
      
    .container
      .padding(
        ng-if="$ctrl.$wpm && !!$ctrl.$comprehension")

        .md-headline|Velocidad de lectura
        .md-display-1.opacity75|{{$ctrl.$wpm | number : 0}}ppm 
        br
        .md-headline|Comprensión
        .md-display-1.opacity75|{{$ctrl.$comprehension * 100 | number : 0}}% 
  .container(
    ng-if="$ctrl.$wpm && !!$ctrl.$comprehension"
    layout="row"
    layout-align="end")
    md-button.md-raised.md-primary(
      ui-sref="excersise.speed.splash")
      |FINALIZAR
    it-hit(
      measurement="speedWpm"
      value="$ctrl.$wpm")
    it-hit(
      measurement="speedComprehension"
      value="$ctrl.$comprehension")
    it-hit(
      ng-if="$ctrl.level && $ctrl.$wpm && $ctrl.$comprehension"
      measurement="speed"
      level="$ctrl.level"
      score="($ctrl.$data * $ctrl.$comprehension / 600) * 0.5")
      
    