.absolute-fill(
  layout="column")
  fd-ref(
    fd-ref-path="content/articles"
    then="$ctrl.$articles = $data")
    before
      wc-progress(wc-progress-type="linear")
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2(flex)|Articles
      md-button.md-icon-button(
        ui-sref="content.articles.detail({articleId: $ctrl.$uid})")
        md-icon|add
  md-content
    md-list
      md-list-item(
        ng-repeat="(articleId, article) in $ctrl.$articles"
        ui-sref="content.articles.detail({articleId: articleId})")
        p|{{article.content.title}}