fd-dispatcher(
  fd-dispatcher-action=`{
    type: 'CONTENT.FIND_WORD.REMOVE',
    wordId: $ctrl.wordId
  }`)
  before
    wc-progress(wc-progress-type="linear")
  catch
    wc-toast(
      ng-init="$ctrl.catch()"
      wc-toast-message="Error deleting info")
  then
    wc-toast(
      ng-init="$ctrl.then()"
      wc-toast-message="Word deleted succesfully")