fd-dispatcher(
  fd-dispatcher-action=`{
    type: 'CONTENT.WORDS.REMOVE',
    word: $ctrl.word
  }`)
  catch
    wc-toast(
      ng-init="$ctrl.catch()"
      wc-toast-message="Error deleting \"{{$ctrl.word}}\"")
  then
    wc-toast(
      ng-init="$ctrl.then()"
      wc-toast-message="\"{{$ctrl.word}}\" deleted succesfully")