<template lang="pug">
  div(v-if="report")
    div(v-for="(item, key) in report.lessons") {{key}} {{item.min}} {{item.max}}
    div(v-for="(item, key) in report.category") {{key}} {{item.min}} {{item.max}}
</template>
<script>
import axios from 'axios'
import { getInstitutionObservable } from '@/helpers/intelligere'
import { from } from 'rxjs'
import { filter, map, switchMap } from 'rxjs/operators'
export default {
  layout: 'clear',
  computed: {
    groupId () {
      return this.$route.params.reportId
    }
  },
  subscriptions () {
    return {
      report: getInstitutionObservable().pipe(
        filter(institution => institution),
        map(institution => institution.institutionId),
        switchMap(institutionId => from(axios.get(`https://us-central1-intelligere-94e9b.cloudfunctions.net/globalStats?institutionId=${institutionId}&groupId=${this.groupId}`))),
        map(data => data.data)
      )
    }
  }
}
</script>
