ng-form.padding(name="questionsForm")
  fd-ref(
    ng-init="$ctrl.$log(questionsForm)"
    ng-if="$ctrl.articleId && !$ctrl.$questions"
    fd-ref-path="content/articleQuestions/{{$ctrl.articleId}}"
    fd-ref-array="true"
    then="$ctrl.$questions = $data || []; questionsForm.$setPristine()")
  .md-whiteframe-2dp.margin-half.padding(
    ng-repeat="question in $ctrl.$questions track by $index"
    layout="column" layout-align="start stretch")
    div(
      layout="row"
      layout-align="start center")
      .md-title(flex)|Pregunta {{$index + 1}}
      md-button.md-icon-button(ng-click="$ctrl.$questions.splice($index, 1); questionsForm.$setDirty()")
        md-icon|delete
    md-divider.margin-v
    .md-body-2|PREGUNTA
    md-input-container.no-error-message(flex)
      label|Enunciado
      textarea(
        required
        ng-model="question.statement"
        placeholder="Escribe el enunciado a la pregunta")
    .md-body-2|RESPUESTAS
    md-radio-group.md-primary(
      required
      ng-model="question.correctResponse")
      div(
        layout="row"
        layout-align="start center"
        ng-repeat="response in question.responses track by $index")
        md-radio-button(
          ng-value="$index"
          layout="row"
          layout-align="start center")
        md-input-container.no-error-message(flex)
          label|Respuesta {{$index + 1}}
          input(
            required
            ng-model="response.text")
        md-button.md-icon-button(ng-click="question.responses.splice($index, 1); questionsForm.$setDirty()")
          md-icon|close
    md-button(ng-click="question.responses.push({}); questionsForm.$setDirty()")
      md-icon|add
      |Añadir respuesta
  div(layout="row" layout-align="center")
    md-button(ng-click="$ctrl.$questions.push({statement: '', responses: []}); questionsForm.$setDirty()")
      md-icon|add
      |Añadir pregunta

  md-divider
  content-articles-save-questions(
    ng-if="$ctrl.UPDATE_QUESTIONS"
    article-id="$ctrl.articleId"
    questions="$ctrl.$questions"
    then="$ctrl.UPDATE_QUESTIONS = false"
    catch="$ctrl.UPDATE_QUESTIONS = false")
  div(layout="row" layout-align="end")
    md-button(ng-click="$ctrl.$questions = null")|CANCEL
    md-button.md-raised.md-accent(
      ng-click="$ctrl.UPDATE_QUESTIONS = true"
      ng-disabled="questionsForm.$invalid || questionsForm.$pristine")|GUARDAR
  