it-phrases(then="$ctrl.$phrases = $data")
//- Level 1
warmup-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'warmup'"
  repetitions="$ctrl.params.repetitions || $ctrl.excersise.params.repetitions"
  duration="$ctrl.params.duration || $ctrl.excersise.params.duration"
  is-vertical="$ctrl.params.isVertical"
  then="$ctrl.then({$data: 100})")
recognize-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'recognize'"
  interval="$ctrl.params.interval"
  block-amount="$ctrl.params.blockAmount"
  words-per-block="$ctrl.params.wordsPerBlock"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
find-word-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'findWord'"
  word-amount="$ctrl.excersise.params.wordAmount"
  repetitions="$ctrl.excersise.params.repetitions"
  then="$ctrl.then({$data: $data || 0})")
word-pyramid-excersise-component.container-800.relative(
  ng-if="$ctrl.excersiseId === 'wordPyramid'"
  cycles="$ctrl.excersise.params.cycles"
  period="$ctrl.excersise.params.period"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
truncated-excersise-component.container-800(
  ng-if="$ctrl.lessonId === 'truncated'"
  word-amount="$ctrl.excersise.params.wordAmount"
  time-per-word="$ctrl.excersise.params.timePerWord"
  opacity="$ctrl.excersise.params.opacity"
  height="$ctrl.excersise.params.height"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
//- Level 2
similar-words-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'similarWords'"
  word-amount="$ctrl.excersise.params.wordAmount"
  cycle-amount="$ctrl.excersise.params.cycleAmount"
  then="$ctrl.then({$data: $data || 0})")
disappearing-words-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'disappearingWords'"
  interval="$ctrl.excersise.params.interval"
  word-amount="$ctrl.excersise.params.wordAmount"
  beginning-time="$ctrl.excersise.params.beginningTime"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
absent-words-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'absentWords'"
  interval="$ctrl.excersise.params.interval"
  word-amount="$ctrl.excersise.params.wordAmount"
  beginning-time="$ctrl.excersise.params.beginningTime"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
find-numbers-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'findNumbers'"
  duration="$ctrl.excersise.params.duration"
  number-amount="$ctrl.excersise.params.numberAmount"
  then="$ctrl.then({$data: $data || 0})")
word-retention-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'wordRetention'"
  interval="$ctrl.excersise.params.interval"
  word-amount="$ctrl.excersise.params.wordAmount"
  then="$ctrl.then({$data: $data || 0, $correct: $correct, $incorrect: $incorrect || []})")
//- Level 3
word-diamond-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'wordDiamond' && $ctrl.$phrases"
  phrases="$ctrl.$phrases"
  dimension="$ctrl.excersise.params.dimension"
  then="$ctrl.then({$data: $data || 0})")
div(ng-if="$ctrl.excersiseId === 'diamondColumn' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  diamond-column-excersise-component(
    ng-if="$ctrl.$title && $ctrl.$articlePhrases"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'singleColumn' && !$ctrl.$wpm")
  it-articles(
    then="$ctrl.$article = $article; $ctrl.$questions = $questions")
  single-column-excersise-component(
    ng-if="$ctrl.$article"
    article="$ctrl.$article"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'truncatedText' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  truncated-text-excersise-component(
    ng-if="$ctrl.$articlePhrases && $ctrl.$title"
    opacity="$ctrl.params.opacity"
    height="$ctrl.params.height"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
word-in-paragraph-excersise-component(
  ng-if="$ctrl.excersiseId === 'wordInParagraph' && $ctrl.$phrases"
  phrases="$ctrl.$phrases"
  repetitions="$ctrl.excersise.params.repetitions"
  then="$ctrl.then({$data: $data / 10 || 0})")
//- Level 4
div(ng-if="$ctrl.excersiseId === 'doubleColumn' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  double-column-excersise-component(
    ng-if="$ctrl.$articlePhrases"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'doubleFixation' && !$ctrl.$wpm")
  it-articles(
    then="$ctrl.$article = $article; $ctrl.$questions = $questions")
  double-fixation-excersise-component(
    ng-if="$ctrl.$article"
    article="$ctrl.$article"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'mergingColumns' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  merging-columns-excersise-component(
    ng-if="$ctrl.$articlePhrases"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'tripleColumn' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  triple-column-excersise-component(
    ng-if="$ctrl.$articlePhrases"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
div(ng-if="$ctrl.excersiseId === 'zigzagText' && !$ctrl.$wpm")
  it-phrases(
    single-article="true"
    then="$ctrl.$articlePhrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
  zigzag-text-excersise-component(
    ng-if="$ctrl.$articlePhrases"
    phrases="$ctrl.$articlePhrases"
    title="$ctrl.$title"
    then="$ctrl.$wpm = $data")
speed-excersise-component.container-800(
  ng-if="$ctrl.excersiseId === 'speed' && $ctrl.$article && !$ctrl.$wpm"
  article="$ctrl.$article"
  then="$ctrl.$wpm = $wpm")
//- Level 5
it-articles(
  ng-if="$ctrl.excersiseId === 'speed'"
  then="$ctrl.$article = $article; $ctrl.$questions = $questions")

//- Questions
excersise-questions(
  ng-if="!$ctrl.$comprehension && $ctrl.$wpm && $ctrl.$questions"
  questions="$ctrl.$questions"
  then="$ctrl.$comprehension = $data; $ctrl.then({$wpm: $ctrl.$wpm || 1, $comprehension: $data}); $ctrl.$wpm = null; $ctrl.$comprehension = null")

