.home-account-wrapper(
  style="background: #FFDDC4"
  layout="column"
  layout-align="center center")
  .container(
    layout="column"
    layout-align="start stretch")
    .padding-half
    home-account-message
    home-account-progress(
      ng-if="$ctrl.$expanded")
    home-account-goal(
      ng-if="$ctrl.$expanded")
    home-account-toolbar(
      then="$ctrl.$expanded = $data")
    .padding-quarter
md-divider