home-account {
  .character-wrapper {
    max-width: 100px;
  }
  img.character {
    width: 100%;
  }
  .home-account-wrapper {
    padding-bottom: 5rem;
  }
  .grey {
    color: rgba(0,0,0,.6);
  }
  .grey-dark {
    color: rgba(0,0,0,.75);
  }
}