payments-make(
  ng-if="$ctrl.$payment"
  then="$ctrl.then()"
  catch="$ctrl.catch()")

div(
  ng-if="$ctrl.$catch && !$ctrl.$payment"
  ng-init="$ctrl.catch()")

wc-dialog(
  ng-if="!$ctrl.$payment"
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.$catch = true")
  wc-dialog-template
    md-content
      .padding.container-half(
        layout="column"
        layout-align="start start")
        div(
          layout="row")  
          div(flex)
            .md-title.margin-v-half|Suscríbete para tener acceso a toda la plataforma.
            .md-body-1.padding-v-half.opacity75|Con la suscripción a Intelligere podrás estudiar todos los niveles del curso cuantas veces quieras.
          div(style="margin-left: 1rem")
            img(
              style="width: 4rem"
              src="images/character.png")
        .baseline(
          layout="row")
          //.md-body-1(
            md-colors="::{ color: 'grey-500' }")
            |COP
          .md-display-2.sans(
            md-colors="::{ color: 'light-blue-700' }")
            |$150,000
          .md-subhead(
            md-colors="::{ color: 'grey-500' }")
            |/año
      div(
        layout="row")
        md-button(
          ng-click="$ctrl.catch()")
          |NO, GRACIAS
        div(flex)
        form(method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/" style="position:relative")
          input(name="merchantId"    type="hidden"  value="{{$ctrl.$params.merchantId}}"   )
          input(name="accountId"     type="hidden"  value="{{$ctrl.$params.accountId}}" )
          input(name="description"   type="hidden"  value="Inscripción a Intelligere 1 año"  )
          input(name="referenceCode" type="hidden"  value="{{$ctrl.$params.referenceCode}}" )
          input(name="amount"        type="hidden"  value="{{$ctrl.$params.amount}}"   )
          input(name="tax"           type="hidden"  value="{{$ctrl.$params.tax}}"  )
          input(name="taxReturnBase" type="hidden"  value="{{$ctrl.$params.taxReturnBase}}" )
          input(name="currency"      type="hidden"  value="{{$ctrl.$params.currency}}" )
          input(name="signature"     type="hidden"  value="{{$ctrl.$params.signature}}"  )
          input(name="test"          type="hidden"  value="{{$ctrl.$params.test}}" )
          input(name="buyerEmail"    type="hidden"  value="{{$ctrl.$params.email}}" )
          input(name="responseUrl"    type="hidden"  value="https://app.intelligere.co" )
          input(name="confirmationUrl"    type="hidden"  value="{{$ctrl.$params.confirmationUrl}}" )
          input(name="Submit"  type="submit" style="position:absolute;top:0;bottom:0;right:0;left:0;opacity:0;z-index:10;")
          md-button.md-raised.md-primary
            |SUSCRIBIRME