active-pauses
profile-el
fd-auth
  catch
    .md-body-1.padding-h.padding-v-half.center(
      style="position: fixed; bottom: 0; right: 0; left: 0; z-index: 5; background: #FFC300")
      b(style="color: #fff")|Tu progreso no se guardará hasta que no inicies sesión.
ui-view