.absolute-fill.margin(
  layout="row"
  layout-align="center stretch")
  .relative.container-extended(
    layout="{{$ctrl.rotate ? 'row' : 'column'}}"
    layout-align="space-between stretch"
    flex)
    div(ng-repeat="row in $ctrl.$matrix" layout="{{$ctrl.rotate ? 'column' : 'row'}}" layout-align="center center")
      .md-title.padding-half.center(ng-repeat="num in row" ng-style="{opacity: num === $ctrl.$currentI ? 1 : 0}") {{num}}
