// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.wordInParagraph.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Palabra en el párrafo
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      it-phrases(then="$ctrl.$phrases = $data")
      //- fd-ref(
      //-   fd-ref-path="content/phrases"
      //-   fd-ref-array="true"
      //-   then="$ctrl.$phrases = $data[$ctrl.$rand($ctrl.$size($data) - 1)]")
      //-   before
      //-     wc-progress(wc-progress-type="linear")
      
      word-in-paragraph-excersise-component(
        ng-if="!$ctrl.$data && $ctrl.$phrases"
        phrases="$ctrl.$phrases"
        repetitions=10
        then="$ctrl.$data = $data / 10")

      .container
        .padding(
          ng-if="$ctrl.$data")
          .md-headline|Tiempo promedio por párrafo
          .md-display-1.opacity75|{{$ctrl.$data / 1000 | number : 1}} segs    
        .padding(
          ng-if="$ctrl.$data")
          .md-headline|Tiempo total
          .md-display-1.opacity75|{{$ctrl.$data * 10 / 1000 | number : 1}} segs    
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.wordInParagraph.splash")
        |FINALIZAR
      it-hit(
        ng-if="$ctrl.$data"
        measurement="wordInParagraph"
        value="$ctrl.$data"
        level=3
        score="-10 * ($ctrl.$data / 1000) + 70")
    