.justify {
  text-align: justify;
}
// .md-title,
// .md-headline {
//   font-family: 'Montserrat';
//   font-weight: 400 !important;
// }
body,
.pt-sans,
.roboto-slab,
.serif,
.md-display-1 {
  font-family: 'Lora';
}
.md-body-2,
.md-button,
.title,
.sans {
  font-family: 'Quicksand';
}
.md-button {
  font-weight: 700;
}
.divider {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.5)
}
.mono {
  font-family: 'Inconsolata';
  font-size: 18px;
}
.pointer {
  cursor: pointer;
}
.no-outline {
  outline: none;
}
.container,
.container-extended {
  width: 100%;
}
.container {
  max-width: 600px;
}
.container-extended {
  max-width: 1024px;
}
.container-800 {
  max-width: 800px;
}
.baseline {
  align-items: baseline;
}
.md-whiteframe-4dp,
.md-whiteframe-3dp,
.md-whiteframe-2dp,
.md-whiteframe-1dp {
  background-color: #fff;
}
.grayscale {
  filter: grayscale(100%);
}
.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 1;
}
.opacity25 {
  opacity: .25;
}
.opacity5 {
  opacity: .5;
}
.opacity75 {
  opacity: .75;
}
.saturation0 {
  opacity: .3;
  filter: saturate(0);
}
.border-radius {
  border-radius: 1rem;
}
.no-outline {
  outline: none;
}
.excersises .excersise {
  img {
    border-radius: 99rem;
    height: 5rem;
    width: 5rem;
  }
}
.flex-50 {
  flex-basis: 50% !important;
  max-width: 50%;
}
.flex-33,
.flex-xs-33{
  flex-basis: 33% !important;
  max-width: 33%;
}
.flex-25 {
  flex-basis: 25% !important;
  max-width: 25%;
}
.flex-20 {
  flex-basis: 20% !important;
  max-width: 20%;
}
.flex-15 {
  flex-basis: 15% !important;
  max-width: 15%;
}
.transition {
  transition: all .3s;
}
span {
  line-height: 1.5em;
}