.institutional-features-wrapper(
  ng-if="$ctrl.startColor"
  ng-style=`{ 'background': 'linear-gradient({{$ctrl.startColor}}, {{$ctrl.endColor}})' }`)
  institutional-features-title
  institutional-features-hero(
    title="Revisa el progreso de un grupo en tiempo real"
    body="Lleva el control del progreso de un grupo de usuarios y compara el desempeño de un usuario con el del grupo. Toda la información se actualiza en tiempo real a medida que los usuarios van avanzando en los niveles."
    image="images/institutional-group-graph.png"
    raised="true"
    is-wide="true"
    inverted="true")
  div(
    layout="row"
    layout-align="center")
    .container.padding-half(
      layout="row"
      layout-wrap)
      div(
        flex=45
        flex-xs=100)
        institutional-features-card.padding-half(
          title="Practica desde cualquier dispositivo"
          body="¿Deseas leer en el computador de tu estudio? ¿O mejor practicar en el bus de camino al colegio? Intelligere está disponible para computadores, tablets y móviles para que nada te impida mejorar tu lectura.",
          image="images/landing/about/devices-icon.png")
      div(
        flex=45
        flex-xs=100)
        institutional-features-card.padding-half(
          title="Trabaja sin conexión a internet"
          body="Una vez te hayas conectado Intelligere, podrás seguir usándolo sin necesidad de tener conexión a internet. Así podrás usar así no tengas señal."
          image="images/landing/about/offline-icon.png")
  institutional-features-hero(
    title="Sé el mejor de tu grupo y entra en los rankings más altos"
    body="Lleva el control del progreso de un grupo de usuarios y compara tu desempeño con el de tus compañeros."
    image="images/slide1/rankings@2x.png")
  
  //- institutional-features-hero(
  //-   title="Prueba un ejercicio"
  //-   body="¿Qué tan abierto está tu campo de visión? Verifícalo haciendo este corto ejercicio."
  //-   module="triangles"
  //-   inverted="true")
    
  institutional-features-hero(
    title="Nuestros beneficios"
    body="¿Cómo se compara Intelligere con otros cursos de lectura tradicionales? Intelligere te da la conveniencia, versatilidad y simplicidad que ningún método tradicional te darán. La metodología está diseñada para ser retadora y mantenerte con ganas de más."
    image="images/slide1/comparison@2x.png"
    large-image="true"
    inverted="true")
    
  //- institutional-features-hero(
  //-   title="Prueba tu velocidad de lectura"
  //-   body="¿Qué tan rápido puedes leer? Contabilízalo ahora!"
  //-   module="article")
  
  
  
  //institutional-features-hero(
    inverted="true"
    title="Tests para medir comprensión"
    body="Intelligere analiza tu comprensión de las lecturas para que no solo leas más rápido sino que entiendas mejor.")
  //institutional-features-hero(
    title="Cronómetros para medir ppm"
    body="Todas las lecturas están contabilizadas para que puedas ver tu progreso diario de palabras por minuto.")
  