wc-ui-params(then="$ctrl.level = $data.level")

.fixed-fill(
  ng-init="$ctrl.$update = true"
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  it-hit(
    params=`{
      warmup: $ctrl.$warmupAmount,
      warmupVertical: $ctrl.$warmupVertical
    }`
    on-params="$ctrl.$warmupAmount = $data.warmup; $ctrl.$warmupVertical = !!$data.warmupVertical")
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="row"
    layout-align="center start")
    md-card.container
      md-card-title(
        layout="row")
        .md-card-title-text(
          flex="nogrow"
          layout="column")
          .md-headline|Calentamiento visual
          div
            br
            span
              |El secreto detrás de la lectura rápida es aprender a mover los ojos, hacer fijaciones. En este ejercicio empezamos a ejercitar el músculo visual, incorporando los barridos propios de la lectura rápida.
              br
              br
              |El objetivo es dejar tu cabeza fija y seguir con los ojos el punto negro, con la práctica constante incrementaras la velocidad.
        //.md-card-title-media(flex=50)
          img.container(
            src="images/character-main.png")
      md-divider
        
      .padding-v-quarter
      .md-body-2.padding-h
        b|VELOCIDAD (20 - 100)
      md-slider.padding-h(
        md-discrete
        ng-change="$ctrl.$update = true"
        ng-model-options="{debounce: 200}"
        ng-model="$ctrl.$warmupAmount"
        step="10" min="20" max="100")

      md-radio-group.padding-h(
        ng-model="$ctrl.$warmupVertical"
        ng-change="$ctrl.$update = true")
        md-radio-button(ng-value="true")|Vertical
        md-radio-button(ng-value="false")|Horizontal

      md-divider
      
      wc-dialog(
        ng-if="$ctrl.$showDemo"
        wc-dialog-template="true"
        wc-dialog-fullscreen="true"
        wc-dialog-modal="false"
        catch="$ctrl.$showDemo = false")
        wc-dialog-template
          md-button.md-icon-button.z5(ng-click="$ctrl.$showDemo = false" style="position: absolute; top: 0; right: 0")
            md-icon|close
          video(
            style="max-height: 100%; max-width: 100%;min-width: 300px;" controls="" autoplay="")
            source(src="images/videos/warmup.webm" type="video/webm")
            source(src="images/videos/warmup.mp4" type="video/mp4")
        
      md-card-actions(
        layout="row")
        md-button(ng-click="$ctrl.$showDemo = true")|DEMO
        div(flex)
        md-button.md-primary(
          ui-sref="excersise.warmup.excersise")
          b|COMENZAR
          
  it-hit(
    ng-if="!$ctrl.level"
    measurement="warmup"
    level=1
    on-score="$ctrl.$warmupScore = $data")

  it-hit(
    ng-if="$ctrl.level"
    measurement="warmup"
    level="$ctrl.level"
    on-score="$ctrl.$warmupScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$warmupScore")