fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/absentWords"
      fd-ref-array="rich"
      then="$ctrl.$progress = $data.reverse(); $ctrl.chartData = $ctrl.parseData($ctrl.$progress)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="row"
    layout-align="center start")
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Palabras ausentes
            div
              span
                |Se dan dos columnas de palabras para las vea por su forma, después desaparecen ciertas palabras de esa lista, vuelve la lista inicial y se escogen las palabras desaparecidas, de las palabras que escoge al final del ejercicio sale un cuadro donde aparece si fue correcta su elección y el nivel de retención.
        
        it-hit(
          params=`{
            absentWordsAmount: $ctrl.$wordAmount,
            absentWordsTime: $ctrl.$wordTime
          }`
          on-params=`
            $ctrl.$wordAmount = $data.absentWordsAmount || 16;
            $ctrl.$wordTime = $data.absentWordsTime || 1.5`)
        
        md-divider
        
        .padding-v-quarter
        .md-body-2.padding-h
          b|NÚMERO DE PALABRAS
        md-slider.padding-h(
          md-discrete
          ng-change="$ctrl.$update = true"
          ng-model-options="{debounce: 200}"
          ng-model="$ctrl.$wordAmount"
          step="2" min="10" max="26")

        md-divider
        
        .padding-v-quarter
        .md-body-2.padding-h
          b|TIEMPO POR PALABRA
        md-slider.padding-h(
          md-discrete
          ng-change="$ctrl.$update = true"
          ng-model-options="{debounce: 200}"
          ng-model="$ctrl.$wordTime"
          step=".2" min="0.5" max="2")
        
        md-divider
        
        md-card-actions(
          layout="row")
          //md-button(
            md-colors="::{color: 'grey-600'}")|LEER MÁS
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.absentWords.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Resultados pasados (%)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartData"
          chart-options="$ctrl.chartOptions")
      
      md-card(
        ng-repeat="measurement in $ctrl.$progress")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value * 100 | number : 0}}%
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
        
  it-hit(
    measurement="absentWords"
    level=2
    on-score="$ctrl.$absentWordsScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$absentWordsScore")

