md-content.padding-half.excersises(
  layout="row"
  layout-align="start stretch"
  ng-init="level = 5")
  //- .excersise.padding-h-half.pointer.opacity1(
    ui-sref="session({level: 5})")
    .relative.margin-quarter
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        md-theme="black"
        value="100"
        md-diameter=80
        md-mode="determinate")
      .md-whiteframe-2dp.session.l5(layout="row" layout-align="center center")
        .md-display-2|S
    .md-body-2.margin-h-quarter
      b|Sesión de entrenamiento
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'speed'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter(
      ng-class="{ grayscale: $ctrl.$wpmScore > 99 }")
      it-hit(
        measurement="speed"
        level=5
        on-score="$ctrl.$wpmScore = $data")
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        ng-if="$ctrl.$wpmScore"
        md-theme="black"
        value="{{$ctrl.$wpmScore}}"
        md-diameter=80
        md-mode="determinate")
      img.md-whiteframe-2dp(
        src="images/excersises/Velocidad y comprension.png")
    .md-body-2.margin-h-quarter
      b|Velocidad y comprension
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'warmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter(
      ng-class="{ grayscale: $ctrl.$warmupScore > 99 }")
      it-hit(
        measurement="warmup"
        level=5
        on-score="$ctrl.$warmupScore = $data")
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        ng-if="$ctrl.$warmupScore"
        md-theme="black"
        value="{{$ctrl.$warmupScore}}"
        md-diameter=80
        md-mode="determinate")
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento Visual.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento Visual
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'arrowsWarmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con flechas.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con flechas
  
  