md-content.padding-half.excersises(
  layout="row"
  layout-align="start stretch")
  //- .excersise.padding-h-half.pointer.opacity1(
    flex-order="0"
    ui-sref="session({level: 2})")
    .relative.margin-quarter
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        md-theme="black"
        value="100"
        md-diameter=80
        md-mode="determinate")
      .md-whiteframe-2dp.session.l2(layout="row" layout-align="center center")
        .md-display-2|S
    .md-body-2.margin-h-quarter
      b|Sesión de entrenamiento
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'disappearingWords'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Palabras desvanecentes.png")
    .md-body-2.margin-h-quarter
      b|Palabras fantasma
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'wordRetention'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Retencion de palabras.png")
    .md-body-2.margin-h-quarter
      b|Retención de palabras
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'absentWords'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Palabras ausentes.png")
    .md-body-2.margin-h-quarter
      b|Palabras mágicas
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'similarWords'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Palabras similares.png")
    .md-body-2.margin-h-quarter
      b|Palabras similares
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'findNumbers'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Encuentra los numeros.png")
    .md-body-2.margin-h-quarter
      b|Encuentra los números
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'arrowsWarmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con flechas.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con flechas
  
  .padding-quarter
  