// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.wordDiamond.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Párrafo diamante
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      it-phrases(then="$ctrl.$phrases = $data")
      
      word-diamond-excersise-component(
        ng-if="!$ctrl.$data && $ctrl.$phrases"
        phrases="$ctrl.$phrases"
        dimension=5
        then="$ctrl.$data = $data")

      .container
        .padding(
          ng-if="$ctrl.$data")
          .md-headline|Velocidad de lectura
          .md-display-1.opacity75|{{$ctrl.$data | number : 0}} ppm    
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.wordDiamond.splash")
        |FINALIZAR
      it-hit(
        ng-if="$ctrl.$data"
        measurement="wordDiamond"
        value="$ctrl.$data"
        level=3
        score=50)
    