.padding-half(
  layout="column"
  layout-align="start center")
  div(
    ng-init="$ctrl.$chosen = {}"
    layout="row"
    layout-wrap
    layout-align="center start")
    
    // TEST
    .padding-h-half(
      layout="column"
      layout-align="start stretch"
      flex=100)
      p.serif.opacity5|Encuentra la palabra ({{$ctrl.current + 1}}/{{$ctrl.repetitions}})
      .md-headline.center(style="color: #A30000")|{{$ctrl.currentWord}}
    
    .md-subhead.padding-half.pointer.serif(
      layout="row"
      layout-wrap)
      span.no-outline(
        ng-click="$ctrl.$verifyWord(word)"
        ng-repeat="word in $ctrl.dictionary track by $index")
        |{{word}}&nbsp;