fd-user(
  then="$ctrl.$isAdmin = $data.isAdmin")
  then
    wc-ui-redirect(
      ng-if="!$ctrl.$isAdmin"
      wc-ui-redirect-sref="login")
  catch
    wc-ui-redirect(
      wc-ui-redirect-sref="login")

.fixed-fill(
  layout="column")
  root-nav.z100(
    ng-if="$ctrl.$isAdmin"
    sidenav="sidenav"
    hide
    show-gt-sm)
  div(
    flex
    layout="row"
    layout-align="start stretch")
    md-sidenav.md-sidenav-left.md-whiteframe-6dp.sidenav(
      ng-if="$ctrl.$isAdmin"
      md-component-id="sidenav"
      md-is-locked-open="$mdMedia('gt-sm')"
      layout="column")
      root-sidenav(flex layout="column" sidenav="sidenav")
    md-content(
      layout="column"
      flex)
      root-nav.z5(
        ng-if="$ctrl.$isAdmin"
        sidenav="sidenav"
        hide-gt-sm)
      md-content.padding(
        flex)
        ui-view