fd-auth(then="$ctrl.$auth = $data")

div(
  layout="column")
  .md-whiteframe-3dp.z10(
    style="background: #07536A"
    layout="row"
    layout-align="center")
    .container(
      layout="row")
      md-button.md-icon-button(
        style="margin: .5rem"
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")
          |arrow_back
      .padding-v.md-title(style="color: #fff")|Mi cuenta
      
  md-content(
    flex
    style="background: #FDF4EA"
    layout="column"
    layout-align="start center")
    .container
      account-progress
      md-divider.margin-v
      md-button.margin(
        ui-sref="home"
        ng-click="$ctrl.$logout()")
        |CERRAR SESIÓN
    