wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template
    div(
      layout="row")
      .md-title.padding(flex)|Regístrate en Intelligere
      md-button.md-icon-button(
        style="margin: .5rem"
        ng-click="$ctrl.catch()")
        md-icon|close
    .padding-quarter(
      layout="column"
      layout-align="start stretch")
      md-button(
        ng-click="$ctrl.login()")
        |YA TENGO UNA CUENTA
      md-button.md-raised.md-primary(
        style={
          'background': '#3b5999'
        }
        ng-click="$ctrl.LOGIN='facebook'")
        |REGÍSTRATE CON FACEBOOK
      
      div(
        layout="row"
        layout-align="center center"
        style={
          margin: '1rem 0'
        })
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
        .md-body-1|o
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
      
      form.padding-half(
        name="registrationForm"
        layout="column"
        layout-align="start stretch")  
        div(layout="row")
          md-input-container(flex)
            label|Email
            input(
              required
              name="email"
              type="email"
              ng-model="$ctrl.$credentials.email")
            div(ng-messages="registrationForm.email.$error")
              .md-caption(ng-if="registrationForm.email.$error.email")|Email inválido
              .md-caption(ng-if="registrationForm.email.$error.emailTaken")|Este email ya está en uso
        md-input-container
          label|Contraseña
          input(
            ng-minlength="8"
            required
            placeholder="Minimo 8 caracteres"
            type="password"
            name="password"
            ng-model="$ctrl.$credentials.password")
          div(ng-messages="registrationForm.email.$error")
            .md-caption(ng-if="registrationForm.password.$error.minlength")
              |La contraseña debe tener 8
              br
              |caracteres como mínimo

        md-input-container
          label|Repetir contraseña
          input(
            ng-minlength="8"
            required
            type="password"
            name="password2"
            ng-model="$password2"
            ng-model-options="{debounce: '500'}"
            ng-change=`registrationForm.password2.$setValidity(
                'passwordCorrect',
                $ctrl.$credentials.password === $password2)`)
          div(ng-messages="registrationForm.password2.$error")
            .md-caption(ng-if="registrationForm.password2.$error.passwordCorrect")
              |Las contraseñas no coinciden
      
      md-button.md-raised.md-accent(
        ng-disabled="!registrationForm.$valid"
        ng-click="$REGISTER = true")
        |REGISTRARME
      
    //- fd-dispatcher(
      ng-if="$REGISTER"
      fd-dispatcher-action=`{
        type: 'CLIENT.AUTH.REGISTER',
        credentials: $ctrl.$credentials
      }`
      then="$ctrl.REGISTER = false")
      before
        wc-progress(wc-progress-type="linear")
      catch
        wc-toast(
          ng-init="$ctrl.REGISTER = true"
          wc-toast-message="Error realizando registro. Intenta de nuevo más tarde.")
    
    fd-login(
      ng-if="$ctrl.LOGIN"
      fd-login-credentials="$ctrl.$credentials"
      fd-login-provider="{{$ctrl.LOGIN}}"
      fd-login-popup="true")
      before
        wc-progress(wc-progress-type="linear")
      catch
        wc-toast(
          ng-init="$ctrl.LOGIN = false;"
          wc-toast-message="Error iniciando sesión. Verifica tus credenciales e intenta de nuevo.")
      then
        fd-timeout(
          fd-timeout-time="1000")
          then(ng-init="$ctrl.catch()")
    
    fd-dispatcher(
      ng-if="$REGISTER"
      fd-dispatcher-action=`{
        type: 'CLIENT.AUTH.REGISTER',
        credentials: $ctrl.$credentials
      }`
      then="$ctrl.REGISTER = false; $ctrl.then()")
      before
        wc-progress(wc-progress-type="linear")
      catch
        wc-toast(
          ng-init="$ctrl.REGISTER = true"
          wc-toast-message="Error realizando registro. Intenta de nuevo más tarde.")
      
    
    