<template lang="pug">
  .margin
    .elevation-5.radius-half.white--background(v-if="isOpen")
      .padding(layout="row")
        .padding-h-half.pointer(flex layout="column" @click="$emit('open')")
          .md-headline|{{group.displayName || 'Sin nombre'}}
          .md-body-1.opacity5|{{memberCount}} miembros
        v-btn(:href="`https://app.intelligere.co/group?institutionId=${institutionId}&groupId=${groupId}`" layout="row" flat round)
          v-icon(color="secondary")|assessment
          span.secondary--text(style="text-transform: none; margin-left: 0.5rem") Ver reporte
        v-menu(left)
          v-btn(icon slot="activator")
            v-icon(color="secondary")|more_vert
          v-list(dense)
            v-list-tile(@click="$emit('addStudents')" v-if="availableLicenses")
              v-list-tile-avatar
                v-icon(color="secondary") person_add
              v-list-tile-content Añadir estudiante
            v-divider(v-if="availableLicenses && isAdmin")
            v-list-tile(v-if="isAdmin" @click="removeGroup")
              v-list-tile-avatar
                v-icon(color="secondary") delete
              v-list-tile-content Eliminar grupo
      div(layout="column")
        v-data-table(v-if="memberCount" :items="groupMembers" hide-actions :headers="memberHeaders" item-key="studentId")
          template(slot="items" slot-scope="props")
            tr
              td|{{ props.item.displayName }}
              td|{{ props.item.email }}
              td
                div(layout="row" layout-align="end")
                  v-menu(v-if="isAdmin" left)
                    v-btn(icon slot="activator")
                      v-icon(color="secondary")|more_vert
                    v-list
                      v-list-tile(@click="removeStudent(props.item.studentId)")
                        v-list-tile-content
                          |Eliminar de este grupo

        div(v-if="!memberCount")
          p.center.padding.opacity5.margin|Este grupo no tiene miembros.
    v-hover(v-else :close-delay="0")
      .transition.radius-half.white--background(slot-scope="{ hover }" :class="`elevation-${hover ? 8 : 2}`")
        .padding.pointer.margin-half(layout="row" layout-align="start center" @click="$emit('open')")
          div(layout="column")
            .md-subhead.w800|{{group.displayName || 'Sin nombre'}}
            .md-body-1.opacity5(v-show="group.adminName")|{{group.adminName}} ({{group.adminEmail}})
          div(flex)
          .md-caption.opacity5|{{groupMembers.length}} miembros
      
</template>
<script>
import _ from 'lodash'
import GroupStudent from './GroupStudent'
export default {
  components: {GroupStudent},
  props: ['group', 'students', 'isOpen', 'institutionId', 'groupId', 'availableLicenses', 'isAdmin'],
  data: () => ({
    currentStudentId: '',
    memberHeaders: [
      {
        text: 'Nombre',
        value: 'displayName'
      },
      {
        text: 'Email',
        value: 'email'
      },
      {
        text: '',
        sortable: false
      }
    ]
  }),
  computed: {
    memberCount () {
      return _.size(this.groupMembers)
    },
    studentsObject () {
      return _.fromPairs(_.map(this.students, student => [student.studentId, student]))
    },
    groupMembers () {
      return _(this.group.members)
        .map((member, studentId) => this.studentsObject[studentId])
        .filter(member => member)
        .map(({displayName, email, studentId}) => ({studentId, displayName, email}))
        .value()
    },
    showStudentModal: {
      set (val) {
        if (!val) {
          this.currentStudentId = ''
        }
      },
      get () { return !!this.currentStudentId }
    }
  },
  methods: {
    removeStudent (studentId) {
      const {institutionId, groupId} = this
      this.$store.dispatch('groups/removeStudent', {studentId, groupId, institutionId})
    },
    removeGroup () {
      const {institutionId, groupId} = this
      this.$store.dispatch('groups/remove', {institutionId, groupId})
    }
  }
}
</script>
