<template lang="pug">
  v-dialog(v-model="isOpen" scrollable max-width="600px" persistent)
    v-card(layout="column")
      div(style="background: #004777" layout="row" layout-align="start center")
        .arvo.padding.md-subhead.white--text(flex)|Añadir grupo
        v-btn(icon dark @click="isOpen = false")
          v-icon|close
      .md-content.padding(flex)
        v-text-field.nunito(v-model="newGroup.displayName" box label="Nombre del grupo" persistent-hint hint="Pueden ser salones como '5A', '5B' o grados enteros como 'Quinto'")
        .md-caption.padding-v.nunito.w800(style="text-transform: uppercase; color: #004777")|Administrador del grupo
        v-text-field.nunito(v-model="newGroup.user.displayName" box label="Nombre completo")
        v-text-field.nunito(v-model="newGroup.user.email" box label="Email" @input="lookupUser" :hint="newGroup.user.uid ? 'El usuario ya está registrado (se le otorgará acceso a la institución)' : ''" persistent-hint)
        v-text-field.nunito(v-if="!newGroup.user.uid" v-model="newGroup.user.password" box label="Contraseña")
      v-divider
      div(layout="row" layout-align="end")
        v-btn(depressed color="primary" @click="createGroup" :disabled="$v.$invalid" :loading="loading")
          .md-body-2.w800(style="text-transform: none")|Añadir grupo
      
      
</template>
<script>
import _ from 'lodash'
import {required, email, minLength} from 'vuelidate/lib/validators'
export default {
  props: ['value', 'institutionId'],
  data: () => ({
    loading: false,
    newGroup: {
      displayName: '',
      user: {
        uid: '',
        displayName: '',
        email: '',
        password: ''
      }
    }
  }),
  computed: {
    isOpen: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  validations: {
    newGroup: {
      displayName: {required},
      user: {
        displayName: {required, minLength: minLength(6)},
        email: {required, email},
        password: {required, minLength: minLength(6)}
      }
    }
  },
  methods: {
    createGroup () {
      const {newGroup, institutionId} = this
      this.loading = true
      this.$store.dispatch('groups/createGroup', {group: newGroup, institutionId})
        .then(() => {
          this.loading = false
          this.isOpen = false
          this.newGroup = {
            displayName: '',
            user: {
              uid: '',
              displayName: '',
              email: '',
              password: ''
            }
          }
        })
        .catch(err => {
          console.log(err)
          this.loading = false
        })
    },
    lookupUser: _.debounce(function () {
      const {email} = this.newGroup.user
      this.loading = true
      this.$store.dispatch('auth/lookupEmail', email)
        .then(uid => {
          if (uid) {
            this.newGroup.user.uid = uid
            this.newGroup.user.password = uid
          } else {
            this.newGroup.user.password = this.newGroup.user.uid ? '' : this.newGroup.user.password
            this.newGroup.user.uid = ''
          }
          this.loading = false
        })
    }, 500)
  }
}
</script>
