<template lang="pug">
  v-dialog(v-model="isOpen" scrollable max-width="600px" persistent)
    v-card(layout="column")
      div(style="background: #004777" layout="row" layout-align="start center")
        .arvo.padding.md-subhead.white--text(flex)|Añadir estudiantes
        v-btn(icon dark @click="isOpen = false")
          v-icon|close
      .md-content.padding(flex)
        .arvo.padding-v-half.md-subhead.secondary--text(flex)|Nuevo estudiante
        v-text-field.nunito(v-model="newUser.displayName" box label="Nombre completo")
        v-text-field.nunito(v-model="newUser.email" box label="Email" @input="lookupUser"
          :error="$v.newUser.uid.$invalid"
          :hint="newUser.uid ? ($v.newUser.uid.$invalid ? 'Este usuario ya pertenece a una institución. No podrás añadirlo hasta que deje de pertenecer a una institución.' : 'Se le otorgará acceso a la institución a este estudiante') : ($v.newUser.email.$invalid ? '' : 'Se creará un nuevo usuario con ese email y contraseña. Guarda la contraseña ya que no podrás volver a verla más adelante.')"
          persistent-hint)
        v-text-field.nunito(v-if="!newUser.uid" v-model="newUser.password" box label="Contraseña")
        div(layout="row" layout-align="end")
          v-btn(outline color="secondary" @click="addUser" :disabled="$v.$invalid" :loading="loading")
            .md-body-2.w800(style="text-transform: none")|Añadir
        .arvo.padding-v-half.md-subhead.secondary--text(flex v-show="users.length")|Estudiantes a añadir
        .elevation-2.white--background.margin-v-half.radius-half(v-for="(user, index) in users" layout="row" :key="index")
          .padding(flex)
            .md-title.arvo|{{user.displayName}}
            .md-caption|{{user.email}}
            .md-caption.opacity5|{{user.uid ? 'Usuario existente' : 'Nuevo usuario'}}
          v-btn(icon @click="users.splice(index, 1)")
            v-icon(color="secondary")|delete
      v-divider
      div(layout="row" v-show="users.length")
        div(flex)
        v-btn(depressed color="primary" :loading="loading" @click="addStudents")
          .md-body-2.w800(style="text-transform: none")|Añadir estudiantes a {{(group || {}).displayName}}
      
      
</template>
<script>
import _ from 'lodash'
import {required, email, minLength} from 'vuelidate/lib/validators'
export default {
  props: ['value', 'institutionId', 'groupId', 'group', 'students'],
  data: () => ({
    loading: false,
    users: [],
    newUser: {
      uid: '',
      displayName: '',
      email: '',
      password: ''
    }
  }),
  computed: {
    isOpen: {
      get () { return this.value },
      set (val) { this.$emit('input', val) }
    }
  },
  validations: {
    newUser: {
      uid: {
        unregistered (uid) {
          return !_.some(this.students, student => student.studentId === uid) && uid !== 'REGISTERED'
        }
      },
      displayName: {required, minLength: minLength(6)},
      email: {required, email},
      password: {required, minLength: minLength(6)}
    }
  },
  methods: {
    addUser () {
      this.users.push(this.newUser)
      this.newUser = {
        uid: '',
        displayName: '',
        email: '',
        password: ''
      }
    },
    addStudents () {
      this.loading = true
      const {users: students, institutionId, groupId} = this
      this.$store.dispatch('groups/addStudents', {students, groupId, institutionId})
        .then(() => {
          this.loading = false
          this.users = []
          this.newUser = {
            uid: '',
            displayName: '',
            email: '',
            password: ''
          }
          this.$emit('input', false)
        })
        .catch(() => {
          this.loading = false
        })
    },
    lookupUser: _.debounce(function () {
      const {email} = this.newUser
      this.loading = true
      this.$store.dispatch('auth/lookupEmail', email)
        .then(uid => {
          if (uid) {
            this.newUser.uid = uid
            this.newUser.password = uid
          } else {
            this.newUser.password = this.newUser.uid ? '' : this.newUser.password
            this.newUser.uid = ''
          }
          this.loading = false
        })
    }, 300)
  }
}
</script>
