md-toolbar.md-whiteframe-1dp(
  hide-gt-sm)
  .md-toolbar-tools
    h2|Intelligere
md-content(flex layout="column")
  md-list(flex layout="column")
    md-subheader|Admin
    md-list-item(
      ui-sref="users"
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|people
      p|Usuarios
    md-list-item(
      ui-sref="institutions"
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|extension
      p|Instituciones
    md-subheader|Content
    //- md-list-item(
      ui-sref="content.articles.list"
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|description
      p|Articles
    md-list-item(
      ui-sref="content.words"
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|text_fields
      p|Palabras
    //- md-list-item(
      ui-sref="content.find-word"
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|find_in_page
      p|Encontrar palabras
    div(flex)
    md-divider
    md-list-item(
      ng-click=`
        $ctrl.$logout();
        $ctrl.$toggleSidenav()`)
      md-icon|exit_to_app
      p|Cerrar sesión