merging-columns-excersise-component {
  .middle-line-left,
  .middle-line-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0,0,0,0.4);
  }
  .middle-line-left {
    left: 30%;
  }
  .middle-line-right {
    right: 30%;
  }
}