.background.padding(
  layout="column"
  layout-align="start center")
  div(
    ng-if="$ctrl.columns"
    layout="column"
    layout-align="start center" title="")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      layout="row"
      layout-align="space-between baseline"
      layout-wrap)
      // Merging
      div(
        flex=50
        ng-if="columnIndex <= $ctrl.MAX_COLUMNS"
        ng-class="{right: $odd}"
        ng-repeat="(columnIndex, column) in $ctrl.columns track by $index"
        style=""
        ng-style="{background: $ctrl.$ceil(columnIndex / 2) % 2 ? '#eee' : ''}")
        span(ng-repeat="word in column track by $index")
          |{{word}}&nbsp;
      // Merged
      .relative(
        flex=100
        layout="row"
        layout-align="space-between baseline"
        layout-wrap)
        span(ng-repeat="word in $ctrl.columns[$ctrl.MAX_COLUMNS + 1] track by $index")
          |{{word}}&nbsp;
        span(flex)


  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then()`)
    |TERMINAR