it-level(
  then="$ctrl.$level = $ctrl.$level || $data")
fd-user(then="$ctrl.$isAdmin = $data.isAdmin")
p|Level: {{$ctrl.$level}} {{$ctrl.$lesson}}
fd-ref(
  ng-if="$ctrl.$level"
  fd-ref-path="structure/levels/{{$ctrl.$level}}"
  then="$ctrl.$sessionOrder = $data.order || $ctrl.$shuffle($data.order)")
  then
fd-ref(
  fd-ref-path="structure/lessons"
  then="$ctrl.$structure = $data")
fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="structure/lessons/{{$ctrl.$lessonId}}"
      then="$ctrl.$lesson = $data")
      then
        fd-ref(
          fd-ref-path="students/{{$ctrl.$uid}}/params/{{$ctrl.$lessonId}}"
          then="$ctrl.$params = $ctrl.$parseInitialParams($ctrl.$lesson.params); $ctrl.$receiveSavedParams($data)")
        fd-ref(
          ng-if="$ctrl.$lesson"
          fd-ref-path="students/{{$ctrl.$uid}}/scores"
          fd-ref-array="rich"
          then=`
            $ctrl.$sublevels = $ctrl.$lesson.sublevels || [1];
            $ctrl.$sublevel = $ctrl.$getLessonSublevel($ctrl.lessonId, $data, $ctrl.$lesson);`)
it-sessions(
  ng-if="$ctrl.$structure && $ctrl.$level"
  level-id="level{{$ctrl.$level}}"
  finish-session="$ctrl.$progressPercentage >= 100 || $ctrl.CANCEL"
  then=`
    $ctrl.$data = null;
    $ctrl.$wpm = null;
    $ctrl.$comprehension = null;
    $ctrl.$isFinished = false;
    $ctrl.$next = false;
    $ctrl.$isStarted = false;
    $ctrl.$sessionId = $sessionId;
    $ctrl.$lessonId = $ctrl.$getLessonId($ctrl.$sessionOrder, $ctrl.$structure, $data);
    $ctrl.$progress = $ctrl.$currentExcersise;
    $ctrl.$bumpParams()`)
it-sessions(
  ng-if="$ctrl.CANCEL"
  cancel="true")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center"
    md-colors="::{background: 'black-primary'}")
    .container.padding-v-half.padding-h(
      layout="row"
      layout-align="start center")
      .md-title(ng-if="$ctrl.$progressPercentage < 100")|{{$ctrl.$progress + 1}}. {{$ctrl.$structure[$ctrl.$lessonId].displayName}}
      .md-title(ng-if="$ctrl.$progressPercentage >= 100")|Fin
      div(flex)
      .padding-half.md-caption(ng-if="$ctrl.$sublevels.length > 1" style="border-radius: 99px;font-family:sans-serif;background: rgb(3, 69, 104); color: white; margin-right: 0.5rem")
        b.padding-h-half Nivel {{$ctrl.$sublevel + 1}}
      md-button.md-icon-button(
        style="margin-right: -0.5rem"
        ng-click="$ctrl.CANCEL = true")
        md-icon(md-colors="::{color: 'grey-A100'}")|close
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center"
    style="background: #FDF4EA")
    .container
      md-card.md-whiteframe-2dp.margin(style="border-radius: 0.5rem")
        .relative(ng-if="$ctrl.$progressPercentage >= 100")
          p|FIN
        div(ng-if="$ctrl.$progressPercentage < 100" layout="column" ng-class="{'container-extended': $ctrl.$structure[$ctrl.$lessonId].isWide}")
          // Splash
          .padding-v-half(layout="column" layout-align="start center" flex ng-if="!$ctrl.$isStarted")
            .container.padding-h(flex layout="column")
              p.md-subhead.opacity75(style="white-space: pre-wrap")|{{$ctrl.$structure[$ctrl.$lessonId].description}}
              div(ng-if="$ctrl.$params" ng-repeat="(paramId, param) in $ctrl.$lesson.params")
                div(ng-if="param.type === 'number'")
                  div(layout="row" layout-align="start center")
                    div
                      span.md-body-1|{{param.label}}
                    div(style="margin: 0.5rem")
                    md-slider(
                      flex
                      ng-model="$ctrl.$params[paramId]" ng-change="$ctrl.$saveParam(paramId, $ctrl.$params[paramId])"
                      aria-label="{{param.label}}"
                      ng-disabled="!$ctrl.$isAdmin"
                      type="number"
                      min="{{param.min}}"
                      max="{{param.max}}"
                      step="{{param.step}}")
                    div(style="margin: 0.25rem")
                    md-input-container(style="margin-bottom: 0; width: 5rem")
                      input(type="number" ng-model="$ctrl.$params[paramId]" ng-change="$ctrl.$saveParam(paramId, $ctrl.$params[paramId])" min="{{param.min}}" max="{{param.max}}")
                div(ng-if="param.type === 'boolean'" layout="row" layout-align="start center")
                  .md-body-1|{{param.backlabel}}&nbsp;&nbsp;
                  md-switch(ng-model="$ctrl.$params[paramId]" ng-change="$ctrl.$saveParam(paramId, $ctrl.$params[paramId])" aria-label="{{param.label}}")
                    .md-body-1|{{param.label}}
              .margin(flex)
              md-button.md-raised.md-primary(ng-click="$ctrl.$isStarted = true;$ctrl.$processedParams = $ctrl.$processParams($ctrl.$params, $ctrl.$lesson.params)")|COMENZAR
          // Excersise
          current-lesson(
            ng-if="$ctrl.$isStarted && !$ctrl.$next"
            lesson-id="{{$ctrl.$lessonId}}"
            lesson="$ctrl.$structure[$ctrl.$lessonId]"
            params="$ctrl.$processedParams"
            level="$ctrl.$level"
            then=`
              $ctrl.$next = true;
              $ctrl.$data = $data;
              $ctrl.$wpm = $wpm;
              $ctrl.$correct = $correct;
              $ctrl.$incorrect = $incorrect;
              $ctrl.$missing = $missing;
              $ctrl.$comprehension = $comprehension`)
          // Result
          .padding(layout="column" layout-align="start" flex ng-if="$ctrl.$next")
            div(ng-if="!$ctrl.$lesson.unit" ng-init="$ctrl.$isFinished = $ctrl.$lessonId;")
              
              
            div(ng-if="!$ctrl.$lesson.unit" ng-init="$ctrl.$isFinished = $ctrl.lessonId;")
            //- Wpm only
            div(ng-if="$ctrl.$lesson.unit === 'wpm-only'")
              .md-subhead|Velocidad de lectura
              .md-display-1.opacity75
                |{{$ctrl.$data | number : 0}}
                span.md-body-1|ppm
            //- Percentage
            div(ng-if="$ctrl.$lesson.unit === 'percentage'")
              .padding-v-half(ng-if="$ctrl.$lesson.totalWords")
                .md-subhead|Palabras correctas
                .md-display-1.opacity75
                  |{{$ctrl.$divide($ctrl.$get($ctrl.$params, $ctrl.$lesson.totalWords) * $ctrl.$data, 2)}} / {{$ctrl.$divide($ctrl.$get($ctrl.$params, $ctrl.$lesson.totalWords), 2)}}
              .padding-v-half(ng-if="$ctrl.$lesson.totalCycles")
                .md-subhead|Ciclos correctos
                .md-display-1.opacity75
                  |{{($ctrl.$params[$ctrl.$lesson.totalCycles] * $ctrl.$data).toFixed(1)}} / {{$ctrl.$params[$ctrl.$lesson.totalCycles]}}
              .padding-v-half
                .md-subhead|Porcentaje correcto
                .md-display-1.opacity75
                  |{{$ctrl.$data * 100 | number : 0}}
                  span.md-body-1|%
              .padding-v-quarter(ng-if="$ctrl.$correct")
                .md-body-1.opacity75|Palabras correctas:
                .md-subhead|{{$ctrl.$correct.join(', ')}}
              .padding-v-quarter(ng-if="$ctrl.$incorrect")
                .md-body-1.opacity75|Palabras incorrectas:
                .md-subhead|{{$ctrl.$incorrect.join(', ')}}
              .padding-v-quarter(ng-if="$ctrl.$missing")
                .md-body-1.opacity75|Palabras faltantes:
                .md-subhead|{{$ctrl.$missing.join(', ')}}
            //- Wpm + Comprehension
            div(ng-if="$ctrl.$lesson.unit === 'wpm'")
              .md-subhead|Velocidad de lectura
              .md-display-1.opacity75
                |{{$ctrl.$wpm | number : 0}}
                span.md-body-1|ppm
              .padding-v-half
              .md-subhead|Comprensión
              .md-display-1.opacity75
                |{{$ctrl.$comprehension * 100 | number : 0}}
                span.md-body-1|% 
            //- Scalar
            div(ng-if="$ctrl.$lesson.unit === 'number'")
              .md-subhead|Número alcanzado
              .md-display-1.opacity75|{{$ctrl.$data}}
            //- Time
            div(ng-if="$ctrl.$lesson.unit === 'milliseconds'")
              .md-subhead|Tiempo por palabra
              .md-display-1.opacity75
                |{{$ctrl.$data / 1000 | number : 1}}
                span.md-body-1|&nbsp;segundos   
              .padding-v-half
              .md-subhead|Tiempo total
              .md-display-1.opacity75
                |{{$ctrl.$data * $ctrl.$params[$ctrl.$lesson.totalCycles] / 1000 | number : 0}}
                span.md-body-1|&nbsp;segundos
            .margin(flex)
            md-button.md-raised.md-primary(ng-click="$ctrl.$isFinished = $ctrl.$lessonId;")|CONTINUAR
              
              
              
              //- div(ng-if="$ctrl.$lesson.unit === 'wpm-only'")
              //-   .md-subhead|Velocidad de lectura
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$data | number : 0}}
              //-     span.md-body-1|ppm
              //- div(ng-if="$ctrl.$lesson.unit === 'percentage'")
              //-   .md-subhead|Porcentaje correcto
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$data * 100 | number : 0}}
              //-     span.md-body-1|%
              //- div(ng-if="$ctrl.$lesson.unit === 'wpm'")
              //-   .md-subhead|Velocidad de lectura
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$wpm | number : 0}}
              //-     span.md-body-1|ppm
              //-   .padding-v-half
              //-   .md-subhead|Comprensión
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$comprehension * 100 | number : 0}}
              //-     span.md-body-1|% 
              //- span.md-body-1|% 
              //-     span.md-body-1|% 
              //- div(ng-if="$ctrl.$lesson.unit === 'percentage'")
              //-   .md-subhead|Porcentaje correcto
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$data * 100 | number : 0}}
              //-     span.md-body-1|%
              //- div(ng-if="$ctrl.$lesson.unit === 'number'")
              //-   .md-subhead|Número alcanzado
              //-   .md-display-1.opacity75|{{$ctrl.$data}}
              //- div(ng-if="$ctrl.$lesson.unit === 'milliseconds'")
              //-   .md-subhead|Tiempo por palabra
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$data / 1000 | number : 1}}
              //-     span.md-body-1|&nbsp;segundos   
              //- span.md-body-1|&nbsp;segundos   
              //-     span.md-body-1|&nbsp;segundos   
              //-   .padding-v-half
              //-   .md-subhead|Tiempo total
              //-   .md-display-1.opacity75
              //-     |{{$ctrl.$data * ($ctrl.$structure[$ctrl.$lessonId].params.repetitions || $ctrl.$structure[$ctrl.$lessonId].params.cycleAmount) / 1000 | number : 0}}
              //-     span.md-body-1|&nbsp;segundos   
              //- span.md-body-1|&nbsp;segundos   
              //-     span.md-body-1|&nbsp;segundos   
              //- .margin.padding(flex)
              //- md-button.md-raised.md-primary(ng-click="$ctrl.$isFinished = $ctrl.$lessonId;")|CONTINUAR
  session-progress(
    progress="$ctrl.$progressPercentage")
// Save excersise hit
it-sessions(
  ng-if="$ctrl.$isFinished === $ctrl.$lessonId && $ctrl.$lessonId"
  session-id="$ctrl.$sessionId"
  progress="$ctrl.$progress"
  score="$ctrl.$eval($ctrl.$sessionOrder[$ctrl.$progress].score, $ctrl.$data, $ctrl.$wpm, $ctrl.$comprehension)")
