group-progress {
  .personalStats {
    color: #1976D2;
  }
  .globalStats {
    color: rgba(103,58,183,1);
  }
  .bottom-unit {
    text-align: right;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-family: sans-serif;
    margin-top: -0.25rem;
    opacity: 0.7;
  }
}