wc-ui-params(then="$ctrl.$params = $data")
it-level(
  then="$ctrl.$level = $ctrl.$level || $data")
fd-ref(
  fd-ref-path="institutions/{{$ctrl.$params.institutionId}}/groups/{{$ctrl.$params.groupId}}"
  then="$ctrl.groupMembers = $data.members; $ctrl.group = $data")
fd-ref(
  fd-ref-path="institutions/{{$ctrl.$params.institutionId}}/metadata"
  then="$ctrl.institution = $data")
fd-auth(
  ng-if="$ctrl.$params"
  then="$ctrl.$auth = $data; $ctrl.$getPersonalData($ctrl.$params.userId || $ctrl.$auth.uid, $ctrl.$params)")
  then
    //- fd-user(then="$ctrl.$user = $data")
    fd-ref(
      fd-ref-path="users/{{$ctrl.$params.userId}}"
      then="$ctrl.$user = $data")
    fd-ref(
      fd-ref-path="structure/lessons"
      then="$ctrl.excersises = $data")
    fd-ref(
      fd-ref-path="structure"
      then="$ctrl.$structure = $data")
    fd-ref(
      fd-ref-path="students/{{$ctrl.$params.userId || $ctrl.$auth.uid}}/progress/global"
      then=`
        $ctrl.$wpmData = $ctrl.$parseProgress($data, 'Wpm');
        $ctrl.$comprehensionData = $ctrl.$parseProgress($data, 'Comprehension', true);
        $ctrl.$consolidatedData = $ctrl.$merge($ctrl.$comprehensionData, $ctrl.$wpmData);`)
    //- fd-ref(
      v-if="$ctrl.$user"
      fd-ref-path="institutions/{{$ctrl.$user.institutionId}}/groups/{{$ctrl.$user.groupId}}/members"
      then="$ctrl.$getGroupMembers($data)")
    fd-ref(
      fd-ref-path="students/{{$ctrl.$params.userId || $ctrl.$auth.uid}}/sessions"
      then=`
        $ctrl.$sessions = $ctrl.$parseSessions($data)`)
    fd-ref(
      fd-ref-path="students/{{$ctrl.$params.userId || $ctrl.$auth.uid}}/scores"
      then=`
        $ctrl.$avgData = $ctrl.$getAvgData($data)`)
      
div(
  layout="row" layout-align="center")
  .container
    
    .padding-v-half(ng-show="$ctrl.isExpanded")
      
      div(ng-if="$ctrl.$structure.levels && $ctrl.$personalStats")
        div
          .md-headline.margin.opacity25 Estudiantes {{$ctrl.group.displayName}}
          .md-whiteframe-2dp.margin-half.padding.border-radius(layout="column" style="overflow: hidden")
            div(style="border: 1px solid #eee; border-radius: 1rem; overflow: hidden" layout="row")
              md-content(style="max-height: 14rem" flex)
                md-list.md-dense
                  md-list-item.md-2-line(ng-repeat="(userId, item) in $ctrl.groupMembers" ng-click="$ctrl.$redirect(userId)")
                    div(ng-if="$first && !$ctrl.$params.userId" ng-init="$ctrl.$redirect(userId)")
                    .md-list-item-text
                      h3(ng-style="{ 'font-weight': userId === $ctrl.$params.userId ? 800 : 400 }") {{item.displayName}}
                      h4(ng-style="{ 'font-weight': userId === $ctrl.$params.userId ? 800 : 400 }") {{item.email}}
              //- md-divider
              //- md-content(layout="column" layout-align="center" flex)
                .padding(layout="row" layout-align="start center")
                  .margin-half(style="width: 1rem; height: 1.5rem; background-color: rgba(33,150,243,0.15); border: 2px solid rgba(33,150,243,1)")
                  div(layout="column")
                    .md-subhead.sans.opacity75
                      b {{$ctrl.groupMembers[$ctrl.$params.userId].displayName}}
                    .md-body-1.opacity5 {{$ctrl.groupMembers[$ctrl.$params.userId].email}}
                .padding(layout="row" layout-align="start center")
                  .margin-half(style="width: 1rem; height: 1.5rem; background-color: rgba(103,58,183,0.05); border: 2px solid rgba(103,58,183,1)")
                  div(layout="column")
                    .md-subhead.sans.opacity75
                      b {{$ctrl.institution.displayName}}
                    .md-body-1.opacity5 {{$ctrl.group.displayName}} ({{$ctrl.$size($ctrl.group.members)}} miembros)
              
          .md-headline.margin.opacity25 Resumen
          .md-whiteframe-2dp.margin-half.padding.border-radius(layout="column")
            div(layout="row" layout-align="start center" style="margin-left: -0.5rem")
              .margin-half(style="width: 1rem; height: 1.5rem; background-color: rgba(103,58,183,0.05); border: 2px solid rgba(103,58,183,1)")
              div(layout="column")
                .md-subhead.sans.opacity75
                  b {{$ctrl.institution.displayName}}
                .md-body-1.opacity5 {{$ctrl.group.displayName}} ({{$ctrl.$size($ctrl.group.members)}} miembros)
            br
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Mejores estudiantes
              .md-caption.opacity5 {{$ctrl.$getBestUsers().join(', ')}}
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Peores estudiantes
              .md-caption.opacity5 {{$ctrl.$getWorstUsers().join(', ')}}
          .md-whiteframe-2dp.margin-half.padding.border-radius(layout="column")
            div(layout="row" layout-align="start center" style="margin-left: -0.5rem")
              .margin-half(style="width: 1rem; height: 1.5rem; background-color: rgba(33,150,243,0.15); border: 2px solid rgba(33,150,243,1)")
              div(layout="column")
                .md-subhead.sans.opacity75
                  b {{$ctrl.groupMembers[$ctrl.$params.userId].displayName}}
                .md-body-1.opacity5 {{$ctrl.groupMembers[$ctrl.$params.userId].email}}
            br
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Fecha de inicio
              .md-caption.opacity5|{{$ctrl.moment($ctrl.$personalStats.summary.startDate).format('lll')}}
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Última práctica
              .md-caption.opacity5|{{$ctrl.moment($ctrl.$personalStats.summary.lastDate).format('lll')}}
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Tiempo total
              .md-caption.opacity5|{{$ctrl.moment.duration($ctrl.$personalStats.summary.totalDuration).locale('es').humanize()}}
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Progreso global
              .md-caption.opacity5|{{$ctrl.$personalStats.summary.avgProgress * 100 | number : 0}}%
            div(layout="row" layout-align="start center" ng-if="$ctrl.$personalStats.category.wpm.startAvg")
              .md-body-1(flex=30)|Velocidad inicial
              .md-caption.opacity5|{{$ctrl.$personalStats.category.wpm.startAvg | number : 0}} ppm
            div(layout="row" layout-align="start center" ng-if="$ctrl.$personalStats.category.wpm.currentAvg")
              .md-body-1(flex=30)|Velocidad actual
              .md-caption.opacity5|{{$ctrl.$personalStats.category.wpm.currentAvg | number : 0}} ppm
            div(layout="row" layout-align="start center" ng-if="$ctrl.$personalStats.category.wpm.currentAvg")
              .md-body-1(flex=30)|Mejora de velocidad
              .md-caption.opacity5|{{100 * ($ctrl.$personalStats.category.wpm.currentAvg - $ctrl.$personalStats.category.wpm.startAvg) / $ctrl.$personalStats.category.wpm.currentAvg | number : 0}}%
            //- div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Fecha de inicio
              .md-caption|{{$ctrl.moment($ctrl.$personalStats.summary.startDate).format('lll')}}
            div(layout="row" layout-align="start center" ng-if="$ctrl.$user.registration.grade")
              .md-body-1(flex=30)|Curso
              .md-caption.opacity5|{{$ctrl.$user.registration.grade}}
            div(layout="row" layout-align="start center" ng-if="$ctrl.$user.registration.classes")
              .md-body-1(flex=30)|Clases favoritas
              .md-caption.opacity5|{{$ctrl.$user.registration.classes.join(', ')}}
            div(layout="row" layout-align="start center" ng-if="$ctrl.$user.registration.tags")
              .md-body-1(flex=30)|Intereses
              .md-caption.opacity5|{{$ctrl.$user.registration.tags.join(', ')}}
            div(layout="row" layout-align="start center")
              .md-body-1(flex=30)|Areas de mejora
              .md-caption.opacity5 {{$ctrl.$improvementAreas.join(', ')}}
          .md-headline.margin.opacity25 Progreso
          .md-whiteframe-2dp.margin-half.padding.border-radius(layout="column")
            .padding-half(style="border: 1px solid #eee; border-radius: 1rem")
              canvas#radar.chart.chart-radar(ng-if="$ctrl.$radar" chart-data="$ctrl.$radar.data" chart-labels="$ctrl.$radar.labels" chart-dataset-override="$ctrl.$radar.datasetOverride" chart-options="$ctrl.$radar.options")
            .padding-half.margin-v(style="border: 1px solid #eee; border-radius: 1rem" layout="row" layout-align="center" layout-wrap)
              .padding-half.margin-v-half(flex=33 layout="column" layout-align="start center")
                .md-title.personalStats
                  |{{$ctrl.$personalStats.category.milliseconds.mean / 1000 | number : 2}}
                  span.md-caption.opacity5|s
                .md-subhead.globalStats
                  |{{$ctrl.$globalStats.category.milliseconds.mean / 1000 | number : 2}}
                  span.md-caption.opacity5|s
                .mb-body-1.opacity75|Agilidad en segs
              .padding-half.margin-v-half(flex=33 layout="column" layout-align="start center")
                .md-title.personalStats
                  |{{$ctrl.$personalStats.category.number.mean | number : 0}}
                .md-subhead.globalStats
                  |{{$ctrl.$globalStats.category.number.mean | number : 0}}
                .mb-body-1.opacity75|Agilidad numérica
              .padding-half.margin-v-half(flex=33 layout="column" layout-align="start center")
                .md-title.personalStats
                  |{{$ctrl.$personalStats.category.wpm.mean | number : 0}}
                  span.md-caption.opacity5|ppm
                .md-subhead.globalStats
                  |{{$ctrl.$globalStats.category.wpm.mean | number : 0}}
                  span.md-caption.opacity5|ppm
                .mb-body-1.opacity75|Velocidad
              .padding-half.margin-v-half(flex=33 layout="column" layout-align="start center")
                .md-title.personalStats
                  |{{$ctrl.$personalStats.category.comprehension.mean * 100 | number : 0}}
                  span.md-caption.opacity5|%
                .md-subhead.globalStats
                  |{{$ctrl.$globalStats.category.comprehension.mean * 100 | number : 0}}
                  span.md-caption.opacity5|%
                .mb-body-1.opacity75|Comprensión
              .padding-half.margin-v-half(flex=33 layout="column" layout-align="start center")
                .md-title.personalStats
                  |{{$ctrl.$personalStats.category.percentage.mean * 100 | number : 0}}
                  span.md-caption.opacity5|%
                .md-subhead.globalStats
                  |{{$ctrl.$globalStats.category.percentage.mean * 100 | number : 0}}
                  span.md-caption.opacity5|%
                .mb-body-1.opacity75|Retención
            
        //- Sesiones
        div(ng-if="$ctrl.$sessions.length")
          .md-headline.opacity25.margin Sesiones
          div(layout="column")
            .md-whiteframe-1dp.margin-quarter.padding-v-half.border-radius(ng-repeat="session in $ctrl.$sessions" ng-show="$index < 2 || $showMore")
              .padding-half(layout="row" layout-align="start center")
                .padding-quarter
                .padding-half
                  md-icon(ng-if="$ctrl.getProgress(session.progress) >= 100" style="color: #4CAF50")|check_circle
                  md-icon(ng-if="$ctrl.getProgress(session.progress) < 100" style="color: rgba(0,0,0,0.25)")|cancel
                .padding-quarter
                div(layout="column" flex)
                  .md-subhead|{{session.createdAt | date}}
                  .md-body-1.opacity5|{{((session.finishedAt - session.createdAt > 0 ? session.finishedAt - session.createdAt : 0) / (1000 * 60)).toFixed(0)}} minutos
                .padding-half
                .md-headline.margin-h|{{$ctrl.getProgress(session.progress) < 100 ? $ctrl.getProgress(session.progress) + '%' : '100%'}}
              .padding-h-half.margin-h
                md-progress-linear.md-primary(
                  md-mode="determinate"
                  ng-value="$ctrl.getProgress(session.progress)")
              .padding-quarter
            div(layout="row" layout-align="center")
              md-button(ng-click="$showMore = !$showMore") {{$showMore ? 'Ver menos' : 'Ver más'}}
        
        //- Ejercicios
        .md-headline.margin.opacity25 Leyenda
        .margin-half(layout="row" layout-wrap)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #00BCD4; color: white; border-radius: 99rem")
            .md-body-1 100+% (Nivel excelente)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #8BC34A; color: white; border-radius: 99rem")
            .md-body-1 75 - 100% (Nivel bueno)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #CDDC39; color: white; border-radius: 99rem")
            .md-body-1 60 - 75% (Nivel aceptable)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #FF9800; color: white; border-radius: 99rem")
            .md-body-1 30 - 60% (Nivel medio)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #FF5722; color: white; border-radius: 99rem")
            .md-body-1 10 - 30% (Nivel bajo)
          .padding-v-quarter.padding-h-half.sans.margin-quarter(style="background: #f44336; color: white; border-radius: 99rem")
            .md-body-1 0 - 10% (Nivel muy bajo)
        //- Por mejorar
        .md-headline.opacity25.margin Por mejorar
        div(ng-if="$ctrl.$personalStats && $ctrl.$labelsData && $ctrl.$structure.levels")
          .margin-quarter.padding-half.md-whiteframe-2dp(
            style="border-radius: 0.5rem; margin-top: 0.5rem"
            ng-repeat="(levelId, level) in $ctrl.$structure.levels"
            ng-init="$ctrl.levelImprovements[levelId] = $ctrl.$getImprovement(level.lessons)"
            ng-show="$ctrl.levelImprovements[levelId].length")
            .md-body-1.margin-h.opacity5 Nivel {{levelId}}
            div(layout="row" layout-wrap)
              .md-body-1.sans.padding-v-quarter.padding-h-half.margin-quarter.pointer(
                ng-repeat="(lessonId, item) in $ctrl.levelImprovements[levelId]"
                style="color: white; border-radius: 99rem" ng-style="{background: item[1] || ''}"
                ui-sref="lesson({lessonId: item[2], stats: true})")
                |{{item[0]}}
        div(
          ng-if="level"
          ng-repeat="(levelId, level) in $ctrl.$structure.levels")
          .md-headline.margin.opacity25 Nivel {{levelId}}
          div(layout="row" layout-wrap ng-if="true")
            div(flex-xs=100 flex-gt-xs=50 ng-repeat="(lessonId, excersise) in level.lessons" ng-if="$ctrl.$labelsData[lessonId].length")
              .md-whiteframe-2dp.margin-half.padding-half.border-radius.pointer(
                ui-sref="lesson({lessonId: lessonId, stats: true})"
                layout="column" layout-align="start")
                .padding-quarter
                div(layout="row" layout-align="end")
                  .md-subhead.padding-h-half(flex)|{{$ctrl.excersises[lessonId].displayName}}
                  .md-caption.padding-v-quarter.padding-h-half(style="font-family: sans-serif; color: white; border-radius: 99rem" ng-style="{background: $ctrl.$personalStats.lessons[lessonId].color}")
                    div|{{$ctrl.$personalStats.lessons[lessonId].effectiveness}}%
                .md-caption.padding-h-half.opacity5(ng-if="$ctrl.excersises[lessonId].unit === 'milliseconds'")|Segundos totales
                .md-caption.padding-h-half.opacity5(ng-if="$ctrl.excersises[lessonId].unit === 'percentage'")|Porcentaje de respuestas correctas
                .md-caption.padding-h-half.opacity5(ng-if="$ctrl.excersises[lessonId].unit === 'number'")|Número alcanzado
                .md-caption.padding-h-half.opacity5(ng-if="$ctrl.excersises[lessonId].unit === 'wpm'")|Palabras comprendidas por segundo (comprensión multiplicada por las palabras por segundo totales)
                .padding-quarter
                canvas#line.chart.chart-line(
                  chart-data="$ctrl.$individualData[lessonId]"
                  chart-options="$ctrl.chartOptionsObj[$ctrl.excersises[lessonId].unit] || $ctrl.chartOptionsObj.main"
                  chart-labels="$ctrl.$labelsData[lessonId]"
                  chart-series="['student', 'global']")
                div(layout="row" layout-align="start start")
                  .bottom-unit(flex)|Intentos
      
      //- .pointer(style="outline: none" 
      //-   ng-if="level"
      //-   ng-click="$ctrl.showLevel[levelId] = !$ctrl.showLevel[levelId]"
      //-   ng-repeat-start="(levelId, level) in $ctrl.$structure.levels"
      //-   flex=100 layout="row" layout-align="start center")
      //-   .md-body-2.margin-v-quarter.opacity5.margin-h
      //-     b|Nivel {{levelId}}
      //-   div(flex)
      //-   md-icon(ng-show="$ctrl.showLevel[levelId]")|keyboard_arrow_up
      //-   md-icon(ng-hide="$ctrl.showLevel[levelId]")|keyboard_arrow_down
      //-   .padding
      
      //- div(ng-repeat-end flex=100)
        

    
    