wc-ui-params(then="$ctrl.level = $data.level")

// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.warmup.splash")

.fixed-fill(
  layout="column")
      
  it-hit(
    ng-if="$ctrl.FINISHED"
    measurement="warmup"
    level="$ctrl.level || 1"
    score=34)
  
  it-hit(
    on-params="$ctrl.$warmupAmount = $data.warmup; $ctrl.$isVertical = $data.warmupVertical")
  
  fd-timeout(
    fd-timeout-time="1000")
    then(ng-init="$ctrl.$warmupAmount = $ctrl.$warmupAmount || 60")
  
  md-content.relative(
    layout="row"
    layout-align="center"
    flex)
    
    warmup-excersise-component.container-extended.relative(
      ng-if="$ctrl.$warmupAmount"
      is-vertical="$ctrl.$isVertical"
      repetitions="2"
      duration="(120 - $ctrl.$warmupAmount) * 10"
      then="$ctrl.FINISHED = true")
    
  .z5(
    layout="row"
    layout-align="center")
    .container(
      layout="row")
      md-button(
        ng-hide="$ctrl.FINISHED"
        ng-click="$ctrl.CANCEL = true")|CANCELAR
      div(flex)
      md-button.md-raised.md-primary(
        ng-show="$ctrl.FINISHED"
        ui-sref="home")|FINALIZAR
    