div(
  layout="column"
  layout-align="start end")
  fd-ref(
    fd-ref-path="content/articles"
    fd-ref-array="true"
    then="$ctrl.$article = $data[$ctrl.$rand($data.length)]")
    before
      wc-progress(wc-progress-type="linear")
  .padding(
    ng-if="$ctrl.$article"
    layout="column"
    layout-align="start stretch")
    .md-title|Medidor de lectura
    span|Lee el artículo que aparece a tu velocidad normal de lectura, no intentes afanarte sino de leer de forma consciente y cuando termines oprime TERMINAR.
  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$article"
    ng-click="$ctrl.then({$article: $ctrl.$article})")
    |Comenzar