// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")

div(
  layout="column")
  .padding(
    ng-init="$ctrl.$chosen = {}"
    flex
    layout="row"
    layout-wrap
    layout-align="center start")
    // TEST
    .padding-h-half.opacity5(
      ng-if="$ctrl.testing && !$ctrl.$result"
      flex=100)
      p.serif|Elige las palabras que recuerdes:
    .md-subhead.padding-half.pointer.serif.no-outline(
      flex=20
      flex-xs=33
      ng-if="$ctrl.testing && !$ctrl.$result"
      md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary' : 'grey-900' }"
      ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
      ng-click="$ctrl.$choose($ctrl.$chosen, word)"
      ng-repeat="word in $ctrl.test track by $index")
      |{{word}}
      
    // TRUNCATED
    .md-subhead.relative.margin-v-half.padding-h-half.serif(
      ng-if="!$ctrl.testing"
      flex=20
      flex-xs=33
      ng-repeat="word in $ctrl.dictionary track by $index")
      |{{word}}
      .block(
        md-colors="::{background: 'grey-200'}"
        ng-style=`{ height: $ctrl.height + '%', opacity: $ctrl.opacity }`)
  div(
    layout="row"
    layout-align="end")
    md-button.md-primary.md-raised(
      ng-if="!$ctrl.testing"
      ng-disabled="!$ctrl.$canContinue"
      ng-click="$ctrl.testing = true")
      span(ng-if="$ctrl.$canContinue")|CONTINUAR
      span(ng-if="!$ctrl.$canContinue")|ESPERA PARA CONTINUAR
    
    md-button.md-primary.md-raised(
      ng-if="$ctrl.testing && !$ctrl.$result"
      ng-click="$ctrl.$verify($ctrl.$chosen, $ctrl.dictionary)")
      |CONTINUAR
  