// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")

.padding-half(
  layout="column")
  .padding(
    ng-init="$ctrl.$chosen = {}"
    flex
    layout="row"
    layout-wrap
    layout-align="center start")
    
    // TEST
    .padding-h-half(
      flex=100)
      p.serif.opacity5|Encuentra la palabra ({{$ctrl.currentCycle}}/{{$ctrl.repetitions}})
      .md-headline.center(style="color: #A30000")|{{$ctrl.currentWord}}
    .md-subhead.padding-half.pointer.serif.no-outline(
      flex=20
      flex-xs=33
      md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary' : 'grey-900' }"
      ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
      ng-click="$ctrl.$chosen[word] = $ctrl.$verifyWord(word)"
      ng-repeat="word in $ctrl.dictionary")
      |{{word}}
  