.landing-cta-wrapper.padding.md-whiteframe-4dp(
  md-colors="::{background: 'cyan-primary-800'}"
  layout="row"
  layout-align="center center")  
  .container.padding-v(
    layout="row"
    layout-align="center center"
    layout-wrap)
    .container-half.padding-v.margin-v(
      flex-xs=100
      layout="column"
      layout-align="start start")
      .md-headline(
        md-colors="::{color: 'grey-primary-50'}")
        |Prueba gratis la lectura rápida
      p.md-title.font300(
        md-colors="::{color: 'grey-primary-50'}")
        |Deseas conocer el producto antes de pagar una suscripción. Haz la prueba y conoce la nueva forma de mejorar tus capacidades de lectura y comprensión.
    div(flex)
    div(
      flex-xs=100
      md-theme="cyan"
      layout="column"
      layout-xs="row"
      layout-align="start stretch"
      layout-align-xs="space-between center")
      md-button.md-raised.md-primary(
        ng-href="https://app.intelligere.co/"
        md-colors="::{color: 'grey-primary-50'}")
        |PROBAR
      md-button.md-raised(
        ng-click="$ctrl.CONTACT = true")|CONTÁCTANOS

