<template lang="pug">
  .elevation-2.white--background.radius-half
    v-tabs.margin(v-model="currentTab" centered grow slider-color="primary")
      v-tab(key="users")
        .nunito|Usuarios
      v-tab(key="config")
        .nunito|Config
    v-tabs-items(v-model="currentTab")
      v-tab-item(key="users")
        div|users
        //- SettingsUsers
      v-tab-item(key="config")
        SettingsMetadata

</template>
<script>
import SettingsUsers from './SettingsUsers'
import SettingsMetadata from './SettingsMetadata'
export default {
  components: {SettingsUsers, SettingsMetadata},
  data: () => ({
    currentTab: 'users'
  })
}
</script>
