<template lang="pug">
  v-data-table(v-if="groupMembers.length" :items="groupMembers" hide-actions :headers="memberHeaders" item-key="studentId")
    template(slot="items" slot-scope="props")
      tr.pointer(@click="props.expanded = !props.expanded")
        td|{{ props.item.displayName }}
        td|{{ props.item.email }}
</template>
<script>
export default {
}
</script>
