.background.padding(
  layout="column"
  layout-align="start stretch"
  title="")
  .container-2-thirds.padding-half(
    ng-if="$ctrl.article"
    layout="column"
    layout-align="start start")
    .padding-half
    .md-display-1.padding-v-half|{{$ctrl.article.content.title}}
    wc-text.text.justify(
      style="width: 100%"
      wc-data="$ctrl.article.content.body"
      wc-placeholder=""
      wc-disabled="true")
  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then($ctrl.article.content.body)`)
    |TERMINAR