<template lang="pug">
  .wrapper.padding.margin-half
    .md-body-1.w800|{{label || ''}}
    .md-caption.w400.opacity75|{{sublabel || ''}}
    .padding-quarter
    LineChartBase(:width="width" :height="height" :options="options" :chart-data="list" :scaleFn="scaleFn")
</template>
<script>
import _ from 'lodash'
import LineChartBase from './LineChartBase'
export default {
  props: ['width', 'height', 'options', 'scaleFn', 'chartData', 'label', 'sublabel', 'invert'],
  components: {LineChartBase},
  computed: {
    list () {
      return this.invert
        ? {
          datasets: _.map(this.chartData.datasets, dataset => ({
            ...dataset,
            data: _.map(dataset.data, item => -item)
          }))
        }
        : this.chartData
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  min-width: 15rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
}
</style>
