.relative(
  ng-init="$ctrl.$step = 'intro'")
  .md-whiteframe-2dp.radius-half.margin-half.container-third(
    ng-if="$ctrl.$step === 'intro'")
    article-intro(
      then=`
        $ctrl.$step = 'content';
        $ctrl.$article = $article`)
  div(
    style="min-height: 50vh;"
    ng-if="$ctrl.$step === 'content'")  
    article-content(
      article="$ctrl.$article"
      then=`
        $ctrl.$step = 'summary';
        $ctrl.$wpm = $wpm;
        $ctrl.$questions = $questions`)
  .margin-half.container-third(
    style="min-height: 160px;"
    ng-if="$ctrl.$step === 'test'")  
    article-test(
      dictionary="$ctrl.$questions"
      questions="$ctrl.questions"
      total="$ctrl.total"
      then=`
        $ctrl.$step = 'summary';
        $ctrl.$result = $data`)
  .md-whiteframe-2dp.radius-half.margin-half.container-third(
    style="min-height: 160px;"
    ng-if="$ctrl.$step === 'summary'")  
    article-summary(
      result="$ctrl.$result"
      wpm="$ctrl.$wpm"
      then="$ctrl.$step = 'intro'")