$height: 4rem;
institutional-about {
  margin-top: -$height;
  z-index: 1;
  .institutional-about-wrapper {
    clip-path: polygon(0 $height, 100% 0, 100% calc(100% - 4rem), 0 100%);
    width: 100%;
    padding-top: $height;
    padding-bottom: $height - 1rem;
    margin-top: -$height;
    margin-bottom: -$height;
  }
  institutional-about-slider {
    margin-top: -$height;
    padding-bottom: $height / 2;
  }
}