div(
  layout="column"
  layout-align="start end")
  fd-ref(
    fd-ref-path="lessons/triangles/about"
    then="$ctrl.$about = $data")
    before
      wc-progress(wc-progress-type="linear")
  .padding(
    ng-if="$ctrl.$about"
    layout="column"
    layout-align="start stretch")
    .md-title|{{$ctrl.$about.title}}
    wc-text(
      wc-data="$ctrl.$about.body"
      wc-placeholder="Here goes the lesson description..."
      wc-disabled="true")
  md-button.md-raised.md-primary.margin-half(
    ng-click="$ctrl.then()")
    |Comenzar