fd-auth(then="$ctrl.uid = $data.uid")
  then
    fd-ref(fd-ref-path="/students/{{$ctrl.uid}}/scores" then="$ctrl.$hasScores = $data")
.padding(
  style="margin-bottom: 2px"
  layout="row"
  layout-align="start center")
  div
    md-icon|fitness_center
  .padding-h(
    flex
    layout="column"
    layout-align="center start")
    .md-title.center(ng-if="$ctrl.$hasScores")|Haz tu entrenamiento de hoy
    .md-title.center(ng-if="!$ctrl.$hasScores")|Mide tu velocidad
    .md-body-1.center.opacity5.roboto-slab(ng-if="$ctrl.$hasScores")|Elige un campo de habilidad que quieras mejorar.
    .md-body-1.center.opacity5.roboto-slab(ng-if="!$ctrl.$hasScores")|Antes de comenzar tu entrenamiento, debes medir tu velocidad actual.