recognize-excersise-component {
  .dot {
    width: 1rem;
    height: 1rem;
    margin-top: -.5rem;
    margin-left: -.5rem;
    background: #000;
    border-radius: 1rem;
    transition: all .6s;
  }
}