wc-dialog(
  ng-if="$ctrl.$showDialog"
  wc-dialog-template="true"
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.closeDialog()")
  wc-dialog-template
    .active-pauses(layout="column")
      .header.padding(layout="row" style="background: #EFD28D")
        .margin.md-headline|Pausa activa
      iframe(width="560" height="315" src="https://www.youtube.com/embed/UX9Cf36fSOU?start=22" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      //- .padding.margin-h(style="max-width: 16rem")
        .md-subhead|Descansa un momento la mirada y enfoca al infinito para ejercitar los ojos.
      .padding-h(layout="row" layout-align="end")
        md-button.md-accent.md-raised(flex ng-disabled="$ctrl.disabled" ng-click="$ctrl.$showDialog = false")
          |YA HICE MI PAUSA
      .padding-half