.padding(
  layout="row"
  layout-align="center")
    .container(
      layout="column"
      layout-align="center center")
      .md-headline(
        md-colors="::{color: 'cyan-primary-900'}")
        |BENEFICIOS
      p.md-title.font300.center(
        md-colors="::{color: 'blueGrey-primary-800'}")
        |Los beneficios de aprender a leer y comprender lo que estas leyendo son incalculables, la optimización del tiempo, la capacidad de investigación el desarrollo de la memoria entre muchos otros son un mundo al cual vas a tener acceso a medida que avances en nuestro método.
    