fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/wordDiamond"
      fd-ref-array="rich"
      then="$ctrl.$progress = $data.reverse(); $ctrl.chartData = $ctrl.parseData($ctrl.$progress)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="row"
    layout-align="center start")
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Párrafo diamante
            div
              span
                |En este ejercicio debes encontrar la palabra en el párrafo realizando barridos ubicando tu mirada en la parte superior de las frases haciendo fijaciones por medio de barridos.
        md-card-actions(
          layout="row")
          //md-button(
            md-colors="::{color: 'grey-600'}")|LEER MÁS
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.wordDiamond.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Resultados pasados (ppm)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartData"
          chart-options="$ctrl.chartOptions")

      md-card(
        ng-repeat="measurement in $ctrl.$progress")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value | number : 0}} ppm
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
        
  it-hit(
    measurement="wordDiamond"
    level=3
    on-score="$ctrl.$wordDiamondScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$wordDiamondScore")

