// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.absentWords.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Palabras ausentes
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      it-hit(
        on-params=`
          $ctrl.$wordAmount = $data.absentWordsAmount || 16;
          $ctrl.$wordTime = ($data.absentWordsTime || 1.5) * 1000`)
      
      disappearing-words-excersise-component(
        ng-if="!$ctrl.$data && $ctrl.$wordAmount"
        interval="$ctrl.$wordTime"
        beginning-time="$ctrl.$wordTime * $ctrl.$wordAmount * 0.66"
        word-amount="$ctrl.$wordAmount"
        then="$ctrl.$data = $data")

      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Porcentaje correcto
        .md-display-1.opacity75|{{$ctrl.$data * 100 | number : 0}}%    
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.absentWords.splash")
        |FINALIZAR
      it-hit(
        ng-if="$ctrl.$data"
        measurement="absentWords"
        value="$ctrl.$data"
        level=2
        score="$ctrl.$data > 0.5 ? 20 : 0")
    