fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/findWord"
      fd-ref-array="rich"
      then="$ctrl.$progress = $data.reverse(); $ctrl.chartData = $ctrl.parseData($ctrl.$progress)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    layout="row"
    layout-align="center start"
    flex)
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Encuentra la palabra
            div
              br
              span|Debes buscar 10 palabras dentro de la lista organizada en 3 columnas. Cuando encuentres la palabra correcta se pondrá en azul y podrás avanzar a la siguiente. Debes mantener la cabeza fija y recorrer con los ojos cada columna, en orden y de arriba hacia abajo.
                br
                br
                |¡Rétate a hacer el menor tiempo posible!
          wc-dialog(
            ng-if="$ctrl.$showDemo"
            wc-dialog-template="true"
            wc-dialog-fullscreen="true"
            wc-dialog-modal="false"
            catch="$ctrl.$showDemo = false")
            wc-dialog-template
              md-button.md-icon-button.z5(ng-click="$ctrl.$showDemo = false" style="position: absolute; top: 0; right: 0")
                md-icon|close
              video(
                style="max-height: 100%; max-width: 100%;min-width: 300px;"
                controls="" autoplay="")
                source(src="images/videos/findWord.webm" type="video/webm")
                source(src="images/videos/findWord.mp4" type="video/mp4")
          
        md-card-actions(
          layout="row")
          md-button(ng-click="$ctrl.$showDemo = true")|DEMO
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.findWord.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Resultados pasados (segs)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartData"
          chart-options="$ctrl.chartOptions")
      
      md-card(
        ng-repeat="measurement in $ctrl.$progress")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value / 1000 | number : 0}} segs
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
        
  it-hit(
    measurement="findWord"
    level=1
    on-score="$ctrl.$findWordScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$findWordScore")