@import 'layout-attributes';
@import 'typography';
@import 'helpers';

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-enter-active, .page-leave-active {
  transition: all .2s;
  transition-delay: .4s;
  .route-fade,
  .route-fade-right,
  .route-fade-scale {
    transition: all .4s;
  }
  .route-fade-2,
  .route-fade-2-right,
  .route-fade-2-scale {
    transition: all .2s;
    transition-delay: .2s;
  }
  .route-fade-scale {
    transition: all .2s;
  }
}
.page-enter, .page-leave-to {
  opacity: 0;
  .route-fade,
  .route-fade-2,
  .route-fade-right,
  .route-fade-2-right,
  .route-fade-scale,
  .route-fade-2-scale {
    opacity: 0 !important;
  }
  .route-fade-right,
  .route-fade-2-right {
    transform: translateX(2rem)
  }
  .route-fade-scale,
  .route-fade-2-scale {
    transform: scale(0)
  }
}

.pointer {
  cursor: pointer;
}

.gray-color,
.grey-color {
  color: #666;
}
.green-color {
  color: #C1D339;
}

.no-margin * {
  margin: 0;
}

.form-radio input[type=radio]:checked~i, label.label-radio input[type=checkbox]:checked+.item-media i.icon-form-radio, label.label-radio input[type=checkbox]:checked~.item-after i.icon-form-radio, label.label-radio input[type=checkbox]:checked~.item-inner i.icon-form-radio, label.label-radio input[type=radio]:checked+.item-media i.icon-form-radio, label.label-radio input[type=radio]:checked~.item-after i.icon-form-radio, label.label-radio input[type=radio]:checked~.item-inner i.icon-form-radio {
  border-color: #C1D339;
}
.form-radio input[type=radio]:checked~i:after, label.label-radio input[type=checkbox]:checked+.item-media i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked~.item-after i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked~.item-inner i.icon-form-radio:after, label.label-radio input[type=radio]:checked+.item-media i.icon-form-radio:after, label.label-radio input[type=radio]:checked~.item-after i.icon-form-radio:after, label.label-radio input[type=radio]:checked~.item-inner i.icon-form-radio:after {
  background-color: #C1D339;
}

.custom-input {
  .item-inner:after {
    display: none;
  }
  .item-inner {
    flex-direction: column;
    // align-items: flex-start;
    align-items: stretch;
    input, textarea {
      border: 1px solid rgba(0, 0, 0, 0.125) !important;
      padding: .25rem;
      border-radius: .25rem;
    }
  }
  .label {
    margin: .25rem 0;
  }
}
.custom-input.dark {
  .item-inner {
    input, textarea {
      border: 1px solid rgba(255, 255, 255, 0.5) !important;
    }
  }
}
.list-block.no-borders ul:before,
.list-block.no-borders ul:after {
  display: none;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.06);
}
.no-margin {
  margin: 0 !important;
}
.w600 {
  font-weight: 600;
}
.white {
  color: #fff;
}
.dialog-wrapper .header {
  height: 12rem;
  background: #1d252d;
  .large-icon {
    color: #C1D339;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .close-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
}
.input-border {
  label {
    padding-left: .5rem !important;
  }
  .input-group__input input {
    padding-left: .5rem !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
    border-bottom: 0 !important;
  }
}
.white--background {
  background: #fff;
}
.letter-background {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-color: #EFD28D;
}
.letter-background-grey {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-color: #fafafa;
}