.relative
  .md-whiteframe-2dp.radius-half.margin-half.container-third(
    ng-init="$ctrl.$step = 'intro'")
    triangles-intro(
      ng-if="$ctrl.$step === 'intro'"
      then="$ctrl.$step = 'triangle'")
    triangles-triangle(
      ng-if="$ctrl.$step === 'triangle'"
      period="$ctrl.period"
      cycles="$ctrl.cycles"
      then=`
        $ctrl.$step = 'test';
        $ctrl.$words = $words`)
    triangles-test(
      ng-if="$ctrl.$step === 'test'"
      words="$ctrl.$words"
      cycles="$ctrl.cycles"
      total="$ctrl.total"
      then=`
        $ctrl.$step = 'summary';
        $ctrl.$percentage = $data`)
    triangles-summary(
      ng-if="$ctrl.$step === 'summary'"
      result="$ctrl.$percentage"
      then="$ctrl.$step = 'intro'")