// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")
div(ng-if="!$ctrl.$testing")
  .padding(
    layout="column"
    layout-align="start center")
    div(
      ng-if="$ctrl.content"
      layout="column"
      layout-align="start center")
      div(
        layout="row"
        ng-repeat="line in $ctrl.content track by $index")
        span(
          ng-repeat="word in line track by $index")
          |{{word}}&nbsp;
      
    md-button.md-raised.md-primary.margin-half(
      ng-click=`$ctrl.$testing = true`)
      |CONTINUAR

// TEST
.padding-half(
  ng-if="$ctrl.$testing"
  layout="row"
  layout-wrap)
  .padding-h-half.opacity5(
    flex=100)
    p.serif|Elige las palabras que recuerdes:
  .md-subhead.padding-half.pointer.serif.no-outline.mono(
    flex=33 style="background: transparent"
    md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary' : 'grey-900' }"
    ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
    ng-click="$ctrl.$choose($ctrl.$chosen, word)"
    ng-repeat="word in $ctrl.allWords track by $index")
    |{{word}}
  .padding-half
  md-button.md-raised.md-primary.margin-half(
    ng-click=`$ctrl.$then()`)
    |TERMINAR