.background.padding(
  layout="column"
  layout-align="start center"
  title="")
  div(
    ng-if="$ctrl.columns"
    layout="column"
    layout-align="start center")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      style="margin: 0 -3rem"
      layout="row"
      layout-align="space-between baseline"
      layout-wrap)
      .relative.column-wrapper(
        flex=33
        ng-repeat="column in $ctrl.columns track by $index"
        layout="row"
        layout-align="space-between")
        .middle-line
        span(ng-repeat="word in column track by $index")
          |{{word}}&nbsp;

  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then()`)
    |TERMINAR