triple-column-excersise-component {
  .middle-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: rgba(0,0,0,0.4);
  }
  .column-wrapper {
    padding: 0 .5rem;
    @media (min-width: 800px) {
      padding: 0 3rem;
    }
  }
}