wc-ui-params(then="$ctrl.level = $data.level")
fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/speedWpm"
      fd-ref-array="rich"
      then="$ctrl.$progressWpm = $data.reverse(); $ctrl.chartWpm = $ctrl.parseData($ctrl.$progressWpm)")
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/speedComprehension"
      fd-ref-array="rich"
      then="$ctrl.$progressComprehension = $data.reverse(); $ctrl.chartComprehension = $ctrl.parseData($ctrl.$progressComprehension, true)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="column"
    layout-align="start center")
    .container
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Velocidad de lectura
            div
              span|Con este ejercicio conocerás tu velocidad de lectura actual.
        md-card-actions(
          layout="row")
          //md-button(
            md-colors="::{color: 'grey-600'}")|LEER MÁS
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.speed.excersise")
            b|COMENZAR
    .container
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Velocidad de lectura (ppm)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartWpm"
          chart-options="$ctrl.chartOptions")
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Comprensión (%)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartComprehension"
          chart-options="$ctrl.chartOptions")
      
      md-card(
        ng-repeat="measurement in $ctrl.$progressWpm")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|{{measurement.value | number : 0}}ppm
            .md-headline|{{$ctrl.$progressComprehension[$index].value * 100 | number : 0}}%
            div
              span|{{measurement.key | date}}
  it-hit(
    ng-if="!$ctrl.level"
    measurement="wpm"
    level='1'
    on-score="$ctrl.$wpmScore = $data")
  it-hit(
    ng-if="$ctrl.level"
    measurement="speed"
    level='$ctrl.level'
    on-score="$ctrl.$wpmScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$wpmScore")
  
  