div(
  layout="column"
  layout-align="start stretch")
  .padding.no-outline.pointer(
    ng-click="$ctrl.expanded = $ctrl.$completed ? !$ctrl.expanded : !$ctrl.expanded"
    layout="row" layout-align="start center")
    div(
      flex
      layout="column")
      .md-caption.roboto-slab.opacity5
        span|Nivel 3
        span(ng-if="$ctrl.$completed")|&nbsp;(Completado)
      .md-subhead|Máxima apertura del campo visual
    md-button.md-raised.md-primary(ng-show="!$ctrl.expanded && $ctrl.isActive" ui-sref="session({level: 3})" style="text-transform: none; margin: 0; border-radius: 0.5rem; background: #7bbb1b;")
      md-icon fitness_center
      span(style="margin-left: 0.5rem") Iniciar entrenamiento
    md-icon(ng-show="$ctrl.expanded && $ctrl.$completed")|check_circle
    md-icon(ng-show="!$ctrl.expanded && $ctrl.$completed")|keyboard_arrow_up
    md-icon(ng-show="$ctrl.expanded && !$ctrl.$completed && $ctrl.isActive")|keyboard_arrow_down
    md-icon(ng-show="!$ctrl.isActive")|lock
  levels-level3-excersises(
    ng-show="!$ctrl.expanded && $ctrl.isActive")
  home-levels-progress(
    ng-show="!$ctrl.expanded && $ctrl.isActive"
    level="3"
    then="$ctrl.$completed = $completed; $ctrl.expanded = $expanded")