.absolute-fill.margin(
  layout="row"
  layout-align="start stretch")
  .relative(flex)
    .dot(
      ng-style=`{
        transitionDuration: $ctrl.duration + 'ms',
        left: $ctrl.x + '%',
        top: $ctrl.y + '%'
      }`)