// NUMBERS
.padding(
  ng-if="$ctrl.numbers"
  layout="row"
  layout-wrap)
  .padding-h-half(
    flex=100)
    .center.md-headline.opacity75(style="color: #A30000")
        b|&nbsp;{{$ctrl.currentNumber}}
  .pointer.no-outline.padding-half.relative(
    flex=25
    ng-repeat="number in $ctrl.numbers")
    md-button.md-icon-button(
      ng-click="$ctrl.$verifyNumber(number, $index)"
      md-ink-ripple="{{$ctrl.currentNumber === number ? '#00ff00' : '#ff0000'}}")
      span.md-title.serif|{{number}}
    
