speed-excersise-component {
  .background {
    // background: rgb(255,255,255);
    margin: -1rem;
  }
  .text {
    color: #424242;
  }
  .text p {
    margin: 1.5rem 0;
    font-family: 'Lora' !important;
    line-height: 28px !important;
    font-size: 18px !important;
  }
}