fd-dispatcher(
  fd-dispatcher-action=`{
    type: 'CONTENT.WORDS.ADD',
    words: $ctrl.words
  }`)
  catch
    wc-toast(
      ng-init="$ctrl.catch()"
      wc-toast-message="Error adding words")
  then
    wc-toast(
      ng-init="$ctrl.then()"
      wc-toast-message="Words added succesfully")