div(
  layout="column"
  layout-align="start stretch")
  .padding.no-outline.pointer(
    style="margin-bottom: 0.5rem"
    ng-click="$ctrl.expanded = $ctrl.$completed ? !$ctrl.expanded : !$ctrl.expanded"
    layout="row" layout-align="start center")
    div(
      flex
      layout="column")
      .md-caption.roboto-slab.opacity5
        span|Nivel 1
        span(ng-if="$ctrl.$completed")|&nbsp;(Completado)
      .md-subhead|Campo Visual
    div(data-step="2" data-intro="Acá podrás iniciar tu entrenamiento")   
      md-button.md-raised.md-primary(ng-show="!$ctrl.expanded" ui-sref="session({level: 1})" style="text-transform: none; margin: 0; border-radius: 0.5rem")
        md-icon fitness_center
        span(style="margin-left: 0.5rem") Iniciar entrenamiento
    md-icon(ng-show="$ctrl.expanded && $ctrl.$completed")|check_circle
    md-icon(ng-show="!$ctrl.expanded && $ctrl.$completed")|keyboard_arrow_up
    md-icon(ng-show="$ctrl.expanded && !$ctrl.$completed")|keyboard_arrow_down
  div(data-step="3" data-intro="Acá podrás practicar cada ejercicio individualmente.")   
    levels-level1-excersises(
      ng-show="!$ctrl.expanded")
  home-levels-progress(
    ng-show="!$ctrl.expanded && $ctrl.isActive"
    level="1"
    then="$ctrl.$completed = $completed; $ctrl.expanded = $expanded")