// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.similarWords.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Palabras similares
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      similar-words-excersise-component(
        ng-if="!$ctrl.$data"
        word-amount="60"
        cycle-amount="10"
        then="$ctrl.$data = $data")

      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Tiempo promedio
        .md-display-1.opacity75|{{$ctrl.$data / 1000 | number : 1}} segundos    
      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Tiempo total
        .md-display-1.opacity75|{{$ctrl.$data / 100 | number : 1}} segundos    
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.similarWords.splash")
        |FINALIZAR
      it-hit(
        ng-if="$ctrl.$data"
        measurement="similarWords"
        value="$ctrl.$data"
        level=2
        score="-10 * ($ctrl.$data / 1000) + 70")
    