.fixed-fill(
  layout="column")
  md-toolbar.md-tall.background-image(
    style="background: url(https://images.unsplash.com/photo-1467245891624-dff3e966bcca?dpr=1&auto=compress,format&fit=crop&w=1600&h=&q=80&cs=tinysrgb&crop=); background-size: cover !important;"
    layout="column"
    layout-align="end center")
    .md-toolbar-tools.container|Intelligere God Login
  md-content(
    flex
    layout="column"
    layout-align="center center")
    .margin.container-half.radius-half.md-whiteframe-2dp
      .padding(
        layout="column"
        layout-align="start stretch")
        md-input-container
          label|Email
          input(
            required
            type="email"
            ng-model="$ctrl.$credentials.email")
        md-input-container
          label|Password
          input(
            required
            type="password"
            ng-model="$ctrl.$credentials.password")
        md-button.md-raised(
          ng-click="$ctrl.LOGIN = true")
          |Login
      fd-login(
        ng-if="$ctrl.LOGIN"
        fd-login-provider="email"
        fd-login-credentials="$ctrl.$credentials")
        before
          wc-progress(wc-progress-type="linear")
        then
          fd-user(then="$ctrl.$auth = $data")
            before
              wc-progress(wc-progress-type="linear")
            then
              wc-toast(
                ng-if="!$ctrl.$auth.isAdmin"
                ng-init="$ctrl.LOGIN = false"
                wc-toast-message="Your account doesn't have enough privileges to access this view.")
              wc-toast(
                ng-if="$ctrl.$auth.isAdmin"
                ng-init="$ctrl.LOGIN = false"
                wc-toast-message="Bienvenido(a) {{$ctrl.$auth.displayName}}")
              wc-ui-redirect(
                ng-if="$ctrl.$auth.isAdmin"
                wc-ui-redirect-sref="users")
        catch 
          wc-toast(
            ng-init="$ctrl.LOGIN = false"
            wc-toast-message="Error logging in, please verify your credentials and try again")
        
        
    