div(
  layout="column"
  layout-align="start stretch")  
  .padding(
    flex
    layout="column"
    layout-align="center center")
    div(
      layout="row")
      .md-title|Resultados
      br
    .md-display-1|{{$ctrl.wpm | number : 0}}ppm
    .md-body-1|Velocidad de lectura
  div(
    layout="row"
    layout-align="end")
    md-button.md-raised.md-primary(
      ng-click="$ctrl.then()")
      |Terminar