.landing-features-wrapper(
  ng-if="$ctrl.startColor"
  ng-style=`{ 'background': 'linear-gradient({{$ctrl.startColor}}, {{$ctrl.endColor}})' }`)
  landing-features-title
  .padding(
    layout="row"
    layout-align="center")
      .container(layout="row" layout-wrap)
        div(ng-repeat="item in $ctrl.benefits" flex=33)
          .icon-32.background-image.background-contain.margin-v-half(
            ng-style="{ backgroundImage: 'url(images/landing/about/exercises-icon.png)' }")
          .md-subhead.opacity5|{{item}}
  landing-features-hero(
    title="Revisa el progreso de un grupo en tiempo real"
    body="Lleva el control del progreso de un grupo de usuarios y compara el desempeño de un usuario con el del grupo. Toda la información se actualiza en tiempo real a medida que los usuarios van avanzando en los niveles."
    image="images/slide1/practice-hours@2x.png"
    inverted="true")
  div(
    layout="row"
    layout-align="center")
    .container.padding-half(
      layout="row"
      layout-wrap)
      div(
        flex=45
        flex-xs=100)
        landing-features-card.padding-half(
          title="Practica desde cualquier dispositivo"
          body="¿Deseas leer en el computador de tu estudio? ¿O mejor practicar en el bus de camino al colegio? Intelligere está disponible para computadores, tablets y móviles para que nada te impida mejorar tu lectura.",
          image="images/landing/about/devices-icon.png")
      div(
        flex=45
        flex-xs=100)
        landing-features-card.padding-half(
          title="Trabaja sin conexión a internet"
          body="Una vez te hayas conectado Intelligere, podrás seguir usándolo sin necesidad de tener conexión a internet. Así podrás usar así no tengas señal."
          image="images/landing/about/offline-icon.png")
  landing-features-hero(
    title="Sé el mejor de tu grupo y entra en los rankings más altos"
    body="Lleva el control del progreso de un grupo de usuarios y compara tu desempeño con el de tus compañeros."
    image="images/slide1/rankings@2x.png")
  
  //- landing-features-hero(
    title="Prueba un ejercicio"
    body="¿Qué tan abierto está tu campo de visión? Verifícalo haciendo este corto ejercicio."
    module="triangles"
    inverted="true")
    
  landing-features-hero(
    title="Nuestros beneficios"
    body="¿Cómo se compara Intelligere con otros cursos de lectura tradicionales? Intelligere te da la conveniencia, versatilidad y simplicidad que ningún método tradicional te darán. La metodología está diseñada para ser retadora y mantenerte con ganas de más."
    image="images/slide1/comparison@2x.png"
    inverted="true"
    large-image="true")

  .z5(layout="row" layout-align="center")
    .container.md-whiteframe-2dp
      p|plop

    
  //- landing-features-hero(
  //-   title="Prueba tu velocidad de lectura"
  //-   body="¿Qué tan rápido puedes leer? Contabilízalo ahora!"
  //-   module="article")
  
  
  
  //landing-features-hero(
    inverted="true"
    title="Tests para medir comprensión"
    body="Intelligere analiza tu comprensión de las lecturas para que no solo leas más rápido sino que entiendas mejor.")
  //landing-features-hero(
    title="Cronómetros para medir ppm"
    body="Todas las lecturas están contabilizadas para que puedas ver tu progreso diario de palabras por minuto.")
  