.relative
  .md-whiteframe-2dp.radius-half.margin-half.container-third(
    style="min-height: 160px"
    ng-init="$ctrl.$step = 'intro'")
    lessons-triangles-module-intro(
      ng-if="$ctrl.$step === 'intro'"
      then="$ctrl.$step = 'triangle'")
    lessons-triangles-module-triangle(
      ng-if="$ctrl.$step === 'triangle'"
      period="$ctrl.period"
      cycles="$ctrl.cycles"
      then=`
        $ctrl.$step = 'test';
        $ctrl.$words = $words`)
    lessons-triangles-module-test(
      ng-if="$ctrl.$step === 'test'"
      words="$ctrl.$words"
      cycles="$ctrl.cycles"
      total="$ctrl.total"
      then=`
        $ctrl.$step = 'summary';
        $ctrl.$percentage = $data`)
    lessons-triangles-module-summary(
      ng-if="$ctrl.$step === 'summary'"
      result="$ctrl.$percentage"
      then="$ctrl.$step = 'intro'")