fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then="$ctrl.$processWords($data); $ctrl.$ready = true")
  before
    wc-progress(wc-progress-type="linear")

.padding(
  layout="column"
  layout-align="center center")
  .padding-quarter.radius(
    md-colors="::{backgroundColor: 'black-primary-900'}")
  .md-subhead.pt-serif(
    style="{height: 1em}"
    ng-repeat="word in $ctrl.$cycles[$ctrl.$currentCycle]")
    .transition(
      ng-style="{ opacity: $index <= $ctrl.$currentWord ? 1 : 0 }")|{{word}}