// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.findWord.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Encuentra la palabra
      
  md-content(
    flex
    layout="row"
    layout-align="center stretch")
    .container.relative
      find-word-excersise-component(
        ng-if="!$ctrl.$data"
        repetitions=10
        word-amount=40
        then="$ctrl.$data = $data")

      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Tiempo por palabra
        .md-display-1.opacity75|{{$ctrl.$data / 1000 | number : 1}} segundos   
      
      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Tiempo total
        .md-display-1.opacity75|{{$ctrl.$data * 10 / 1000 | number : 0}} segundos   
  div(
    layout="row"
    layout-align="center start")  
    .container(
      ng-if="$ctrl.$data"
      layout="row"
      layout-align="end")
      md-button.md-raised.md-primary(
        ui-sref="excersise.findWord.splash")
        |FINALIZAR
      it-hit(
        measurement="findWord"
        value="$ctrl.$data"
        level=1
        score="-10 * ($ctrl.$data / 1000) + 70")
    