// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.tripleColumn.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Lectura en 3 columnas
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      it-phrases(
        single-article="true"
        then="$ctrl.$phrases = $phrases; $ctrl.$questions = $questions; $ctrl.$title = $title")
      //- fd-ref(
        fd-ref-path="content/articles"
        fd-ref-array="rich"
        then="$ctrl.$article = $data[$ctrl.$rand($data.length)]")
        before
          wc-progress(wc-progress-type="linear")
        then
          fd-ref(
            fd-ref-path="content/articleQuestions/{{$ctrl.$article.key}}"
            then="$ctrl.$questions = $data")
          fd-ref(
            ng-if="$ctrl.$article.key"
            fd-ref-path="content/phrases/{{$ctrl.$article.key}}"
            then="$ctrl.$phrases = $data")
            before
              wc-progress(wc-progress-type="linear")

      
      triple-column-excersise-component(
        ng-if="!$ctrl.$data && $ctrl.$title && $ctrl.$phrases"
        phrases="$ctrl.$phrases"
        title="$ctrl.$title"
        then="$ctrl.$data = $data")

      excersise-questions(
        ng-if="$ctrl.$data && !$ctrl.$comprehension && $ctrl.$questions"
        questions="$ctrl.$questions"
        then="$ctrl.$comprehension = $data")

      .container
        .padding(
          ng-if="$ctrl.$data && $ctrl.$comprehension")

          .md-headline|Velocidad de lectura
          .md-display-1.opacity75|{{$ctrl.$data | number : 0}}ppm    
          br
          .md-headline|Comprensión
          .md-display-1.opacity75|{{$ctrl.$comprehension * 100 | number : 0}}%    
  div(
    ng-if="$ctrl.$data && $ctrl.$comprehension"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.tripleColumn.splash")
        |FINALIZAR
      it-hit(
        measurement="tripleColumn"
        level=4
        score="($ctrl.$data * $ctrl.$comprehension / 400) * 0.5")
      it-hit(
        measurement="tripleColumnWpm"
        value="$ctrl.$data")
      it-hit(
        measurement="tripleColumnComprehension"
        value="$ctrl.$comprehension")
    