home-levels {
  md-content {
    background: none;
  }
  .excersises {
    margin-top: -0.75rem;
  }
  .excersise {
    min-width: 110px;    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .md-whiteframe-2dp {
      border-radius: 99rem;
      height: 5rem;
      width: 5rem;
    }
    .session {
      color: #EFD28D;
    }
    .l1 {
      background: rgb(163,0,0);
    }
    .l2 {
      background: #0067a7;
    }
    .l3 {
      color: #fafafa;
      background: #7bbb1b;
    }
    .l4 {
      color: #ffc400;
      background: rgb(163,0,0);
    }
    .l5 {
      background: #0099e9;
    }
  }
}