it-level(
  then="$ctrl.$level = $level")
fd-user(then="$ctrl.isAdmin = $data.isAdmin")

md-divider
div(
  layout="row"
  layout-align="center center")
  .container(
    layout="column"
    layout-align="start stretch")
    home-levels-level1(
      is-active="$ctrl.$level >= 1 || $ctrl.isAdmin")
div(data-step="5" data-intro="Una vez avances en cada ejercicio, podrás ir desbloqueando más niveles..")   
  md-divider
  div(
    layout="row"
    layout-align="center center")
    .container(
      layout="column"
      layout-align="start stretch")
      home-levels-level2(
        is-active="$ctrl.$level >= 2 || $ctrl.isAdmin")
  md-divider
  div(
    layout="row"
    layout-align="center center")
    .container(
      layout="column"
      layout-align="start stretch")
      home-levels-level3(
        is-active="$ctrl.$level >= 3 || $ctrl.isAdmin")
  md-divider
  div(
    layout="row"
    layout-align="center center")
    .container(
      layout="column"
      layout-align="start stretch")
      home-levels-level4(
        is-active="$ctrl.$level >= 4 || $ctrl.isAdmin")
  md-divider
  div(
    layout="row"
    layout-align="center center")
    .container(
      layout="column"
      layout-align="start stretch")
      home-levels-level5(
        is-active="$ctrl.$level >= 5 || $ctrl.isAdmin")
  md-divider