.sidenav {
  max-width: 15rem;
}
.pt-sans {
  font-family: 'PT Sans'
}
.pt-serif {
  font-family: 'PT Serif'
}
.paragraph {
  font-size: 1.125rem;
}
.radius {
  border-radius: 1rem;
}
.radius-half {
  border-radius: .5rem;
}
.radius-quarter {
  border-radius: .25rem;
}
.no-errors .md-errors-spacer,
.no-error-message .md-errors-spacer {
  display: none !important;
}
.white {
  color: #fff !important;
  border-color: rgba(250,250,250,.20) !important;
}
.transition {
  transition: all .3s;
}
.pointer {
  cursor: pointer;
  outline: none;
}
.opacity5 {
  opacity: 0.5;
}
.opacity75 {
  opacity: 0.75;
}