.absolute-fill(
  layout="column"
  layout-align="start stretch")
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2|Triangles
  md-tabs.md-primary.md-hue-1(flex)
    md-tab(
      label="test")
      .absolute-fill(
        layout="column")
        .padding-h.padding-v-half(
          layout="row"
          layout-wrap)
          md-input-container.no-errors(flex)
            label|Word duration (s)
            input(
              ng-init="$ctrl.$period = 1"
              ng-model="$ctrl.$period"
              type="number")
          md-input-container.no-errors(flex)
            label|Total cycles
            input(
              ng-init="$ctrl.$cycles = 2"
              ng-model="$ctrl.$cycles"
              type="number")
          md-input-container.no-errors(flex)
            label|Selection percentage
            input(
              ng-init="$ctrl.$total = .5"
              ng-model="$ctrl.$total"
              type="number")
        md-content(
          flex
          layout="column"
          layout-align="center center"
          layout-align-xs="start center")
          lessons-triangles-module(
            period="$ctrl.$period * 1000"
            cycles="$ctrl.$cycles"
            total="1 / $ctrl.$total")
    md-tab(
      label="settings"
      ng-disabled="true")
  
