content-find-word-remove(
  ng-if="$ctrl.REMOVE"
  word-id="$ctrl.REMOVE"
  then="$ctrl.REMOVE = false"
  catch="$ctrl.REMOVE = false")

content-find-word-update(
  ng-if="$ctrl.UPDATE"
  word-id="$ctrl.UPDATE"
  then="$ctrl.UPDATE = false"
  catch="$ctrl.UPDATE = false")

.absolute-fill(
  layout="column"
  layout-align="start stretch")
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2(flex)|Find word in paragraph
      md-button.md-icon-button(
        ng-click="$ctrl.UPDATE = true")
        md-icon|add
  fd-ref(
    fd-ref-path="content/findWord"
    then="$ctrl.$findWord = $data")
    before
      wc-progress(wc-progress-type="linear")
  md-content(flex)
    md-list
      md-list-item(
        ng-repeat="(itemId, item) in $ctrl.$findWord"
        ng-click="$ctrl.UPDATE = itemId")
        p|{{item.word}}
        md-button.md-icon-button.md-secondary(
          ng-click="$ctrl.REMOVE = itemId")
          md-icon|delete