wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.then()")
  wc-dialog-template
    .md-title.padding|Añadir licencia
    .padding(layout="row" layout-wrap)
      md-input-container
        label|Fecha
        md-datepicker(ng-model="$plop")
      md-input-container
        label|Fecha de expiración
        md-datepicker(ng-model="$plop")
      md-input-container
        label|Cupos
        md-select(ng-model="$cupo")
          md-option(
            ng-repeat="item in $ctrl._.range(200)"
            ng-value="(item + 1) * 5")
            |{{(item + 1) * 5}}
      md-input-container
        label|Estado
        md-select(ng-model="isActive")
          md-option(ng-value="true")|Activa
          md-option(ng-value="false")|Inactiva