wc-ui-params(
  then="$ctrl.$articleId = $data.articleId")      

fd-ref(
  ng-if="$ctrl.$articleId && !$ctrl.$loaded"
  fd-ref-path="content/articles/{{$ctrl.$articleId}}"
  then=`
    $ctrl.$article = $data;
    $ctrl.$loaded = true;
    articleForm.$setPristine()`)

content-articles-save(
  ng-if="$ctrl.SAVE"
  article-id="$ctrl.$articleId"
  article="$ctrl.$article"
  then=`
    $ctrl.SAVE = false;
    $ctrl.BACK = true;`
  catch="$ctrl.SAVE = false")

wc-ui-redirect(
  ng-if="$ctrl.BACK"
  wc-ui-redirect-sref="content.articles.list")

form.absolute-fill(
  name="articleForm"
  layout="column")
  md-content(flex)
    md-toolbar.md-hue-1
      .md-toolbar-tools
        md-button.md-icon-button(
          ui-sref="content.articles.list")
          md-icon|arrow_back
        h2(flex)|{{$ctrl.$article.content.title || 'New article'}}
    md-tabs.md-primary.md-hue-1(
      flex
      md-dynamic-height="true"
      md-current="$ctrl.$currentTab")
      md-tab(label="article")
        .padding.container(
          layout="column"
          layout-align="start stretch")
          wc-text.md-display-1.pt-sans(
            wc-data="$ctrl.$article.content.title"
            wc-controls="b"
            wc-placeholder="Article title"
            wc-disabled="false"
            then="$ctrl.$article.content.title = $data")
          wc-text.margin-v.pt-serif.paragraph(
            wc-data="$ctrl.$article.content.body"
            wc-controls="bi"
            wc-placeholder="Start writing here..."
            wc-disabled="false"
            then="$ctrl.$article.content.body = $data")

      md-tab(label="questions")
        articles-detail-questions(
          article-id="$ctrl.$articleId")

  .md-whiteframe-6dp(
    ng-if="articleForm.$dirty && $ctrl.$currentTab === 0")
    .container(
      layout="row"
      layout-align="end")
      md-button(
        ng-click="$ctrl.$loaded = false")|CANCEL
      md-button.md-raised.md-primary(
        ng-disabled="!($ctrl.$article.content.title && $ctrl.$article.content.body)"
        ng-click="$ctrl.SAVE = true")|SAVE
      
      
      
      
      