md-toolbar.md-whiteframe-6dp(md-theme="black")
  .md-toolbar-tools
    md-button.md-icon-button(
      hide-gt-sm
      ng-click="$ctrl.$toggleSidenav()")
      md-icon|menu
    h2(flex)|Intelligere
    