arrows-warmup-excersise-component {
  .bg {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
  }
  .arrow {
    position: relative;
    height: 20vh;
    width: 4px;
    background: #000;
    border-radius: 99rem;
    .point {
      position: absolute;
      bottom: 0;
      transform: rotate(45deg) translate(-4px, 3px);
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 5px;
    }
  }
  .middle-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    margin: -1rem 0;
    background: rgba(0,0,0,.8)
  }
}