.absolute-fill.margin.bg(
  layout="row"
  layout-align="center stretch"
  style={
    'background-image': 'url(/images/bg-arrows.png)' 
  })
  .relative.container-extended(
    layout="column"
    layout-align="start stretch"
    flex)
    .middle-line
    .transition(
      ng-style="{marginTop: $ctrl.y + 'vh', transitionDuration: this.duration * 0.5 + 's'}"
      ng-class="{opacity0: $ctrl.y < -49 || $ctrl.y > 100}"
      layout="row"
      layout-align="center")
      .arrow
        .point
      .transition(
        ng-style="{width: $ctrl.x + '%', transitionDuration: this.duration * 0.5 + 's'}")
      .arrow
        .point
