// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")

// PARAGRAPHS
.padding(
  ng-if="$ctrl.testWords"
  layout="row"
  layout-wrap)
  .padding-h-half(
    flex=100)
    p.serif.opacity5|Encuentra la palabra ({{$ctrl.cycle}}/{{$ctrl.cycleAmount}})
    .md-headline.center(style="color: #A30000")|{{$ctrl.selectedWord}}
  div.md-subhead.padding-half(flex style="float: left")
    span.pointer.serif.no-outline(
      style="display: inline-block"
      ng-repeat="word in $ctrl.testWords"
      ng-click="$ctrl.$verifyWord(word)")
      |{{word}}&nbsp;
    
