.padding-v(layout="column" layout-align="start center")
  .container.padding-h
    .md-title|Cuestionario
  form.container.padding-h(name="questionsForm")
    div(ng-repeat="question in $ctrl.questions")
      .md-subhead.padding-v-half
        b|{{$index + 1}}.&nbsp;
        |{{question.statement}}
      md-radio-group.margin-v-half(
        required
        ng-disabled="$ctrl.$verified"
        ng-model="$ctrl.$answers[$index]"
        ng-init="$$index = $index")
        md-radio-button.md-primary(
          ng-repeat="response in question.responses"
          ng-value="$index")
          span.md-body-1.opacity75(ng-class=`{
            selected: $ctrl.$answers[$$index] === $index && $ctrl.$verified,
            correct: question.correctResponse === $index && $ctrl.$verified
          }`)|{{response.text}}
  div(flex)
  .container(layout="row" layout-align="end")
    md-button.md-raised.md-primary(
      ng-disabled="questionsForm.$invalid"
      ng-if="!$ctrl.$verified"
      ng-click="$ctrl.$verified = true")|CONTINUAR
    md-button.md-raised.md-primary(
      ng-if="$ctrl.$verified"
      ng-click="$ctrl.$then($ctrl.questions, $ctrl.$answers)")|TERMINAR