nav-comp {
  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    z-index: 100;
  }
  .logo {
    // Layout
    padding: .6rem .8rem;
    // Styling
    border-radius: 0;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 600;
    text-transform: none;
  }
  .institutional-btn {
    border-radius: 0;
    border: 1px solid;
    text-transform: none;
    font-weight: 600;
    padding: 0 0.5rem;
  }
  .institutional-btn-flat {
    border-radius: 0;
    text-transform: none;
    font-weight: 600;
    padding: 0 0.5rem;
  }
}