.nav-wrapper(
  sn-skrollr
  style="background-color: rgba(250,250,250,1); box-shadow: none"
  data-0="background-color: rgba(250,250,250,0); box-shadow: 0 0px 0px rgba(0,0,0,0.10)"
  data-2p="background-color: rgba(250,250,250,1); box-shadow: 0 1px 2px rgba(0,0,0,0.10)"
  data-25p="background-color: rgba(250,250,250,1); box-shadow: 0 5px 15px rgba(0,0,0,0.15)"
  layout="row"
  layout-align="center center")
  .container.padding-h-half(
    layout="row"
    layout-align="center center")
    md-button.logo(
      ui-sref="landing"
      md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
      |Intelligere
    div(flex)
    md-button.md-icon-button(
      hide
      show-xs)
      md-icon|menu
    div(
      hide-xs
      layout="row")
      //- md-button.md-primary(
        md-colors="::{ color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |QUÉ ES INTELLIGERE
      //- md-button.md-primary(
        md-colors="::{ color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |BENEFICIOS
      //- md-button.md-primary(
        md-colors="::{ color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |PRECIO
      md-button.institutional-btn-flat(
        ng-if="!$ctrl.$state.is('institutional')"
        ui-sref="institutional"
        md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |Instituciones educativas
      md-button(
        ng-if="!$ctrl.$state.is('landing')"
        ui-sref="landing"
        md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |USUARIOS INDIVIDUALES
      md-button.institutional-btn-flat.md-accent(
        ng-if="$ctrl.$state.is('landing')"
        href="https://app.intelligere.co"
        md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |Iniciar sesión
      md-button.institutional-btn.md-accent(
        ng-if="$ctrl.$state.is('landing')"
        href="https://app.intelligere.co"
        md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |Crear cuenta
      md-button.institutional-btn.md-accent(
        ng-if="$ctrl.$state.is('institutional')"
        href="https://groups.intelligere.co"
        md-colors="::{ borderColor: ($ctrl.theme || 'cyan') + '-primary-900', color: ($ctrl.theme || 'cyan') + '-primary-900' }")
        |Ingresar al dashboard