.background.padding(
  layout="column"
  layout-align="start stretch")
  .container-2-thirds.relative(
    ng-if="$ctrl.article"
    layout="column"
    layout-align="start start")
    .md-display-1.padding-v-half|{{$ctrl.article.content.title}}
    wc-text.text.roboto-slab.justify.z5(
      wc-data="$ctrl.article.content.body"
      wc-placeholder=""
      wc-disabled="true")
    div.line-left
    div.line-right
  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then($ctrl.article.content.body)`)
    |TERMINAR