double-fixation-excersise-component {
  .line-left,
  .line-right {
    position: absolute;
    width: 2px;
    top: 3rem;
    bottom: 0;
    background: rgba(0,0,0,.25);
  }
  .line-left {
    left: 30%;
  }
  .line-right {
    right: 30%;
  }
}