fd-auth(then="$ctrl.$auth = $data")

.fixed-fill(
  layout="column")
  .z10(
    style="background: #EFD28D"
    layout="row"
    layout-align="center")
    .container(
      layout="row")
      md-button.md-icon-button(
        style="margin: .5rem"
        ng-click="$ctrl.back()")
        md-icon(
          md-colors="::{color: 'red-700'}")
          |arrow_back
      
  md-content(
    flex
    style="background: #EFD28D; margin-top: -1.5rem"
    layout="column"
    layout-align="start center")
    .container
      group-progress
      md-divider.margin-v
      md-button.margin(
        ui-sref="home"
        ng-click="$ctrl.$logout()")
        |CERRAR SESIÓN
    