fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/singleColumnWpm"
      fd-ref-array="rich"
      then="$ctrl.$progressWpm = $data.reverse(); $ctrl.chartWpm = $ctrl.parseData($ctrl.$progressWpm)")
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/singleColumnComprehension"
      fd-ref-array="rich"
      then="$ctrl.$progressComprehension = $data.reverse(); $ctrl.chartComprehension = $ctrl.parseData($ctrl.$progressComprehension, true)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    flex
    layout="row"
    layout-align="center start")
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Lectura en 1 columna
            div
              span
                |Lecturas en una sola columna en el centro con una pregunta este ejercicio ya califica la velocidad de lectura y el porcentaje de comprensión, una ves el usuario haga clic en el botón de finalizar lectura esta desaparecerá y aparecerá la pregunta.
        md-card-actions(
          layout="row")
          //md-button(
            md-colors="::{color: 'grey-600'}")|LEER MÁS
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.singleColumn.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Velocidad de lectura (ppm)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartWpm"
          chart-options="$ctrl.chartOptions")

      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Comprensión (%)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartComprehension"
          chart-options="$ctrl.chartOptions")

      md-card(
        ng-repeat="measurement in $ctrl.$progressWpm")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value | number : 0}} ppm
            .md-headline|{{$ctrl.$progressComprehension[$index].value * 100 | number : 0}} %
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
        
  it-hit(
    measurement="singleColumn"
    level=3
    on-score="$ctrl.$singleColumnScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$singleColumnScore")

