.background.padding(
  layout="column"
  layout-align="start stretch"
  title="")
  .container-2-thirds.relative(
    ng-if="$ctrl.content"
    layout="column"
    layout-align="start start")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      layout="row"
      layout-align="space-between"
      layout-wrap
      ng-repeat="paragraph in $ctrl.content track by $index")
      span.relative(
        ng-repeat="word in paragraph track by $index")
        span|{{word}}
        span(ng-hide="$last")|&nbsp;
        .block(
          md-colors="::{background: 'grey-200'}"
          ng-style=`{ height: $ctrl.height + '%', opacity: $ctrl.opacity }`)
      span(flex ng-if="paragraph.length")|.
      .padding-v-half(flex=100)
      
    
  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then($ctrl.article.content.body)`)
    |TERMINAR