fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/progress/global/truncated"
      fd-ref-array="rich"
      then="$ctrl.$progress = $data.reverse(); $ctrl.chartData = $ctrl.parseData($ctrl.$progress)")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ui-sref="home")
        md-icon(
          md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|Introducción
      
  md-content.relative(
    style="background: #EFD28D"
    layout="row"
    layout-align="center start"
    flex)
    .container  
      md-card
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex="nogrow"
            layout="column")
            .md-headline|Palabras truncadas
            div
              br
              span
                |El cerebro humano reconoce las palabras por su forma y solo es necesario ver la parte superior de las palabras para entenderlas. Esto lo haces inconscientemente pero tienes que aprender a hacerlo de manera consciente.
                br
                br
                |No te preocupes si no puedes reconocer alguna palabra, pues con la práctica no tendrás ningún problema.
                br
                br
                |Imagina el punto en la parte superior de las palabras y desliza la mirada de un punto a otro palabra por palabra. Acuérdate de no mover la cabeza y de no pronunciar las palabras.
        wc-dialog(
          ng-if="$ctrl.$showDemo"
          wc-dialog-template="true"
          wc-dialog-fullscreen="true"
          wc-dialog-modal="false"
          catch="$ctrl.$showDemo = false")
          wc-dialog-template
            md-button.md-icon-button.z5(ng-click="$ctrl.$showDemo = false" style="position: absolute; top: 0; right: 0")
              md-icon|close
            video(
              style="max-height: 100%; max-width: 100%;min-width: 300px;"
              controls="" autoplay="")
              source(src="images/videos/truncated.webm" type="video/webm")
              source(src="images/videos/truncated.mp4" type="video/mp4")
          
        md-card-actions(
          layout="row")
          md-button(ng-click="$ctrl.$showDemo = true")|DEMO
          div(flex)
          md-button.md-primary(
            ui-sref="excersise.truncated.excersise")
            b|COMENZAR
      
      .md-whiteframe-2dp.margin-half.padding-half
        .md-title.padding-half|Resultados pasados (%)
        canvas#line.chart.chart-line(
          chart-data="$ctrl.chartData"
          chart-options="$ctrl.chartOptions")

      md-card(
        ng-repeat="measurement in $ctrl.$progress")
        md-card-title(
          layout="row")
          .md-card-title-text(
            flex
            layout="column")
            .md-headline|{{measurement.value * 100 | number : 0}}%
            .md-body-1|{{measurement.key | date : 'hh:mma'}}
          .md-body-1|{{measurement.key | date : 'MMM dd, yyyy'}}
        
  it-hit(
    measurement="truncated"
    level=1
    on-score="$ctrl.$truncatedScore = $data")
  md-divider
  md-progress-linear.md-accent(
    md-mode="determinate"
    ng-value="$ctrl.$truncatedScore")