.landing-header-slider-wrapper(
  layout="row"
  layout-align="center center")
  .slide.z0.container(
    layout="row"
    layout-align="center center")
    .slider-background.background-image.absolute-fill.z0(
      sn-skrollr
      data-0="transform: translateY(0vh)"
      data-100p="transform: translateY(25vh)"
      style={
        'background-image': 'url(images/landing/header/slide1/background.png)' 
      })
    .container.z1(
      layout="row"
      layout-align="center center"
      layout-wrap)
      .image(
        sn-skrollr
        data-top-bottom="transform: translateY(12.5vh)"
        data-bottom-top="transform: translateY(-12.5vh)"
        flex-gt-xs=50
        flex-xs=100
        layout="row"
        layout-align="center center")
        //.arrow-left(
          hide-gt-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/back-white.png")
        .slider-image.ratio-1-1.background-image.background-contain.margin-v(
          style={
            'background-image': 'url(images/slide1/image.png)'
          })
        //.arrow-right(
          hide-gt-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/next-white.png")
      .body(
        flex-xs=90
        flex-gt-xs=50
        layout="row"
        layout-align="center center")
        //.arrow-left(
          hide-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/back-white.png")
        .container-third(
          sn-skrollr
          data-top-bottom="transform: translateY(25vh)"
          data-bottom-top="transform: translateY(-25vh)"
          flex
          layout="column"
          layout-align="center start")
          .md-title
            b|LECTURA RÁPIDA ONLINE
          .divider.margin-v-half
          .md-subhead
            |Imagina poder leer {{$ctrl.bookTitle}} en {{$ctrl.bookTime}} con un alto nivel de comprensión.
          md-button.md-primary.md-raised(style="box-shadow: 0 0 0; text-transform: none; margin: 1rem 0; border-radius: 99rem")|Ir a la app
          div(
            layout="row"
            layout-align="center")
            .bullets
        //.arrow-right(
          hide-xs)
          img.icon-32.margin.padding-half(
            src="images/icons/next-white.png")
      
      
      
  