<template>
  <v-app>
    <div class="letter-background absolute-fill">
      <nuxt />  
    </div>
  </v-app>
</template>

<script>
import _ from 'lodash'
import { getUserObservable } from '@/helpers/auth'
import { getRef, getObservableFromRef } from '@/helpers/database/firebase'
import { switchMap, map } from 'rxjs/operators'
import { from } from 'rxjs'
export default {
  subscriptions () {
    return {
      isAuthorized: getUserObservable().pipe(
        switchMap(user => (user || {}).institutionId
          ? getObservableFromRef(getRef(`institutions/${(user || {}).institutionId}`)).pipe(
            map(institution => [user, institution])
          )
          : from([[user]])),
        map(([user, institution]) => {
          if (!user) {
            this.$router.push('/login')
          } else if (!institution || !institution.license || !institution.groups) {
            this.$router.push('/registration')
          } else if (_.some((institution || {}).groups, group => group.adminId === user.uid) || user.uid === (institution || {}).adminId) {
            this.$router.push('/groups')
          } else {
            this.$router.push('/302')
          }
        })
      )
    }
  }
}
</script>
