<template lang="pug">
  v-app(style="background: #EFD28D")
    v-navigation-drawer(
      :width="220"
      app
      dark
      v-model="isSidenavOpen"
      style="background: #004777"
      :mini-variant="$vuetify.breakpoint.lgAndUp"
      layout="column")
      .padding-quarter
      .padding-h.pointer(layout="row" :layout-align="`${$vuetify.breakpoint.lgAndUp ? 'center' : 'start'} center`")
        .margin.logo(layout="column" layout-align="center center")
          .arvo.md-title.center(style="color: #fff")|I
        .arvo.md-subhead.center(style="color: #fff" v-show="!$vuetify.breakpoint.lgAndUp")|Intelligere
      v-list(flex)
        v-divider
        //- v-list-tile(@click="$router.push('reports')")
          v-list-tile-avatar
            v-icon|assessment
          v-list-tile-content
            v-list-tile-title.nunito|Reportes
        v-list-tile(@click="$router.push('groups')")
          v-list-tile-avatar
            v-icon|group
          v-list-tile-content
            v-list-tile-title.nunito|Grupos
        v-divider
      v-list
        v-divider
        v-list-tile(@click="$router.push('settings')")
          v-list-tile-avatar
            v-icon|settings
          v-list-tile-content
            v-list-tile-title.nunito|Configuración
    v-content(app)
      nuxt
</template>
<script>
import { getUserObservable } from '@/helpers/auth'
import { getRef, getObservableFromRef } from '@/helpers/database/firebase'
import { switchMap, map } from 'rxjs/operators'
import { from } from 'rxjs'
export default {
  mounted () {
    if (this.$vuetify.breakpoint.lgAndUp) {
      this.isSidenavOpen = true
    }
  },
  computed: {
    isSidenavOpen: {
      get () { return this.$store.state.isSidenavOpen },
      set (isOpen) { return this.$store.commit('setSidenavState', isOpen) }
    }
  },
  subscriptions () {
    return {
      isAuthorized: getUserObservable().pipe(
        switchMap(user => (user || {}).institutionId
          ? getObservableFromRef(getRef(`institutions/${(user || {}).institutionId}`)).pipe(
            map(institution => [user, institution])
          )
          : from([[user]])),
        map(([user, institution]) => {
          if (!user) {
            this.$router.push('login')
          } else if (!institution) {
            this.$router.push('registration')
          } else if (!institution.license || !institution.groups) {
            this.$router.push('registration')
          }
        })
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  border: 2px solid #fff;
  width: 2rem;
  height: 2rem;
}
</style>
