md-content.absolute-fill(
  layout="column")
  md-toolbar
    .md-toolbar-tools
      h2|Licencias
  
  fd-ref(fd-ref-path="licenseRequests" then="$ctrl.$licenseRequests = $data")
  fd-ref(fd-ref-path="licenses" then="$ctrl.$licenses = $data")
  
  div(
    flex
    layout="column")
    .md-whiteframe-2dp.margin-half(
      flex
      layout="column")
      licenses-add(
        ng-if="$ctrl.ADD_LICENSE"
        then="$ctrl.ADD_LICENSE = false")
      md-toolbar.md-table-toolbar(
        md-colors="::{background: 'grey-100'}")
        .md-toolbar-tools
          //input.md-toolbar-input(
            flex
            style="background: none; border: 0; outline: none"
            placeholder="Buscar por nombre, email o teléfono"
            ng-model="$ctrl.$query")
          div(flex)
          //md-button(ng-click="$ctrl.ADD_LICENSE = true")
            md-icon|add
            |Añadir licencia
          

      md-divider
      fd-timeout(fd-timeout-time="300")
        before
          wc-progress(wc-progress-type="linear")
        then(ng-init="$ctrl.$ready = true")
      .md-whiteframe-1dp
        md-table-container.md-default(
          layout="column"
          style={
            background: '#fff'
          })
          table(
            md-table="")
            thead(md-head)
              tr(md-row)
                th(md-column)
                  |Cupos
                th(md-column)
                  |Método de pago
                th(md-column)
                  |Fecha de creación
                th(md-column)
                  |Fecha de vencimiento
                th(md-column)
                  |Nombre del pagador
                th(md-column)
                
            
            
            tbody(
              md-body)
              tr.pointer.opacity5(
                md-row=""
                ng-repeat="(requestId, request) in $ctrl.$licenseRequests")
                td(md-cell)
                  |{{request.amount}}
                td(md-cell)
                  |{{request.method}}
                td(md-cell)
                  |{{request.timestamp | date}}
                td(md-cell)
                  |{{request.timestamp + (1000 * 60 * 60 * 24 * 365) | date}}
                td(md-cell)
                  |{{request.payer.displayName}}
                td(md-cell)
                  md-button.md-icon-button(
                    ng-click="$ctrl.$approve(request, requestId)")
                    md-icon|done
                  
              tr.pointer(
                md-row=""
                ng-repeat="(licenseId, license) in $ctrl.$licenses")
                td(md-cell)
                  |{{license.slots}}
                td(md-cell)
                  |{{license.method}}
                td(md-cell)
                  |{{license.timestamp | date}}
                td(md-cell)
                  |{{license.expirationDate | date}}
                td(md-cell)
                  |{{license.payer.displayName}}
                td(md-cell)
                  md-button.md-icon-button(
                    ng-click="$ctrl.$revoke(license, licenseId)")
                    md-icon|cancel
                  