.background.padding(
  layout="column"
  layout-align="start center" title="")
  div(
    ng-if="$ctrl.columns"
    layout="column"
    layout-align="start center")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      layout="row"
      layout-wrap)
      .relative.margin-v-half(
        style="border-bottom: 1px solid #000"
        flex-gt-xs=25
        flex-xs=50
        ng-repeat="column in $ctrl.columns track by $index"
        layout="row"
        layout-align="start end"
        layout-wrap)
        span(ng-repeat="word in column track by $index")
          |{{word}}&nbsp;

  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then()`)
    |TERMINAR