.institutional-cta-wrapper.padding.md-whiteframe-4dp(
  md-colors="::{background: 'institutional-primary-800'}"
  layout="row"
  layout-align="center center")  
  .container.padding-v(
    layout="row"
    layout-align="center center"
    layout-wrap)
    .container-half.padding-v.margin-v(
      flex-xs=100
      layout="column"
      layout-align="start start")
      .md-headline(
        md-colors="::{color: 'grey-primary-50'}")
        |Crea tu cuenta y comienza a inscribir a tus estudiantes
      p.md-title.font300(
        md-colors="::{color: 'grey-primary-50'}")
        |Deseas conocer el producto antes de pagar una suscripción. Haz una prueba individual para conocer los beneficios de Intelligere.
    div(flex)
    div(
      flex-xs=100
      md-theme="institutional"
      layout="column"
      layout-align="start stretch")
      md-button.md-raised.md-primary(
        ng-href="https://groups.intelligere.co/registration"
        target="_blank"
        md-colors="::{color: 'grey-primary-50'}")
        |INSCRIBE TU INSTITUCIÓN EDUCATIVA
      md-button.md-raised(
        ng-href="https://app.intelligere.co/")
        |PROBAR LA EXPERIENCIA INTELLIGERE

