$height: 5rem;
institutional-cta {
  .institutional-cta-wrapper {
    margin-top: -$height - 2rem;
    padding-top: $height + 2rem;
    clip-path: polygon(0 $height, 100% 0, 100% 100%, 0 100%);
  }
  .md-button {
    padding: .25rem 1rem;
    box-shadow: 0 10px 15px rgba(0,0,0,.10) !important;
  }
}