.background.md-whiteframe-4dp.padding(
  layout="column"
  layout-align="start end")
  .padding.container-2-thirds(
    ng-if="$ctrl.article"
    layout="column"
    layout-align="start center")
    .md-display-1|{{$ctrl.article.content.title}}
    wc-text.text.roboto-slab(
      wc-data="$ctrl.article.content.body"
      wc-placeholder=""
      wc-disabled="true")
  md-button.md-raised.md-primary.margin-half(
    ng-click=`$ctrl.$then($ctrl.article.content.body)`)
    |TERMINAR