md-content.padding-half.excersises(
  layout="row"
  layout-align="start stretch")
  //- .excersise.padding-h-half.pointer.opacity1(
    flex-order="0"
    ui-sref="session({level: 3})")
    .relative.margin-quarter
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        md-theme="black"
        value="100"
        md-diameter=80
        md-mode="determinate")
      .md-whiteframe-2dp.session.l3(layout="row" layout-align="center center")
        .md-display-2|S
    .md-body-2.margin-h-quarter
      b|Sesión de entrenamiento
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'singleColumn'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Lectura en una columna.png")
    .md-body-2.margin-h-quarter
      b|Lectura en 1 columna
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'wordInParagraph'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Palabras en el parrafo.png")
    .md-body-2.margin-h-quarter
      b|Palabra en el párrafo
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'wordDiamond'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Parrafo diamante.png")
    .md-body-2.margin-h-quarter
      b|Párrafo diamante
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'truncatedText'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Texto truncado.png")
    .md-body-2.margin-h-quarter
      b|Texto truncado

  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'diamondColumn'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Lectura en diamante.png")
    .md-body-2.margin-h-quarter
      b|Lectura en diamante
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'warmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento Visual.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento Visual
  
  .padding-quarter
  