// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.findNumbers.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Retención de palabras 
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      find-numbers-excersise-component(
        ng-if="!$ctrl.$data"
        duration="60000"
        number-amount="28"
        then="$ctrl.$data = $data")

      .padding(
        ng-if="$ctrl.$data")
        .md-headline|Número alcanzado
        .md-display-1.opacity75|{{$ctrl.$data - 1 | number : 0}}    
  div(
    ng-if="$ctrl.$data"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.findNumbers.splash")
        |FINALIZAR
      it-hit(
        ng-if="$ctrl.$data"
        measurement="findNumbers"
        value="$ctrl.$data"
        level=2
        score="($ctrl.$data - 1) * 0.8")
    