md-content.absolute-fill(
  layout="column")
  wc-dialog(
    ng-if="$ctrl.$CREATE_USER"
    wc-dialog-template="true"
    wc-dialog-fullscreen="false"
    wc-dialog-modal="false"
    catch="$ctrl.$CREATE_USER = false")
    wc-dialog-template
      div(layout="column" style="max-width: 30rem; max-height: 70vh")
        div(style="padding: 1rem" layout="column")
          .md-title Añadir usuario
          .md-body-1.opacity75 Ingresa los datos del usuario para añadirlo al sistema.
          br
          md-input-container
            label Nombre completo
            input(ng-model="$ctrl.$newUser.displayName")
          md-input-container
            label Email
            input(ng-model="$ctrl.$newUser.email")
          md-input-container
            label Password
            input(type="password" ng-model="$ctrl.$newUser.password")
        div(layout="row" layout-align="end")
          md-button.md-primary.md-raised(ng-click="$ctrl.$requestUser($ctrl.$newUser); $ctrl.$newUser = {}; $ctrl.$CREATE_USER = false") CREATE
  md-toolbar
    .md-toolbar-tools(layout="row")
      h2(flex)|Users ({{$ctrl.$users.length}})
      md-button(md-icon-button ng-click="$ctrl.$CREATE_USER = true")
        md-icon add
  div(
    flex
    layout="column")
    fd-ref(
      fd-ref-path="users"
      fd-ref-array="rich"
      fd-ref-query=`{
        orderByChild: 'timestamp'
      }`
      then="$ctrl.$users = $data"
      catch="$error")
      before
      then
        fd-ref(
          ng-repeat="user in $ctrl.$users"
          fd-ref-path="analytics/users/{{user.key}}/realtime"
          then="user.realtime = $data")
        fd-ref(
          ng-repeat="user in $ctrl.$users"
          fd-ref-path="analytics/users/{{user.key}}/lastSeen"
          then="user.lastSeen = $data || false")
        
    
    .md-whiteframe-2dp.margin-half(
      flex
      layout="column")
      
      md-toolbar.md-table-toolbar(
        md-colors="::{background: 'grey-100'}")
        .md-toolbar-tools
          input.md-toolbar-input(
            flex
            style="background: none; border: 0; outline: none"
            placeholder="Buscar por nombre, email o teléfono"
            ng-model="$ctrl.$query")
          

      md-divider
      fd-timeout(fd-timeout-time="300")
        before
          wc-progress(wc-progress-type="linear")
        then(ng-init="$ctrl.$ready = true")
      .md-whiteframe-1dp
        md-table-container.md-default(
          layout="column"
          style={
            background: '#fff'
          })
          table(
            md-table="")
            thead(md-head)
              tr(md-row)
                th(md-column)
                  |Online
                  span.opacity0(ng-repeat="i in [0,1,2,3,4,5,6]")|&nbsp;
                th(md-column)
                  |Nombre completo
                th(md-column)
                  |State
                th(md-column)
                  |Email
                th(md-column)
                  |Teléfono
                th(md-column)
                  |ID
                th(md-column)
            
            
            tbody(
              md-body)
              tr.pointer(
                md-row=""
                ng-repeat="user in $ctrl.$users | orderBy: ['realtime', '-lastSeen'] | filter: $ctrl.$query")
                td(md-cell)
                  span.md-display-1.margin-h-half(
                    ng-style=`{
                      color: user.vendors ? '#00a7b5' : '#CDDC39'
                    }`
                    ng-if="user.realtime")
                    b|&#8226;
                  span.center.opacity5(ng-hide="user.realtime || !user.lastSeen")|{{user.lastSeen | date : 'MMM dd'}}
                td(md-cell)  
                  i.material-icons.margin-h-quarter.grey(
                    style={
                      'font-size': '.75rem'
                    }
                    ng-show="user.isAdmin")|verified_user
                  a.grey(
                    style="z-index: 100"
                    ui-sref="users.detail({userId: user.key})")|{{user.displayName || 'Creando usuario...'}}
                td(md-cell)  
                  |{{user.realtime.state.name}}
                td(md-cell)
                  |{{user.email}}
                td(md-cell)
                  |{{user.profile.phone}}
                td(md-cell)
                  |{{user.key}}
                td(md-cell ng-class="{opacity5: !(user.isMember || user.institutionId)}" style="width: 5rem")
                  |{{(user.isMember || user.institutionId) ? 'Licenciado' : 'Sin licencia'}}
                td(md-cell layout="row" layout-align="end")
                  md-progress-circular(ng-if="user.DELETE" md-mode="indeterminate")
                  md-menu(md-position-mode="target-right target")
                    md-button.md-icon-button(
                      ng-click="$mdMenu.open($event)")
                      md-icon(md-menu-origin)|more_vert  
                    md-menu-content(width="3")
                      md-menu-item(ng-if="!(user.isMember || user.institutionId)" md-position-mode="target-right target")
                        md-button(
                          ng-if="!user.DELETE"
                          ng-click="$ctrl.$activateUser(user.key)")
                          div(layout="row")
                            div(flex)|Licenciar
                            md-icon(md-menu-align-target)|verified_user
                      md-menu-item(ng-if="(user.isMember || user.institutionId)" md-position-mode="target-right target")
                        md-button(
                          ng-if="!user.DELETE"
                          ng-click="$ctrl.$deactivateUser(user.key)")
                          div(layout="row")
                            div(flex)|Revocar licencia
                            md-icon(md-menu-align-target)|remove_circle
                      md-menu-item(md-position-mode="target-right target")
                        md-button(
                          ng-if="!user.DELETE"
                          ng-click="$ctrl.$deleteUser(user.key)")
                          div(layout="row")
                            div(flex)|Eliminar
                            md-icon(md-menu-align-target)|delete