wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template
    form(
      name="findWordDialog")
      .padding.container-half(
        layout="column"
        layout-align="start stretch")
        .md-title|Find word in paragraph
        md-input-container
          label|Word
          input(
            required
            ng-model="$ctrl.$word.word")
        md-input-container
          label|Paragraph
          textarea(
            required
            rows="2"
            ng-model="$ctrl.$word.paragraph")
      div(
        layout="row"
        layout-align="end")
        md-button(
          ng-click="$ctrl.catch()")
          |CANCEL
        md-button.md-raised.md-primary(
          ng-disabled="findWordDialog.$invalid"
          ng-click="$ctrl.DISPATCH = true")
          |SAVE
      
      fd-ref(
        fd-ref-path="content/findWord/{{$ctrl.wordId}}"
        then="$ctrl.$word = $data")
      
      fd-dispatcher(
        ng-if="$ctrl.DISPATCH"
        fd-dispatcher-action=`{
          type: 'CONTENT.FIND_WORD.UPDATE',
          wordId: $ctrl.wordId,
          word: {
            word: $ctrl.$word.word,
            paragraph: $ctrl.$word.paragraph
          }
        }`)
        before
          wc-progress(wc-progress-type="linear")
        catch
          wc-toast(
            ng-init="$ctrl.catch()"
            wc-toast-message="Error uploading info")
        then
          wc-toast(
            ng-init="$ctrl.then()"
            wc-toast-message="Word updated succesfully")