content-words-add(
  ng-if="$ctrl.ADD"
  words="$ctrl.$newWords"
  then="$ctrl.ADD = false; $ctrl.$newWords = ''"
  catch="$ctrl.ADD = false")

content-words-remove(
  ng-if="$ctrl.DELETE"
  word="$ctrl.DELETE"
  then="$ctrl.DELETE = false"
  catch="$ctrl.DELETE = false")
  
fd-ref(
  fd-ref-path="content/words"
  then="$ctrl.$words = $data")

.absolute-fill(
  layout="column"
  layout-align="start stetch")
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2|Word Bank
  .md-whiteframe-2dp
    .padding-h(
      layout="row"
      layout-align="start center")
      md-input-container.no-errors(flex)
        label|New words
        textarea(
          rows="2"
          ng-model="$ctrl.$newWords")
      div(
        layout="row"
        layout-align="end")
        md-button.md-raised.md-primary(
          ng-click="$ctrl.ADD = true")
          |Add
  
  md-virtual-repeat-container(flex)
    md-list-item(
      md-virtual-repeat="word in $ctrl.$array($ctrl.$words)"
      ng-click="a=1")
      p|{{word}}
      md-button.md-icon-button.md-secondary(
        ng-click="$ctrl.DELETE = word")
        md-icon|delete
        