.background.padding(
  layout="column"
  layout-align="start center")
  div(
    ng-if="$ctrl.columns"
    layout="column"
    layout-align="start center" title="")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      layout="row"
      layout-align="space-between baseline"
      layout-wrap)
      .relative.column(
        flex=50
        ng-class="{right: $odd}"
        ng-repeat="column in $ctrl.columns track by $index")
        .relative(
          layout="row"
          layout-align="space-between")
          .middle-line
          span(ng-repeat="word in column track by $index")
            |{{word}}&nbsp;

  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then()`)
    |TERMINAR