double-column-excersise-component {
  .middle-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: rgba(0,0,0,0.4);
  }
  .column {
    padding-right: 3rem;
    padding-left: 0;
    @media (min-width: 900px) {
      padding-right: 6rem;  
    }
  }
  .column.right {
    padding-left: 3rem;
    padding-right: 0;
    @media (min-width: 900px) {
      padding-left: 6rem;  
    }
  }
}