wc-dialog(
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template
    div(
      layout="row")
      .md-title.padding(flex)|Olvidaste tu contraseña?
      md-button.md-icon-button(
        style="margin: .5rem"
        ng-click="$ctrl.catch()")
        md-icon|close
    .padding-quarter(
      layout="column"
      layout-align="start stretch")
      md-button.md-raised.md-primary(
        style={
          'background': '#3b5999'
        }
        ng-click="$ctrl.LOGIN='facebook'")
        |REGÍSTRATE CON FACEBOOK
      
      div(
        layout="row"
        layout-align="center center"
        style={
          margin: '1rem 0'
        })
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
        .md-body-1|o
        div(
          flex
          style={
            height: '1px',
            margin: '1rem',
            background: '#E6E6E6'
          })
      
      form.padding-half(
        name="forgotForm"
        layout="column"
        layout-align="start stretch")  
        div(layout="row")
          md-input-container(flex)
            label|Email
            input(
              required
              name="email"
              type="email"
              ng-model="$ctrl.$credentials.email")
      
      md-button.md-raised.md-accent(
        ng-disabled="!forgotForm.$valid"
        ng-click="$FORGOT = true")
        |ENVIAR EMAIL
      
    fd-dispatcher(
      ng-if="$FORGOT"
      fd-dispatcher-action=`{
        type: 'CLIENT.AUTH.FORGOT',
        credentials: $ctrl.$credentials
      }`
      then="$ctrl.catch()")
      before
        wc-progress(wc-progress-type="linear")
      catch
        wc-toast(
          ng-init="$ctrl.catch()"
          wc-toast-message="Error realizando solicitud. Intenta de nuevo más tarde.")
      
    
    