.whiteframe.padding-half(
  sn-skrollr
  data-top-bottom="transform: translateY(-7.5vh)"
  data-bottom-top="transform: translateY(7.5vh)"
  layout="row"
  layout-align="center center")
  .arrow-left(
    hide-xs)
    //img.icon-32.margin.padding-half(
      src="images/icons/back-white.png")
  .padding(
    layout="row"
    layout-align="space-around center"
    layout-wrap)
    .body(
      flex-order-xs="2"
      flex-xs=100
      flex=50)
      .md-title(
        md-colors="::{color: 'cyan-primary-900'}")
        |Filtrado especializado de estadísticas
      p(
        md-colors="::{color: 'grey-primary-600'}")
        |Hemos diseñado un sistema de estadísticas útiles y detalladas donde verás todos tus avances desde el primer nivel hasta las lecturas finales.
        br
        |¡Así podrás llevar un control de tu proceso, ver en que áreas necesitas más trabajo y conocer en qué has mejorado!
    .image(
      flex-order-xs="1"
      flex-gt-xs=40
      flex-xs=100
      layout="row"
      layout-align="center center")
      .arrow-left(
        hide-gt-xs)
        //img.icon-32.padding-half(
          src="images/icons/back-white.png")
      .ratio-4-3.background-image.background-contain.margin-v(
        style={
          'background-image': 'url(images/slide1/progress@2x.png)'
        })
      .arrow-right(
        hide-gt-xs)
        //img.icon-32.padding-half(
          src="images/icons/next-white.png")
  .arrow-right(
    hide-xs)
    //img.icon-32.margin.padding-half(
      src="images/icons/next-white.png")