fd-auth(then="$ctrl.$auth = $data; $ctrl.$getPersonalData($data.uid)")
  then
    fd-user(then="$ctrl.$user = $data")

// NO AUTH
.padding-h(
  ng-if="!$ctrl.$auth"
  layout="row")
  div(
    flex
    layout="column")
    .md-headline.grey-dark|Regístrate, es gratis!
    span.roboto-slab.md-subhead.padding-v-half.grey
      |Intelligere es el futuro de la lectura rápida. Aprende a leer más rápido y mejor a tu propio ritmo y en el momento y dispositivo que quieras!
      br
      br
      |Crear una cuenta es muy fácil y te permite guardar tu progreso a través de varios dispositivos.
  div(
    flex=30
    flex-gt-xs=15)
    img.character(
      src="images/character.png")

// TEMPORARY
.padding-h(
  ng-if="$ctrl.$auth && !($ctrl.$user.isMember || $ctrl.$user.institutionId)"
  layout="row")
  div(
    flex
    layout="column")
    .md-headline.grey-dark|Bienvenido a intelligere.
    span.roboto-slab.md-subhead.padding-v-half.grey|Intelligere es el futuro de la lectura rápida. Aprende a leer más rápido y mejor a tu propio ritmo y en el momento y dispositivo que quieras!
  div(
    flex=30
    flex-gt-xs=15)
    img.character(
      src="images/character.png")
// NO MEMBER

// NO GROUP
.padding-h(
  ng-if="$ctrl.$auth && $ctrl.$user.isMember && !$ctrl.$user.institutionId"
  layout="row")
  div(
    flex
    layout="column")
    .md-headline.grey-dark|¡Hola {{$ctrl.$user.displayName}}!
    span.roboto-slab.md-subhead.padding-v-half.grey(
      ng-if="!$ctrl.$wpm")
      |Mide tu velocidad de lectura para ponerte tus metas antes de continuar con los ejercicios del nivel 1.
    //- md-button.md-primary.md-raised(
      ng-if="!$ctrl.$wpm"
      ui-sref="excersise.speed.splash")|MEDIR MI VELOCIDAD
    span.roboto-slab.md-subhead.padding-v-half.grey(
      ng-if="$ctrl.$wpm")
      |Ya eres capaz de leer {{$ctrl.$wpm / 40 | number : 1}} libros mensuales en promedio (asumiendo 1 hora diaria de lectura).
    .padding-half
  div(
    flex=30
    flex-gt-xs=15)
    img.character(
      src="images/character.png")

// GROUP
.padding-h(
  ng-if="$ctrl.$auth && $ctrl.$user.institutionId"
  layout="row")
  div(
    flex
    layout="column")
    .md-headline.grey-dark|¡Hola {{$ctrl.$user.displayName}}!
    span.roboto-slab.md-subhead.padding-v-half.grey(
      ng-if="!$ctrl.$wpm")
      |Mide tu velocidad de lectura para ponerte tus metas antes de continuar con los ejercicios del nivel 1
    span.roboto-slab.md-subhead.padding-v-half.grey(
      ng-if="$ctrl.$wpm")
      |Tu velocidad promedio es de {{$ctrl.$wpm | number: 0}}ppm, esto significa que ya eres capaz de leer {{$ctrl.$wpm / 30 | number : 0}} libros mensuales en promedio (asumiendo 1 hora diaria de lectura).
    .padding-half
    div(layout="row" style="margin: -0.5rem")
      md-button.md-primary.md-raised(
        flex
        ng-if="$ctrl.$wpm"
        ui-sref="session")|NUEVA SESIÓN
      md-button.md-primary(
        ng-if="$ctrl.$wpm"
        ui-sref="account")|MI PROGRESO
    .padding-half
  div(
    flex=30
    flex-gt-xs=15)
    img.character(
      src="images/character.png")
  