md-content.absolute-fill(
  layout="column")
  md-toolbar
    .md-toolbar-tools(layout="row")
      h2|Instituciones ({{$ctrl.$institutions.length}})
      div(flex)
      md-button(ng-click="$ctrl.NEW_INSTITUTION = true") Nueva institución
  div(
    flex
    layout="column")
    fd-ref(
      fd-ref-path="institutions"
      fd-ref-array="rich"
      then="$ctrl.$institutions = $data"
      catch="$error")
        
    
    .md-whiteframe-2dp.margin-half(
      flex
      layout="column")
      
      md-toolbar.md-table-toolbar(
        md-colors="::{background: 'grey-100'}")
        .md-toolbar-tools
          input.md-toolbar-input(
            flex
            style="background: none; border: 0; outline: none"
            placeholder="Buscar por nombre"
            ng-model="$ctrl.$query")
      
      md-divider
      fd-timeout(fd-timeout-time="300")
        before
          wc-progress(wc-progress-type="linear")
        then(ng-init="$ctrl.$ready = true")
      .md-whiteframe-1dp
        md-table-container.md-default(
          layout="column"
          style={
            background: '#fff'
          })
          table(
            md-table="")
            thead(md-head)
              tr(md-row)
                th(md-column)
                th(md-column)
                  |Nombre completo
                th(md-column)
                  |Grupos
                th(md-column)
                  |Licencias
                th(md-column)
                  |Transacción
                th(md-column)
                  |Valor pagado
                th(md-column)
                  |Pagador
                th(md-column)
                  |Teléfono
                th(md-column)
                  |Estado
                        
            tbody(
              md-body)
              tr(
                md-row=""
                ng-repeat="institution in $ctrl.$institutions | filter: $ctrl.$query")
                td(md-cell ng-click="$ctrl.$goToInstitution(institution.key)")
                  md-icon settings
                td(md-cell)|{{institution.metadata.displayName}}
                td(md-cell)|{{$ctrl._.size(institution.groups)}}
                td(md-cell)
                  div(ng-style="{opacity: institution.license.licenseAmount ? 1 : 0.2}")|{{institution.license.licenseAmount || '0'}}
                td(md-cell)
                  div(ng-style="{opacity: institution.license.transactionId ? 1 : 0.2}")|{{institution.license.transactionId || '--'}}
                td(md-cell)
                  div(ng-style="{opacity: institution.license.transactionId ? 1 : 0.2}")|{{institution.license.transaction.purchasePrice || '--' | currency}}
                td(md-cell)
                  div(ng-style="{opacity: institution.license.transactionId ? 1 : 0.2}")|{{institution.license.transaction.displayName || '--'}}
                td(md-cell)|{{institution.metadata.phoneNumber || '--'}}
                td(md-cell layout="row" layout-align="start center")
                  div {{institution.license ? 'Licenciado' : 'Sin licencia'}}
                  md-button(ng-if="institution.license" ng-click="$ctrl.$REVOKE_LICENSE = $index")
                    |REVOCAR
                  md-button(ng-if="!institution.license" ng-click="$ctrl.$CREATE_LICENSE = $index")
                    |LICENCIAR
                  md-button.md-icon-button(ng-if="!institution.license" ng-click="$ctrl.DELETE = $index")
                    md-icon delete

//- ELIMINAR --------------
wc-dialog(
  ng-if="$ctrl.DELETE || $ctrl.DELETE === 0"
  wc-dialog-template="true"
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.DELETE = false")
  wc-dialog-template
    div(layout="column" style="max-width: 30rem; max-height: 70vh")
      md-content(flex)
        .margin.padding-half(layout="row" layout-wrap)
          .md-title(flex=100)|Eliminar institución {{$ctrl.$institutions[$ctrl.DELETE].metadata.displayName}}
          .md-body-1(style="opacity: 0.5")|¿Estás seguro de continuar? Esta acción no se puede deshacer.
        md-button(ng-click="$ctrl.$deleteInstitution($ctrl.$institutions[$ctrl.DELETE]); $ctrl.DELETE = false") DELETE
//- CREAR INSTITUCION ------------
wc-dialog(
  ng-if="$ctrl.NEW_INSTITUTION"
  wc-dialog-template="true"
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.NEW_INSTITUTION = false")
  wc-dialog-template
    div(layout="column" style="max-width: 30rem; max-height: 70vh")
      md-content(flex)
        .margin.padding-half(layout="row" layout-wrap)
          .md-title(flex=100)|Nueva institución
          .md-body-1(style="opacity: 0.5")|Ingresa los datos de la nueva institución.
          .padding-quarter
          div(flex=100 ng-init="$ctrl.institution.metadata.country = 'CO'")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Nombre de la institución
            input(ng-model="$ctrl.institution.metadata.displayName")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Teléfono
            input(ng-model="$ctrl.institution.metadata.phoneNumber")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Dirección
            input(ng-model="$ctrl.institution.metadata.address")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Ciudad
            input(ng-model="$ctrl.institution.metadata.city")
          div
          .md-body-1.padding-h-quarter(style="opacity: 0.75" flex=100)
            b Datos de administrador
          md-input-container(flex=100 flex-gt-sm=100)
            label|Nombre completo
            input(ng-model="$ctrl.institution.user.displayName")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Email
            input(ng-model="$ctrl.institution.user.email")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Contraseña
            input(ng-model="$ctrl.institution.user.password" type="password")
      md-divider
      md-content(layout="row" layout-align="end" style="height: 3.5rem")
        md-button(ng-click="$ctrl.NEW_INSTITUTION = null")|CANCELAR
        div(flex)
        md-button.md-raised.md-accent(
          ng-click="$ctrl.$createInstitution($ctrl.institution); $ctrl.NEW_INSTITUTION = false")
          |Crear institución
//- LICENCIAR ------------
wc-dialog(
  ng-if="$ctrl.$REVOKE_LICENSE || $ctrl.$REVOKE_LICENSE === 0"
  wc-dialog-template="true"
  wc-dialog-fullscreen="false")
  wc-dialog-template
    div(layout="column" style="max-width: 30rem; max-height: 70vh")
      md-content(flex)
        .margin.padding-half(layout="row" layout-wrap)
          .md-title(flex=100)|Revocar licencia
          .md-body-1(style="opacity: 0.5")|Esto no se puede deshacer.
      md-content(layout="row" layout-align="end" style="height: 3.5rem")
        md-button(ng-click="$ctrl.$REVOKE_LICENSE = null")|CANCELAR
        div(flex)
        md-button.md-raised.md-accent(
          ng-click="$ctrl.$revokeLicense($ctrl.$institutions[$ctrl.$REVOKE_LICENSE].key);$ctrl.$REVOKE_LICENSE = undefined")
          |REVOCAR
wc-dialog(
  ng-if="$ctrl.$CREATE_LICENSE || $ctrl.$CREATE_LICENSE === 0"
  wc-dialog-template="true"
  wc-dialog-fullscreen="false")
  wc-dialog-template
    div(layout="column" style="max-width: 30rem; max-height: 70vh")
      md-content(flex)
        .margin.padding-half(layout="row" layout-wrap)
          .md-title(flex=100)|Nueva licencia
          .md-body-1(style="opacity: 0.5")|Ingresa los datos de la nueva licencia de esta institución.
          .padding-quarter
          md-input-container(flex=45 flex-gt-sm="50")
            label|# transacción
            input(ng-model="$ctrl.license.transactionId")
          div(flex=40)
          md-input-container(flex=45 flex-gt-sm="50")
            label|Nombre del pagador
            input(ng-model="$ctrl.license.transaction.displayName")
          md-input-container(flex=45 flex-gt-sm="50" ng-init="$ctrl.license.licenseAmount = $ctrl.$institutions[$ctrl.$CREATE_LICENSE].params.licenseAmount || 1")
            label|Cantidad de licencias
            input(ng-model="$ctrl.license.licenseAmount" type="number")
          md-input-container(flex=45 flex-gt-sm="50")
            label|Pago total
            input(ng-model="$ctrl.license.transaction.purchasePrice" type="number")
      md-divider
      md-content(layout="row" layout-align="end" style="height: 3.5rem")
        md-button(ng-click="$ctrl.$CREATE_LICENSE = null")|CANCELAR
        div(flex)
        md-button.md-raised.md-accent(
          ng-click="$ctrl.$addLicense($ctrl.license, $ctrl.$institutions[$ctrl.$CREATE_LICENSE].key);$ctrl.$CREATE_LICENSE = undefined")
          |LICENCIAR