fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then="$ctrl.$processWords($data); $ctrl.$ready = true")
  before
    wc-progress(wc-progress-type="linear")
    
.padding-half(
  layout="row"
  layout-wrap)
  .md-subhead.padding-half.pointer.pt-serif(
    flex=50
    md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary-700' : 'black-primary-900' }"
    ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
    ng-click="$ctrl.$chosen[word] = !$ctrl.$chosen[word]"
    ng-repeat="word in $ctrl.$dictionary")
    |{{word}}

div(
  layout="row"
  layout-align="end")
  md-button.md-raised.md-primary(
    ng-click="$ctrl.$verify($ctrl.$chosen)")
    |Continuar

//div(
  ng-if="$ctrl.$length($ctrl.$chosen) === $ctrl.amount/($ctrl.total || 2)"
  ng-init="$ctrl.$verify($ctrl.$chosen)")
    
