.background.padding(
  layout="column"
  layout-align="start center")
  div(
    ng-if="$ctrl.columns"
    layout="column"
    layout-align="start center" title="")
    .md-display-1.padding-v-half|{{$ctrl.title}}
    div(
      layout="row"
      layout-align="center baseline"
      layout-wrap)
      // Merging
      .center(
        flex=100
        ng-repeat="(columnIndex, column) in $ctrl.columns track by $index")
        span.mono(ng-repeat="word in column track by $index")
          |{{word}}&nbsp;


  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then()`)
    |TERMINAR