wc-dialog(
  ng-if="!$ctrl.$payment"
  wc-dialog-template
  wc-dialog-fullscreen="false"
  wc-dialog-modal="false"
  catch="$ctrl.catch()")
  wc-dialog-template
    md-content
      .padding-half
      .padding-h.container-half(
        layout="column"
        layout-align="start start")
        div(
          layout="row")  
          div
            img(
              style="width: 4rem"
              src="images/character.png")
          .md-title|¿Perteneces a una clase?
        .md-body-1.padding-v-half|Ingresa el código de clase que te dio tu profesor o profesora para tener acceso a toda la plataforma.
        .padding-half
        md-input-container
          label|Código de clase
          input(
            required
            ng-model="$ctrl.$groupId")
      div(
        layout="row")
        md-button.md-primary(
          ng-click="$ctrl.subscribe()")
          |SUSCRIBIRME
        div(flex)
        md-button.md-raised.md-primary(
          ng-click="$ctrl.GROUP = true")
          |UNIRSE AL GRUPO
      fd-dispatcher(
        ng-if="$ctrl.GROUP"
        fd-dispatcher-action=`{
          type: 'MEMBERSHIP.GROUP',
          groupId: $ctrl.$groupId
        }`)
        before
          wc-progress(wc-progress-type="linear")
        catch
          wc-toast(
            ng-init="$ctrl.GROUP = false"
            wc-toast-message="Error uniéndose al grupo, verifica el código e intenta nuevamente")
        then
          fd-ref(
            fd-ref-path="groups/{{$ctrl.$groupId.toLowerCase()}}/public/displayName"
            then="$ctrl.$displayName = $data"
            catch="$ctrl.then()")
            before
              wc-progress(wc-progress-type="linear")
            then
              wc-toast(
                ng-init="$ctrl.then()"
                wc-toast-message="Bienvenido a {{$ctrl.$displayName}}")
        