md-content.padding-half.excersises(
  layout="row"
  layout-align="start stretch")
  //- .excersise.padding-h-half.pointer.opacity1(
    flex-order="0"
    ui-sref="session({level: 4})")
    .relative.margin-quarter
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        md-theme="black"
        value="100"
        md-diameter=80
        md-mode="determinate")
      .md-whiteframe-2dp.session.l4(layout="row" layout-align="center center")
        .md-display-2|S
    .md-body-2.margin-h-quarter
      b|Sesión de entrenamiento
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'doubleColumn'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Lectura en dos columnas.png")
    .md-body-2.margin-h-quarter
      b|Lectura en 2 columnas
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'mergingColumns'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Dos columnas a una.png")
    .md-body-2.margin-h-quarter
      b|2 Columnas a una
      
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'tripleColumn'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Lectura en 3 columnas.png")
    .md-body-2.margin-h-quarter
      b|Lectura en 3 columnas
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'zigzagText'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Texto en zig-zag.png")
    .md-body-2.margin-h-quarter
      b|Texto en zig-zag

  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'doubleFixation'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Dobles fijaciones.png")
    .md-body-2.margin-h-quarter
      b|Dobles fijaciones
  
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'arrowsWarmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con flechas.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con flechas
  
  .padding-quarter
  