fd-auth(then="$ctrl.$auth = $data")

auth-login(
  ng-if="$ctrl.LOGIN"
  then="$ctrl.LOGIN = false"
  catch="$ctrl.LOGIN = false"
  register=`
    $ctrl.LOGIN = false;
    $ctrl.REGISTER = true;`
  forgot=`
    $ctrl.email = $email;
    $ctrl.LOGIN = false;
    $ctrl.FORGOT = true;`)
  
auth-register(
  ng-if="$ctrl.REGISTER"
  then="$ctrl.REGISTER = false"
  catch="$ctrl.REGISTER = false"
  login=`
    $ctrl.REGISTER = false;
    $ctrl.LOGIN = true;`)

auth-forgot(
  ng-if="$ctrl.FORGOT"
  email="$ctrl.email"
  then="$ctrl.FORGOT = false"
  catch="$ctrl.FORGOT = false")

.absolute-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    md-colors="::{background: 'black-primary'}"
    layout="row"
    layout-align="center")
    .container(
      layout="row")
      a.pointer(
        href="https://intelligere.co")
        img.margin-h.margin-v(
          style="height: 24px"
          src="images/logo.png")
      div(flex)
      md-button(
        ng-if="!$ctrl.$auth"
        ng-click="$ctrl.LOGIN = true")
        div(md-colors="::{color: 'grey-A100'}")|Inicia Sesión
      div(data-step="1" data-intro="Acá podrás ver tu perfil y tus estadísticas.")
        md-menu(ng-if="$ctrl.$auth" md-position-mode="target-right target")
          md-button.md-icon-button(
            style="margin: .5rem"
            ng-click="$mdMenu.open($event)")
            md-icon(md-menu-origin md-colors="::{color: 'grey-A100'}") more_vert
          md-menu-content
            md-menu-item(
              ng-click=""
              ui-sref="account")
              md-button Mi cuenta
            md-menu-item(
              ng-click="$ctrl.$logout()")
              md-button Cerrar sesión
  fd-auth(then="$ctrl.uid = $data.uid")
    then
      fd-ref(fd-ref-path="/students/{{$ctrl.uid}}/scores" then="$ctrl.$hasScores = $data")
        then
          fd-ref(ng-if="$ctrl.$hasScores" fd-ref-path="/users/{{$ctrl.uid}}/homeWizard" then="$ctrl.$homeWizard = $data; $ctrl.$openWizard($ctrl.uid, $ctrl.$homeWizard)")
  md-content(
    style="background: #FDF4EA"
    flex)
    home-account
    div(layout="row" layout-align="center")
      .container(layout="column" style="margin-top: -5rem;")
        account-subscription
        .md-whiteframe-2dp.margin-quarter(ng-if="!$ctrl.$hasScores" style="background: #fff; border-radius: 0.5rem")
          home-title
          div(style="padding: 0 1rem 1rem 1rem")
            .md-body-1.opacity75(style="padding: 0.5rem") Antes de poder continuar, tienes que medir tu velocidad de lectura actual. No te afanes, la idea no es hacer tu lectura más rápida sino una lectura en la que te sientas cómodo para seguir evolucionando.
            div(layout="row" layout-align="end")
            md-button.md-primary.md-raised(ui-sref="lesson({lessonId: 'speed', initial: true})")|MEDIR MI VELOCIDAD
        .md-whiteframe-2dp.margin-quarter(ng-if="$ctrl.$hasScores" style="background: #fff; border-radius: 0.5rem")
          home-title
          home-levels
        account-group
    .padding.margin