fd-auth(then="$ctrl.$auth = $data; $ctrl.uid = $data.uid")
  then
    fd-user(then="$ctrl.$user = $data")
    fd-ref(
      fd-ref-path="students/{{$ctrl.$auth.uid}}/goal"
      then="$ctrl.$goal = $data")
    fd-ref(fd-ref-path="/students/{{$ctrl.uid}}/scores" then="$ctrl.$hasScores = $data")
      
membership-subscribe(
  ng-if="$ctrl.SUBSCRIBE && $ctrl.$auth"
  auth="$ctrl.$auth"
  then="$ctrl.SUBSCRIBE = false"
  catch="$ctrl.SUBSCRIBE = false"
  group=`
    $ctrl.SUBSCRIBE = false;
    $ctrl.GROUP = true;`)
    
membership-group(
  ng-if="$ctrl.GROUP"
  then="$ctrl.GROUP = false"
  catch="$ctrl.GROUP = false"
  subscribe=`
    $ctrl.GROUP = false;
    $ctrl.SUBSCRIBE = true;`)

.margin-quarter.padding-h-half.md-whiteframe-2dp(ng-if="$ctrl.$auth && $ctrl.$hasScores" style="background: #fff; border-radius: 0.5rem")
  // NO MEMBERSHIP
  div(ng-if="!$ctrl.$user.isMember && !$ctrl.$user.institutionId")
    .padding-half
    .padding-h-half(
      layout="row")
      div(
        flex
        layout="column")
        .md-title Prueba gratuita
        span.padding-v-half.serif.md-body-1.opacity5(style="max-width: 400px")|Esta es una prueba gratuita para que te enamores de la lectura rápida y sus beneficios. Suscríbete para poder acceder al curso, llevar un control de tus estadísticas y desbloquear tu potencial.
      //- div(flex=20)
        img(
          style="width: 100%"
          src="images/character.png")
    div(
      layout="row")
      md-button.md-primary.md-raised(
        flex
        ng-click="$ctrl.SUBSCRIBE = true")
        |SUSCRIBIRME
  
  