<template lang="pug">
div
  div(v-if="report" layout="column")
    .padding-h.margin-h.md-display-1.opacity25.w800(v-if="report.sessions")|{{report.start | moment('MMMM')}}
    .elevation-2.white--background.margin.padding.radius-half(v-if="report[reportType]" v-for="reportType in ['sessions', ...reportTypes]")
      .padding-half
        .padding-quarter(layout="row" layout-align="start center" style="margin-top: -1rem")
          div(layout="column")
            .padding-quarter
            .md-headline(v-if="reportType !== 'sessions'")|{{structure.lessons[reportType].displayName}}
            .md-headline(v-if="reportType === 'sessions'")|Sesiones
            .md-body-1.opacity5|{{report.start | moment('ll')}} - {{report.end | moment('ll')}}
          
        .md-subhead.center.padding.margin.opacity5(v-if="!report[reportType]")|No hay datos para generar este reporte
        .md-subhead.w800(v-if="report[reportType]")
          div(layout="row")
            //- Acumulados
            .padding-v(flex layout="row" layout-wrap layout-align="center")
              //- Sesiones
              SingleMetric(
                :label="isLesson(reportType) ? 'Intentos' : 'Sesiones'"
                :sublabel="isLesson(reportType) ? 'Completados' : 'Completadas'"
                :metrics="mapMetrics(report[reportType].duration, 'count')")
              SingleMetric(
                v-if="!isLesson(reportType) && report.metrics.wpm"
                label="Velocidad efectiva" sublabel="Promedio total" unit="ppm"
                :metrics="mapMetrics(report.metrics.ewpm, 'mean', toFixed(0))")
              SingleMetric(
                v-if="!isLesson(reportType) && report.metrics.wpm"
                label="Velocidad efectiva" sublabel="% mejora" unit="%"
                :metrics="mapMetrics(report.metrics.ewpm, 'improvement', toPercentage(1))")
              //- Milliseconds
              SingleMetric(
                v-if="showMilliseconds(reportType)"
                sublabel="Tiempo por palabra"
                label="Máximo"
                :metrics="mapMetrics(report[reportType].milliseconds, 'max', toTime)")
              SingleMetric(
                v-if="showMilliseconds(reportType)"
                sublabel="Tiempo por palabra"
                label="Mínimo"
                :metrics="mapMetrics(report[reportType].milliseconds, 'min', toTime)")
              SingleMetric(
                v-if="showMilliseconds(reportType)"
                label="Progreso"
                sublabel="Porcentaje de mejora" unit="%"
                :metrics="mapMetrics(report[reportType].milliseconds, 'improvement', toPercentage(0))")
              //- WPM
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Palabras por minuto"
                label="Vel. Promedio" unit="ppm"
                :metrics="mapMetrics(report[reportType].wpm, 'mean', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Palabras por minuto"
                label="Vel. Máxima" unit="ppm"
                :metrics="mapMetrics(report[reportType].wpm, 'max', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Palabras por minuto"
                label="Vel. Mínima" unit="ppm"
                :metrics="mapMetrics(report[reportType].wpm, 'max', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                label="Progreso"
                sublabel="Porcentaje de mejora" unit="%"
                :metrics="mapMetrics(report[reportType].wpm, 'improvement', toPercentage(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Palabras comprendidas por minuto"
                label="Vel. Efectiva" unit="ppm"
                :metrics="mapMetrics(report[reportType].ewpm, 'mean', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Mínima"
                label="Vel. Efectiva" unit="ppm"
                :metrics="mapMetrics(report[reportType].ewpm, 'min', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Máxima"
                label="Vel. Efectiva" unit="ppm"
                :metrics="mapMetrics(report[reportType].ewpm, 'max', toFixed(0))")
              SingleMetric(
                v-if="showWpm(reportType)"
                sublabel="Promedio preguntas correctas"
                label="Comprensión" unit="%"
                :metrics="mapMetrics(report[reportType].comprehension, 'mean', toPercentage(0))")
              //- Percentage
              SingleMetric(
                v-if="showPercentage(reportType)"
                sublabel="Respuestas correctas" label="Promedio" unit="%"
                :metrics="mapMetrics(report[reportType].percentage, 'mean', toPercentage(0))")
              SingleMetric(
                v-if="showPercentage(reportType)"
                sublabel="Respuestas correctas" label="Máximo" unit="%"
                :metrics="mapMetrics(report[reportType].percentage, 'max', toPercentage(0))")
              SingleMetric(
                v-if="showPercentage(reportType)"
                label="Progreso"
                sublabel="Porcentaje de mejora" unit="%"
                :metrics="mapMetrics(report[reportType].percentage, 'improvement', toPercentage(0))")
              //- Number
              SingleMetric(
                v-if="showNumber(reportType)"
                sublabel="Número alcanzado"
                label="Promedio" unit=""
                :metrics="mapMetrics(report[reportType].number, 'mean', toFixed(0))")
              SingleMetric(
                v-if="showNumber(reportType)"
                sublabel="Número alcanzado"
                label="Máximo" unit=""
                :metrics="mapMetrics(report[reportType].number, 'max', toFixed(0))")
              SingleMetric(
                v-if="showNumber(reportType)"
                label="Progreso"
                sublabel="Porcentaje de mejora" unit="%"
                :metrics="mapMetrics(report[reportType].number, 'improvement', toPercentage(0))")
              //- Else
              SingleMetric(
                label="Tiempo total"
                sublabel="Promedio"
                :metrics="mapMetrics(report[reportType].duration, 'mean', toTime)")
              SingleMetric(
                v-if="!isLesson(reportType)"
                label="Nivel"
                sublabel="Nivel actual"
                :metrics="mapMetrics(report.level.level, 'level')")
          //- Charts
          div(layout="row" layout-wrap)
            //- Sesiones
            LineChart(
              v-if="!isLesson(reportType)" flex
              label="Duración de cada sesión" sublabel="Minutos y segundos"
              :chartData="toChart(report[reportType].duration)" :scaleFn="toTime" :width="400" :height="200")
            LineChart(
              v-if="!isLesson(reportType)" flex
              label="Velocidad efectiva" sublabel="Palabras comprendidas por minuto"
              :chartData="toChart(report.metrics.ewpm)" :scaleFn="toFixed(0)" :width="400" :height="200")
            LineChart(
              v-if="isLesson(reportType)" flex
              label="Duración del ejercicio" sublabel="Minutos y segundos"
              :chartData="toChart(report[reportType].duration)" :scaleFn="toTime" :width="400" :height="200")
            LineChart(
              v-if="showNumber(reportType)" flex
              label="Intentos realizados" sublabel="Número alcanzado"
              :chartData="toChart(report[reportType].number)" :scaleFn="toFixed(0)" :width="400" :height="200")
            LineChart(
              v-if="showPercentage(reportType)" flex
              label="Intentos realizados" sublabel="Respuestas correctas"
              :chartData="toChart(report[reportType].percentage)" :scaleFn="item => (toPercentage(item, 0) + '%')" :width="400" :height="200")
            LineChart(
              v-if="showMilliseconds(reportType)" flex
              label="Intentos realizados" sublabel="Tiempo por palabra (menos tiempo es mejor)" :invert="true"
              :chartData="toChart(report[reportType].milliseconds)" :scaleFn="val => toTime(-val)" :width="400" :height="200")
          //- Table
          div
          //- End
        
</template>
<script>
import LineChart from '@/components/_shared/LineChart'
import SingleMetric from './SingleMetric'
import moment from 'moment'
import _ from 'lodash'
export default {
  props: ['report', 'structure', 'reportTypes'],
  components: {LineChart, SingleMetric},
  computed: {
    colors () {
      return this.$store.state.colors
    },
    colorsTranslucent () {
      return this.$store.state.colorsTranslucent
    }
  },
  methods: {
    size: _.size,
    toTime (val) {
      return _.isNaN(val) ? '-' : moment(new Date(val)).format('mm:ss')
    },
    toPercentage (val, num) {
      return _.isNumber(num)
        ? this.toFixed(val * 100, num)
        : (newVal) => this.toPercentage(newVal, val)
    },
    toFixed (val, num) {
      return _.isNumber(num)
        ? _.isNaN(val) ? '-' : val.toFixed(num || 0)
        : (newVal) => this.toFixed(newVal, val)
    },
    mapMetrics (list, prop, fn) {
      return _(list)
        .map(item => [item[prop], item.groupIndex])
        .map(([value, index]) => ({
          value: fn ? fn(value) : value,
          index
        }))
        .value()
    },
    toChart (metric) {
      return {
        datasets: _.map(metric, ({list: data}, index) => ({
          data,
          backgroundColor: this.colorsTranslucent[index]
        }))
      }
    },
    isLesson (reportType) {
      return reportType !== 'sessions'
    },
    lessonStructure (reportType) {
      return this.structure.lessons[reportType] || {}
    },
    showNumber (reportType) {
      return this.lessonStructure(reportType).unit === 'number'
    },
    showPercentage (reportType) {
      return this.lessonStructure(reportType).unit === 'percentage'
    },
    showMilliseconds (reportType) {
      return this.lessonStructure(reportType).unit === 'milliseconds'
    },
    showWpm (reportType) {
      return this.lessonStructure(reportType).unit === 'wpm' || this.lessonStructure(reportType).unit === 'wpm-only'
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
