<template lang="pug">
  .number.margin-half(layout="column" flex)
    .header.padding-v-half.padding-h(layout="column" layout-align="center")
      .md-body-1.w800|{{label}}
      .md-caption.opacity75.w400.sublabel|{{sublabel}}
    .padding-h.padding-v-half(layout="column" layout-align="start start")
      .md-headline.nunito.padding-v-half(v-for="(metric, index) in items" :style="{color: colors[index]}" :class="{opacity5: !(metric || {}).value}")
        |{{(metric || {}).value || '-'}}
        span.md-caption(v-if="(metric || {}).value")|{{unit}}
</template>
<script>
import _ from 'lodash'
export default {
  props: ['unit', 'label', 'sublabel', 'metrics'],
  computed: {
    items () {
      return _.map(this.selectedGroups, (group, index) => this.getMetric(index))
    },
    selectedGroups () {
      return this.$store.state.reports.selectedGroups
    },
    colors () {
      return this.$store.state.colors
    }
  },
  methods: {
    getMetric (index) {
      return _(this.metrics)
        .filter(item => (item || {}).index === index)
        .head()
    }
  }
}
</script>

<style lang="scss" scoped>
.number {
  min-width: 8rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
}
.header {
  min-height: 5.5rem;
  border-bottom: 1px solid #eee;
}
.sublabel {
  margin-top: 0.25rem;
  line-height: 1rem;
}
</style>

