.landing-about-wrapper.padding.z0(
  md-colors="::{background: 'cyan-primary-50'}"
  layout="row"
  layout-align="center center")
  .container.padding-v(
    layout="row"
    layout-xs="column")
    landing-about-feature.margin(
      icon="'images/landing/about/exercises-icon.png'"
      title="Mas de 20 ejercicios distintos"
      body="Aprender el método de lectura rápida no tiene por que ser un trabajo robusto y dispendioso, acá encontrarás más de 20 ejercicios didácticos y entretenidos para que nunca te aburras de leer."
      flex)
    landing-about-feature.margin(
      icon="'images/landing/about/comprehension-icon.png'"
      title="Aumenta la comprensión, no solamente la velocidad"
      body="Intelligere es un método te permitirá, no solo leer a una velocidad que ni te imaginas, sino además hacerlo con un nivel de comprensión y retención superior al 90%"
      flex)
    landing-about-feature.margin(
      icon="'images/landing/about/choose-icon.png'"
      title="Lee lo que te gusta, no lo que te toca"
      body="Leer temas de tu interés es clave para el éxito. Intelligere te permite filtrar por categorías los temas qué más te gustan para que el programa siempre se ajuste a tus gustos."
      flex)

.padding.z1(
  layout="row"
  layout-align="center center"
  md-colors="::{background: 'cyan-primary-100'}")
  .container(
    layout="row")
    skroll-appear
      landing-about-slider.relative.margin(
        flex)