// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")

// LOADER
md-progress-linear(
  ng-if="$ctrl.$progress"
  md-mode="determinate"
  ng-value="$ctrl.$progress")

// WORDS
.padding(
  ng-if="!$ctrl.testWords"
  layout="row"
  layout-wrap)
  padding-h-half.opacity5(
    flex=100)
    p.serif|Intenta memorizar las palabras que desaparecen:
  .md-subhead.padding-half.pointer.serif.no-outline.transition(
    flex=50
    ng-class="{ opacity0: $ctrl.blockedWords[word] }"
    ng-repeat="word in $ctrl.words")
    |{{word}}

// TEST
.padding-half(
  ng-if="$ctrl.testWords"
  ng-init="$ctrl.$chosen = {}"
  layout="row"
  layout-wrap)
  .padding-h-half.opacity5(
    flex=100)
    p.serif|Elige las palabras que recuerdes:
  .md-subhead.padding-half.pointer.serif.no-outline(
    flex=50
    md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary' : 'grey-900' }"
    ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
    ng-click="$ctrl.$choose($ctrl.$chosen, word, $ctrl.words.length)"
    ng-repeat="word in $ctrl.testWords")
    |{{word}}

div(
  ng-if="$ctrl.testWords"
  layout="row"
  layout-align="end")
  md-button.md-raised.md-primary(
    ng-click="$ctrl.$verify($ctrl.$chosen)")
    |Continuar
