div(
  layout="column"
  layout-align="start start")
  .icon-60.background-image.background-contain.margin-v-half(
    ng-style="{ backgroundImage: 'url(' + $ctrl.icon + ')' }")
  .md-title(
    md-colors="::{color: 'institutional-primary-600'}")|{{$ctrl.title}}
  p.md-body-1(
    md-colors="::{color: 'grey-primary-700'}")
    |{{$ctrl.body}}