.absolute-fill.margin(
  layout="row"
  layout-align="center stretch")
  .relative.container-extended(
    layout="column"
    layout-align="space-between stretch"
    flex)
    div(ng-repeat="row in $ctrl.$matrix" layout="row" layout-align="space-between center")
      .md-title.padding-half.center(ng-repeat="num in row" ng-style="{opacity: num === $ctrl.$currentI ? 1 : 0}") {{num}}
