// DATA
fd-ref(
  ng-if="!$ctrl.$ready"
  fd-ref-path="content/words"
  then=`
    $ctrl.$processWords($data);
    $ctrl.$ready = true`)
  before
    wc-progress(wc-progress-type="linear")

// TRIANGLES
.padding(
  ng-if="!$ctrl.$dictionary"
  layout="column"
  layout-align="center center")
  .margin-half.padding-quarter.radius.border-radius(
    md-colors="::{backgroundColor: 'grey-900'}"
    )
  .md-subhead.serif(
    style="height: 1.5em; background: transparent"
    ng-repeat="word in $ctrl.$cycles[$ctrl.$currentCycle] track by $index")
    .md-subhead.padding-v.mono(
      ng-style="{ opacity: $index <= $ctrl.$currentWord ? 1 : 0 }")|{{word}}

// TEST
.padding-half(
  ng-if="$ctrl.$dictionary"
  ng-init="$ctrl.$chosen = {}"
  layout="row"
  layout-wrap)
  .padding-h-half.opacity5(
    flex=100)
    p.serif|Elige las palabras que recuerdes:
  .md-subhead.padding-half.pointer.serif.no-outline.mono(
    flex=33 style="background:transparent"
    md-colors="{ color: $ctrl.$chosen[word] ? 'default-primary' : 'grey-900' }"
    ng-style="{ fontWeight: $ctrl.$chosen[word] ? 800 : 400 }"
    ng-click="$ctrl.$choose($ctrl.$chosen, word, $ctrl.$dictionary.length)"
    ng-repeat="word in $ctrl.$dictionary track by $index")
    |{{word}}
.padding-half

div(
  ng-if="$ctrl.$dictionary"
  layout="row"
  layout-align="end")
  md-button.md-raised.md-primary(
    ng-click="$ctrl.$verify($ctrl.$chosen)")
    |Continuar

//div(
  ng-if="$ctrl.$length($ctrl.$chosen) === $ctrl.amount/($ctrl.total || 2)"
  ng-init="$ctrl.$verify($ctrl.$chosen)")
    
