.institutional-pricing-clip(
  md-colors="::{background: 'institutional-primary-600'}")
.institutional-pricing-wrapper.z10(
  md-colors="::{background: 'institutional-primary-600'}")
  institutional-pricing-title
  div(
    layout="row"
    layout-align="center")
    .container.padding-half(
      layout="row"
      layout-align="center center"
      layout-wrap)
      .padding-half.z10(
        ng-repeat="i in [1]"
        flex=60
        flex-xs=90)
        institutional-pricing-card