$height: 5rem;
institutional-pricing {
  .institutional-pricing-clip {
    margin-top: -$height - 3rem;
    padding-top: $height + 3rem;
    clip-path: polygon(0 $height, 100% 0, 100% 100%, 0 100%);
  }
  .institutional-pricing-wrapper {
    margin-top: -1px;
  }
}