.absolute-fill(
  layout="column"
  layout-align="start stretch")
  md-toolbar.md-hue-1
    .md-toolbar-tools
      h2|Velocidad de lectura
  md-tabs.md-primary.md-hue-1(flex)
    md-tab(
      label="test")
      .absolute-fill(
        layout="column")
        md-content(
          flex
          layout="column"
          layout-align="center center"
          layout-align-xs="start center")
          lessons-article-module
        
    md-tab(
      label="settings"
      ng-disabled="true")
  
