md-content.padding-half.excersises(
  layout="row"
  layout-align="start stretch")
  //- .excersise.padding-h-half.pointer.opacity1(
    flex-order="0"
    ui-sref="session({level: 1})")
    .relative.margin-quarter
      md-progress-circular.z5.md-hue-2.opacity75.absolute-fill( 
        md-theme="black"
        value="100"
        md-diameter=80
        md-mode="determinate")
      .md-whiteframe-2dp.session.l1(layout="row" layout-align="center center")
        .md-display-2|S
    .md-body-2.margin-h-quarter
      b|Sesión de entrenamiento
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'warmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento Visual.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento Visual
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'arrowsWarmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con flechas.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con flechas
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'numbersWarmup'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con numeros.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con números
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'numbersWarmup2'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con numeros.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento con palabras
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'numbersWarmup3'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con numeros.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento perimetral
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'numbersWarmup4'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Calentamiento con numeros.png")
    .md-body-2.margin-h-quarter
      b|Calentamiento extremo
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'findWord'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Encuentra la palabra.png")
    .md-body-2.margin-h-quarter
      b|Encuentra la Palabra
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'wordPyramid'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Piramide de palabras.png")
    .md-body-2.margin-h-quarter
      b|Pirámide de Palabras
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'recognize'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Reconoce las palabras.png")
    .md-body-2.margin-h-quarter
      b|Reconoce las Palabras
  .excersise.padding-h-half.pointer.opacity1(
    ui-sref="lesson({lessonId: 'truncated'})"
    ui-sref-active="opacity5")
    .relative.margin-quarter
      img.md-whiteframe-2dp(
        src="images/excersises/Palabras truncadas.png")
    .md-body-2.margin-h-quarter
      b|Palabras Truncadas
  .padding-quarter
  