it-level(then=`
  $ctrl.$level = $level;
  $ctrl.$points = $ctrl.floor($points);
  $ctrl.$missingPoints = $ctrl.floor(($ctrl.$level + 1) * $ctrl.POINTS_PER_LEVEL - $points);
  $ctrl.then({
    $completed: $ctrl.$level > $ctrl.level,
    $expanded: $ctrl.$level !== $ctrl.level
  })
`)
.padding-h.padding-v-half(ng-show="$ctrl.$level === $ctrl.level")
  .md-caption.opacity5(ng-if="$ctrl.level < 5")
    |Te faltan {{$ctrl.$missingPoints}} puntos para completar este nivel.
  .md-caption.opacity5.padding-v-quarter
    |Llevas {{$ctrl.$points}} puntos acumulados en todo el curso.
md-progress-linear.md-primary.opacity25(
  ng-show="$ctrl.$level === $ctrl.level"
  md-theme="black"
  md-mode="determinate"
  ng-value="$ctrl.floor(($ctrl.POINTS_PER_LEVEL - $ctrl.$missingPoints) * 100 / $ctrl.POINTS_PER_LEVEL)")