wc-ui-params(
  then="$ctrl.lessonId = $data.lessonId; $ctrl.$isInitial = $data.initial")
fd-ref(
  fd-ref-path="structure/lessons/{{$ctrl.lessonId}}"
  then="$ctrl.$lesson = $data")
fd-ref(
  fd-ref-path="structure/lessons/{{$ctrl.lessonId}}"
  then="$ctrl.$lesson = $data")
fd-auth(then="$ctrl.$uid = $data.uid")
  then
    fd-ref(
      fd-ref-path="students/{{$ctrl.$uid}}/params/{{$ctrl.lessonId}}"
      then="$ctrl.$$params = $ctrl.$parseInitialParams($ctrl.$lesson.params); $ctrl.$receiveSavedParams($data)")
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="home")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center"
    md-colors="::{background: 'black-primary'}"
    style="color: white")
    .container.padding-v-half.padding-h(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon(md-colors="::{color: 'grey-A100'}")|arrow_back
      .md-title|{{$ctrl.$lesson.displayName}}
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center"
    style="background: #FDF4EA")
    .container(ng-class="{'container-extended': $ctrl.$lesson.isWide}")
      .margin.radius.md-whiteframe-2dp(layout="column" style="background: white; border-radius: 0.5rem")
        // Excersise
        current-lesson(
          ng-if="!$ctrl.$next && $ctrl.$lesson"
          lesson-id="{{$ctrl.lessonId}}"
          lesson="$ctrl.$lesson"
          params="$ctrl.$params"
          level="$ctrl.$level"
          prevent-log="$ctrl.$isInitial"
          then=`
            $ctrl.$next = true;
            $ctrl.$data = $data;
            $ctrl.$correct = $correct;
            $ctrl.$incorrect = $incorrect;
            $ctrl.$missing = $missing;
            $ctrl.$wpm = $wpm;
            $ctrl.$comprehension = $comprehension;
            $ctrl.$points = $points;
            $ctrl.$bumpParams()`)
        // Result
        div(layout="row" layout-align="center" flex ng-if="$ctrl.$next")
          .padding-v-half.container.padding-h(layout="column" flex)
            div
            div(ng-if="$ctrl.$lesson.unit")
              .md-display-1(ng-if="$ctrl.$points > 0 && $ctrl.$points <= 6") ¡Sigue intentando!
              .md-display-1(ng-if="!$ctrl.$points || $ctrl.$points > 6 && $ctrl.$points <= 8") ¡Buen trabajo!
              .md-display-1(ng-if="$ctrl.$points > 8") ¡Increíble!
              .md-headline.margin-v-quarter(ng-if="$ctrl.$points") Has ganado {{$ctrl.$points}} puntos en este ejercicio.
            div(ng-if="!$ctrl.$lesson.unit")
              .md-display-1.margin-v-quarter ¡Buen trabajo!
              .md-subhead Has ganado 3 puntos en este calentamiento. Recuerda hacer calentamientos visuales constantemente para ejercitar tus músculos oculares.
            .padding-v-half
            div(ng-if="!$ctrl.$lesson.unit" ng-init="$ctrl.$isFinished = $ctrl.lessonId;")
            //- Wpm only
            div(ng-if="$ctrl.$lesson.unit === 'wpm-only'")
              .md-subhead|Velocidad de lectura
              .md-display-1.opacity75
                |{{$ctrl.$data | number : 0}}
                span.md-body-1|ppm
            //- Percentage
            div(ng-if="$ctrl.$lesson.unit === 'percentage'")
              .padding-v-half(ng-if="$ctrl.$lesson.totalWords")
                .md-subhead|Palabras correctas
                .md-display-1.opacity75
                  |{{$ctrl.$divide($ctrl.$get($ctrl.$params, $ctrl.$lesson.totalWords) * $ctrl.$data, 2)}} / {{$ctrl.$divide($ctrl.$get($ctrl.$params, $ctrl.$lesson.totalWords), 2)}}
              .padding-v-half(ng-if="$ctrl.$lesson.totalCycles")
                .md-subhead|Ciclos correctos
                .md-display-1.opacity75
                  |{{($ctrl.$params[$ctrl.$lesson.totalCycles] * $ctrl.$data).toFixed(1)}} / {{$ctrl.$params[$ctrl.$lesson.totalCycles]}}
              .padding-v-half
                .md-subhead|Porcentaje correcto
                .md-display-1.opacity75
                  |{{$ctrl.$data * 100 | number : 0}}
                  span.md-body-1|%
              .padding-v-quarter(ng-if="$ctrl.$correct")
                .md-body-1.opacity75|Palabras correctas:
                .md-subhead|{{$ctrl.$correct.join(', ')}}
              .padding-v-quarter(ng-if="$ctrl.$missing")
                .md-body-1.opacity75|Palabras faltantes:
                .md-subhead|{{$ctrl.$missing.join(', ')}}
              .padding-v-quarter(ng-if="$ctrl.$incorrect")
                .md-body-1.opacity75|Palabras incorrectas:
                .md-subhead|{{$ctrl.$incorrect.join(', ')}}
            //- Wpm + Comprehension
            div(ng-if="$ctrl.$lesson.unit === 'wpm'")
              .md-subhead|Velocidad de lectura
              .md-display-1.opacity75
                |{{$ctrl.$wpm | number : 0}}
                span.md-body-1|ppm
              .padding-v-half
              .md-subhead|Comprensión
              .md-display-1.opacity75
                |{{$ctrl.$comprehension * 100 | number : 0}}
                span.md-body-1|% 
            //- Scalar
            div(ng-if="$ctrl.$lesson.unit === 'number'")
              .md-subhead|Número alcanzado
              .md-display-1.opacity75|{{$ctrl.$data}}
            //- Time
            div(ng-if="$ctrl.$lesson.unit === 'milliseconds'")
              .md-subhead|Tiempo por palabra
              .md-display-1.opacity75
                |{{$ctrl.$data / 1000 | number : 1}}
                span.md-body-1|&nbsp;segundos   
              .padding-v-half
              .md-subhead|Tiempo total
              .md-display-1.opacity75
                |{{$ctrl.$data * $ctrl.$params[$ctrl.$lesson.totalCycles] / 1000 | number : 0}}
                span.md-body-1|&nbsp;segundos
            .margin(flex)
            md-button.md-raised.md-primary(ng-if="$ctrl.$isInitial" ui-sref="home")|CONTINUAR
            md-button.md-raised.md-primary(ng-if="!$ctrl.$isInitial" ui-sref="lesson.splash")|CONTINUAR