// CANCEL
wc-dialog(
  ng-if="$ctrl.CANCEL"
  wc-dialog-confirm="true"
  wc-dialog-labels=`{
    title: '¿Deseas salir del ejercicio?',
    body: 'Tu progreso no se guardará'
  }`
  catch="$ctrl.CANCEL = false")
  then
    wc-ui-redirect(
      wc-ui-redirect-sref="excersise.doubleFixation.splash")

.fixed-fill(
  layout="column")
  .md-whiteframe-5dp.z10(
    layout="row"
    layout-align="center")
    .container.padding-v-half(
      layout="row"
      layout-align="start center")
      md-button.md-icon-button(
        ng-click="$ctrl.CANCEL = true")
        md-icon|arrow_back
      .md-title|Doble fijación
      
  md-content.relative(
    flex
    layout="row"
    layout-align="center")
    .container
      it-articles(
        then="$ctrl.$article = $article; $ctrl.$questions = $questions")
      
      //- fd-ref(
        fd-ref-path="content/articles"
        fd-ref-array="true"
        then="$ctrl.$article = $data[$ctrl.$rand($data.length)]")
        before
          wc-progress(wc-progress-type="linear")
        then
          fd-ref(
            fd-ref-path="content/articleQuestions/-KhTfPpBNkVAa037gCFs"
            then="$ctrl.$questions = $data")
      
      double-fixation-excersise-component(
        ng-if="!$ctrl.$data && $ctrl.$article"
        article="$ctrl.$article"
        then="$ctrl.$data = $data")

      excersise-questions(
        ng-if="$ctrl.$data && !$ctrl.$comprehension && $ctrl.$questions"
        questions="$ctrl.$questions"
        then="$ctrl.$comprehension = $data")

      .container
        .padding(
          ng-if="$ctrl.$data && $ctrl.$comprehension")
          .md-headline|Velocidad de lectura
          .md-display-1.opacity75|{{$ctrl.$data | number : 0}} ppm    
          br
          .md-headline|Comprensión
          .md-display-1.opacity75|{{$ctrl.$comprehension * 100 | number : 0}}%
  div(
    ng-if="$ctrl.$data && $ctrl.$comprehension"
    layout="row"
    layout-align="center")
    .container(
      layout="row"
      layout-align="end")  
      md-button.md-raised.md-primary(
        ui-sref="excersise.doubleFixation.splash")
        |FINALIZAR
      it-hit(
        measurement="doubleFixation"
        level=4
        score="($ctrl.$data * $ctrl.$comprehension / 400) * 0.5")
      it-hit(
        measurement="doubleFixationWpm"
        value="$ctrl.$data")
      it-hit(
        measurement="doubleFixationComprehension"
        value="$ctrl.$comprehension")
    