.background.padding(
  layout="column"
  layout-align="start center"
  title="")
  .md-display-1.padding-v-half.center|{{$ctrl.article.content.title}}
  .relative(
    style="max-width: 12rem"
    ng-if="$ctrl.article"
    layout="column"
    layout-align="start space-between")
    .middle-line
    wc-text.text.roboto-slab.justify(
      wc-data="$ctrl.article.content.body"
      wc-placeholder=""
      wc-disabled="true")
  md-button.md-raised.md-primary.margin-half(
    ng-disabled="!$ctrl.$canContinue"
    ng-click=`$ctrl.$then($ctrl.article.content.body)`)
    |TERMINAR