div(
  layout="row"
  layout-align="start start")
  img.icon-48.margin-half(
    ng-src="{{$ctrl.image}}")
  div(
    flex
    layout="column")
    .md-title(
      md-colors="::{color: 'institutional-primary-800'}")|{{$ctrl.title}}
    p.md-body-1(
      md-colors="::{color: 'grey-primary-700'}")
      |{{$ctrl.body}}